force-app/main/default/flows/Adopter_Match_create_auto_match_records_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Build_Adopter_Match_Record</name>
        <label>Build Adopter Match Record</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Adopter_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Adopter_Profile_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Auto_Matched__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Match_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Match_Records</name>
        <label>Build Match Records</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAdopterMatchRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Adopter_Profile_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Adopter Match - create auto match records - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Adopter Match - create auto match records - Subflow</label>
    <loops>
        <name>Loop_Through_Adopter_Profile_Records</name>
        <label>Loop Through Adopter Profile Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>adopterProfileRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Adopter_Match_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Adoption_Match_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Adoption_Match_Records</name>
        <label>Create Adoption Match Records</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>newAdopterMatchRecords</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Adopter_Profile_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>adopterProfileRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Adopter_Profile__c</objectType>
    </variables>
    <variables>
        <name>animalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>newAdopterMatchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
    <variables>
        <name>newAdopterMatchRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
</Flow>
