force-app/main/default/flows/Adoption_Start_Adoption_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Build_Adopter_Profile</name>
        <label>Build Adopter Profile</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Current_Daytime_Arrangements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Current_Daytime_Arrangements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Location_of_Animal_Daytime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Location_of_Animal_Daytime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Location_of_Animal_Night__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Location_of_Animal_Night_time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Other_Animal_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Other_Pets_Animals__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Profile_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Small_Children__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childrenPresent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Type_of_Accommodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Type_of_Accommodation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Type_of_Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.TypeFromBreeds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Local_Vet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Has_Local_Vet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Local_Vet_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Local_Vet__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Other_Animals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Other_Animals__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Other_Animals_of_same_Species__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Other_Animals_of_same_Species__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Permission_to_House_Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Permission_to_House_Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterProfile.Safe_Outside_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAdoptionRecord.Safe_Outside_Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Adopter_Profile_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Adoption_record_from_Adopter_Profile_record</name>
        <label>Build Adoption record from Adopter Profile record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Adoption_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Current_Daytime_Arrangements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Current_Daytime_Arrangements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Local_Vet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Local_Vet_details__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Location_of_Animal_Daytime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Location_of_Animal_Daytime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Location_of_Animal_Night_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Location_of_Animal_Night__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Other_Pets_Animals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Other_Animal_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Reason_for_Adoption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Reason_for_wanting_to_Adopt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Type_of_Accommodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Type_of_Accommodation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Other_Animals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Other_Animals__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Other_Animals_of_same_Species__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Other_Animals_of_same_Species__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Permission_to_House_Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Permission_to_House_Animal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Safe_Outside_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record_for_Contact.Safe_Outside_Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createAdoptionRecordFromProfile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Additional_Adoption_Fields</name>
        <label>Set Additional Adoption Fields</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Adoption_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionRecord.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createAdoptionRecordfromNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Adopter_Profile_Exists</name>
        <label>Adopter Profile Exists?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Adopter_Profile_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Adopter Profile</defaultConnectorLabel>
        <rules>
            <name>Has_Active_Adopter_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Adopter_Profile_Record_for_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Animal_Types_Match</targetReference>
            </connector>
            <label>Has Active Adopter Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Animal_Types_Match</name>
        <label>Check Animal Types Match</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Animal_Type_Mismatch_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Animal Type Mismatch</defaultConnectorLabel>
        <rules>
            <name>Animal_Type_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Adopter_Profile_Record_for_Contact.Type_of_Animal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId.TypeFromBreeds__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Adoption_record_from_Adopter_Profile_record</targetReference>
            </connector>
            <label>Animal Type Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Adopter_Profile</name>
        <label>Create Adopter Profile?</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Adoption_Record_Created_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Profile Required</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createAdopterProfile.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Adopter_Profile</targetReference>
            </connector>
            <label>Yes Create Profile</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status of the Animal</description>
        <name>Is_Animal_Available_for_Adoption</name>
        <label>Is Animal Available for Adoption</label>
        <locationX>732</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Not_Available_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available for Adoption</defaultConnectorLabel>
        <rules>
            <name>Available_for_Adoption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Animal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available for Adoption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Screen_Contact_Selection</targetReference>
            </connector>
            <label>Available for Adoption</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] - Starts the adoption process for an available animal</description>
    <dynamicChoiceSets>
        <name>contactRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>localVetFromAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>newAdoptionRecord.Local_Vet__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>childrenPresent</name>
        <dataType>Boolean</dataType>
        <expression>{!newAdoptionRecord.Total_Children__c} &lt;&gt; 0</expression>
    </formulas>
    <interviewLabel>Adoption - Start Adoption Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Adoption - Start Adoption Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adopter_Profile_Record</name>
        <label>Create Adopter Profile Record</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Adoption_Record_Created_Screen</targetReference>
        </connector>
        <inputReference>newAdopterProfile</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Adopter_Profile_Record_for_Contact</name>
        <label>Get Adopter Profile Record for Contact</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adopter_Profile_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adopter_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Adoption_Record_Created_Screen</name>
        <label>Adoption Record Created Screen</label>
        <locationX>446</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Adoption_Record_Created_Screen_Text</name>
            <fieldText>&lt;p&gt;An adoption record has been created for {!recordId.Animal_Name__c} with {!contactFullName}.  The adoption process can now start.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Animal_Type_Mismatch_Screen</name>
        <label>Animal Type Mismatch Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Animal_Type_Mismatch_Screen_Text</name>
            <fieldText>&lt;p&gt;The animal type of {!Get_Adopter_Profile_Record_for_Contact.Type_of_Animal__c} on the Adopter Profile for {!contactFullName} does not match the animal selected for adoption.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check the details, this wizard will end&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Adoption_Information</name>
        <label>Capture Adoption Information</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Additional_Adoption_Fields</targetReference>
        </connector>
        <fields>
            <name>Capture_Adoption_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Adoption_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Current_Daytime_Arrangements__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Other_Animals__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Other_Animals_of_same_Species__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Other_Pets_Animals__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>newAdoptionRecord.Other_Animals__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>newAdoptionRecord.Other_Animals_of_same_Species__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Reason_for_Adoption__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Type_of_Accommodation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Permission_to_House_Animal__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Adoption_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Safe_Outside_Area__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Facilities_Available__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Location_of_Animal_Daytime__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Location_of_Animal_Night_time__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Total_Adults__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Total_Children__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAdoptionRecord.Has_Local_Vet__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Local_Vet_Details</name>
                    <choiceReferences>localVetFromAccount</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Local Vet Details</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>newAdoptionRecord.Has_Local_Vet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Adopter_Profile_Screen</name>
        <label>No Adopter Profile Screen</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Adoption_Information</targetReference>
        </connector>
        <fields>
            <name>No_Adopter_Profile_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Adopter_Profile_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_Adopter_Profile_Screen_Text</name>
                    <fieldText>&lt;p&gt;{!contactFullName} does not have an active Adopter Profile.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you want to create an adopter profile record that can be used in the future?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Adopter_Profile_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>createAdopterProfile</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create an Adopter Profile?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>No_Adopter_Profile_Screen_Text1</name>
            <fieldText>&lt;p&gt;NOTE: Adopter Profile record may need to go through a separate approval process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Available_Screen</name>
        <label>Not Available Screen</label>
        <locationX>1018</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Available_Screen_Text</name>
            <fieldText>&lt;p&gt;{!recordId.Animal_Name__c} is not available for adoption.  Check/update the animal&apos;s status and try again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen_Contact_Selection</name>
        <label>Start Screen &amp; Contact Selection</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Adopter_Profile_Record_for_Contact</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;You are going to create start the adoption process for {!recordId.Animal_Name__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Choose the Contact who is adopting the animal&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_a_Contact</name>
            <choiceReferences>contactRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Animal_Available_for_Adoption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>createAdoptionRecordfromNew</name>
        <label>createAdoptionRecordfromNew</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Adopter_Profile</targetReference>
        </connector>
        <flowName>Adoption_Create_Adoption_Record_SubFlow</flowName>
        <inputAssignments>
            <name>adoptionRecordtoCreate</name>
            <value>
                <elementReference>newAdoptionRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>createAdoptionRecordFromProfile</name>
        <label>createAdoptionRecordFromProfile</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Adoption_Record_Created_Screen</targetReference>
        </connector>
        <flowName>Adoption_Create_Adoption_Record_SubFlow</flowName>
        <inputAssignments>
            <name>adoptionRecordtoCreate</name>
            <value>
                <elementReference>newAdoptionRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>contactFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAdopterProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adopter_Profile__c</objectType>
    </variables>
    <variables>
        <name>newAdoptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
