force-app/main/default/flows/Adopter_Match_create_auto_match_records_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email when both inputs are Null</description>
        <name>Send_Email_on_Error</name>
        <label>Send Email on Error</label>
        <locationX>1194</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMessageOnNullValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An occurred in the Adopter Matching Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Build_Adopter_Match_Record</name>
        <label>Build Adopter Match Record</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Adopter_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Adopter_Profile_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Matched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Match_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Animal_Match</name>
        <label>Build Animal Match</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Adopter_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adopterProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Animal_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Matched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Matched_Animal_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Match_Records</name>
        <label>Build Match Records</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAdopterMatchRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Adopter_Profile_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Matched_Animal_Records</name>
        <label>Build Matched Animal Records</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newAdopterMatchRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAdopterMatchRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Animal_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets a variable that is available for output from the flow to signify record creation</description>
        <name>Set_Output_Flag</name>
        <label>Set Output Flag</label>
        <locationX>622</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>adoptionMatchRecordsCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_Adopter_Profile_records_based_on_Match_Criteria</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Adopter Profile records based on Match Criteria</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_Filter_Adopter_Profile_records_based_on_Match_Criteria_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Adopter_Profile_records_based_on_Type</collectionReference>
        <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Adopter_Profile_records_based_on_Match_Criteria_0.Gender__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>animalRecord.Gender__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Adopter_Profile_records_based_on_Match_Criteria_0.Preferred_Animal_Size__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>animalRecord.Size__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Adopter_Profile_records_based_on_Match_Criteria_0.Preferred_Maturity_Level__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>animalRecord.Age_Category__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Adopter_Profile_records_based_on_Match_Criteria_0.Preferred_Maturity_Level__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>No preference</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Adopter_Profile_Records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Animal_records_based_on_Matching_Criteria</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Animal records based on Matching Criteria</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_Filter_Animal_records_based_on_Matching_Criteria_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Animal_records_based_on_Type</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Animal_records_based_on_Matching_Criteria_0.Gender__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>adopterProfile.Gender__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Animal_records_based_on_Matching_Criteria_0.Size__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>adopterProfile.Preferred_Animal_Size__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Animal_records_based_on_Matching_Criteria_0.Age_Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>adopterProfile.Preferred_Maturity_Level__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Animal_Records</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Triggered_by_Which_Object</name>
        <label>Triggered by Which Object</label>
        <locationX>622</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Send_Email_on_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>animalRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>adopterProfile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Adopter_Profile_records_based_on_Type</targetReference>
            </connector>
            <label>Animal</label>
        </rules>
        <rules>
            <name>Adopter_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adopterProfile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>animalRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Animal_records_based_on_Type</targetReference>
            </connector>
            <label>Adopter Profile</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Subflow to create Adopter Match records. Flow accepts Animal or Adopter Profile record as input</description>
    <environments>Default</environments>
    <interviewLabel>Adopter Match - create auto match records - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Adopter Match - Create Adoption Match Records - Subflow</label>
    <loops>
        <name>Loop_Through_Adopter_Profile_Records</name>
        <label>Loop Through Adopter Profile Records</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Filter_Adopter_Profile_records_based_on_Match_Criteria</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Adopter_Match_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Adoption_Match_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Animal_Records</name>
        <label>Loop Through Animal Records</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Animal_records_based_on_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Animal_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Adoption_Match_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Adoption_Match_Records</name>
        <label>Create Adoption Match Records</label>
        <locationX>622</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Set_Output_Flag</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Email_on_Error</targetReference>
        </faultConnector>
        <inputReference>newAdopterMatchRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get adopter profile records that match the animal type</description>
        <name>Get_Adopter_Profile_records_based_on_Type</name>
        <label>Get Adopter Profile records based on Type</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Adopter_Profile_records_based_on_Match_Criteria</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Email_on_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_of_Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>animalRecord.TypeFromBreeds__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Profile_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Adopter_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get animal records that match the animal type on the adopter profile record</description>
        <name>Get_Animal_records_based_on_Type</name>
        <label>Get Animal records based on Type</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Animal_records_based_on_Matching_Criteria</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Email_on_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available for Adoption</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypeFromBreeds__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adopterProfile.Type_of_Animal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Triggered_by_Which_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessageOnNullValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error: {!$Flow.FaultMessage} at &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Expected inputs are Null or a DML has failed &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your Systems Administrator&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>adopterProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Adopter_Profile__c</objectType>
    </variables>
    <variables>
        <name>adopterProfileRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adopter_Profile__c</objectType>
    </variables>
    <variables>
        <name>adoptionMatchRecordsCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>animalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Adopter_Profile_records_based_on_Match_Criteria_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adopter_Profile__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Animal_records_based_on_Matching_Criteria_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>newAdopterMatchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
    <variables>
        <name>newAdopterMatchRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
