force-app/main/default/flows/Adopter_Profile_Create_new_Adopter_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Create_New_Profile_Selected</name>
        <label>Create New Profile Selected</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>No_New_Profile_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No new profile</defaultConnectorLabel>
        <rules>
            <name>Yes_new_profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Profile_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Profile</targetReference>
            </connector>
            <label>Yes new profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Adopter_Profiles</name>
        <label>Existing Adopter Profiles?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Adopter_Profile_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Profile</defaultConnectorLabel>
        <rules>
            <name>Active_Profile_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Adopter_Profiles_for_this_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Profile_Screen</targetReference>
            </connector>
            <label>Active Profile Exists</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Creates a new Adopter Profile record and Contact is required</description>
    <environments>Default</environments>
    <interviewLabel>Adopter Profile - Create new Adopter Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adopter Profile - Create new Adopter Profile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Adopter_Profiles_for_this_Contact</name>
        <label>Get Adopter Profiles for this Contact</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Adopter_Profiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adopter_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Profile</name>
        <label>Update Existing Profile</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Adopter_Profile_Details_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Adopter_Profiles_for_this_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profile_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Adopter_Profile__c</object>
    </recordUpdates>
    <screens>
        <name>Active_Profile_Screen</name>
        <label>Active Profile Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Profile_Selected</targetReference>
        </connector>
        <fields>
            <name>Active_Profile_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Active_Profile_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Active_Profile_Screen_Text</name>
                    <fieldText>&lt;p&gt;An active Adopter Profile dated{!Get_Adopter_Profiles_for_this_Contact.Profile_Start_Date__c} already exists do you want to create a new one?  Select your option on the right.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Active_Profile_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Profile_toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create new Adopter Profile?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes, Create new</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No Use current profile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Adopter_Profile_Details_Screen</name>
        <label>Adopter Profile Details Screen</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_New_Profile_Screen</name>
        <label>No New Profile Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_new_profile_screen_text</name>
            <fieldText>&lt;p&gt;You have selected not to create a new profile, and as there is already and active one, this wizard is complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Adopter_Profiles_for_this_Contact</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;This wizard will create a new Adopter Profile for the given Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
