force-app/main/default/flows/Animal_Breeds_Migration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Build_List_of_Records_to_Update</name>
        <label>Build List of Records to Update</label>
        <locationX>1018</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>AnimalsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAnimalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_through_Animal_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Animal and Breed Record IDs, and sets the Migrated Flag to True</description>
        <name>Get_Animal_and_Breed_record_Ids</name>
        <label>Get Animal and Breed record Ids</label>
        <locationX>1018</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>SingleAnimalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cycle_through_Animal_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnimalRecord.Breed_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Search_Breeds_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnimalRecord.SYSTEM_Breed_Migrated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_List_of_Records_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Flag</name>
        <label>Set Error Flag</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>MigrationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_through_Animal_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Searches the Breeds Collection to match Animal Type and Breed</description>
        <name>Search_Breeds_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Search Breeds Collection</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <assignNextValueToReference>currentItem_Search_Breeds_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllActiveBreedRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Search_Breeds_Collection.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Cycle_through_Animal_Records.Type__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Search_Breeds_Collection.Species__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Cycle_through_Animal_Records.Breed__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Has_Breed_Record_Been_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Continue_with_Migration</name>
        <label>Continue with Migration</label>
        <locationX>1095</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Migration No Go</defaultConnectorLabel>
        <rules>
            <name>Migration_Go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_the_box_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Animals_Records_for_Migration</targetReference>
            </connector>
            <label>Migration Go</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Breed_Record_Been_Found</name>
        <label>Has Breed Record Been Found?</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_Animal_and_Breed_record_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Breed Record Found</defaultConnectorLabel>
        <rules>
            <name>Breed_Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Breeds_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Flag</targetReference>
            </connector>
            <label>Breed Record Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Migration_Already_Been_Completed</name>
        <label>Has Migration Already Been Completed?</label>
        <locationX>572</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Confirm_Migration_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Migration Not Completed</defaultConnectorLabel>
        <rules>
            <name>Migration_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BreedsMigrationComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Migration_Previously_Completed</targetReference>
            </connector>
            <label>Migration Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mark_Migration_as_Complete</name>
        <label>Mark Migration as Complete?</label>
        <locationX>864</locationX>
        <locationY>1910</locationY>
        <defaultConnectorLabel>Migration Not Complete</defaultConnectorLabel>
        <rules>
            <name>Migration_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_to_mark_migration_as_complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Setting_to_True</targetReference>
            </connector>
            <label>Migration Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_There_Errors_in_Matching</name>
        <label>Were There Errors in Matching</label>
        <locationX>666</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>No_Match_Errors_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Errors Encountered</defaultConnectorLabel>
        <rules>
            <name>Match_Errors_Encountered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MigrationErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Errors_Screen</targetReference>
            </connector>
            <label>Match Errors Encountered</label>
        </rules>
    </decisions>
    <description>Flow used to migrate Animal Type and Breeds from Picklist to Object Lookup</description>
    <environments>Default</environments>
    <formulas>
        <description>Matched to Custom Setting</description>
        <name>BreedsMigrationComplete</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Animal_Shelter_Settings__c.Breeds_Migration_Complete__c}</expression>
    </formulas>
    <interviewLabel>Animal - Breeds Migration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Breeds Migration Flow</label>
    <loops>
        <name>Cycle_through_Animal_Records</name>
        <label>Cycle through Animal Records</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <collectionReference>AnimalsToMigrate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Search_Breeds_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Animal_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Signifies that migration is complete</description>
        <name>Update_Custom_Setting_to_True</name>
        <label>Update Custom Setting to True</label>
        <locationX>732</locationX>
        <locationY>2030</locationY>
        <inputAssignments>
            <field>Breeds_Migration_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Animal_Shelter_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Active_Breed_Records</name>
        <label>Get All Active Breed Records</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_through_Animal_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Breed__c</object>
        <outputReference>AllActiveBreedRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Species__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all animal records with Is Migrated flag set to false</description>
        <name>Get_Animals_Records_for_Migration</name>
        <label>Get Animals Records for Migration</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Breed_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SYSTEM_Breed_Migrated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputReference>AnimalsToMigrate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Breed_Lookup__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Records</name>
        <label>Update Animal Records</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Were_There_Errors_in_Matching</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Updating_Animal_Records</targetReference>
        </faultConnector>
        <inputReference>AnimalsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Migration_Screen</name>
        <label>Confirm Migration Screen</label>
        <locationX>1095</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_with_Migration</targetReference>
        </connector>
        <fields>
            <name>Confirm_Migration_Screen_Text</name>
            <fieldText>&lt;p&gt;This process will update all Animal records to use the new Breeds object.  To avoid errors you should first populate the Breeds object with the records needed to match the Animal Types and Breeds that you are using.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_the_box_to_continue</name>
            <dataType>Boolean</dataType>
            <fieldText>Check the box to continue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Updating_Animal_Records</name>
        <label>Fault Updating Animal Records</label>
        <locationX>1260</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Updating_Animal_Records_Text</name>
            <fieldText>&lt;p&gt;Oops!  Looks like there has been an issue trying to update the Animal Records.  Please contact your System Admin with the following details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Match_Errors_Screen</name>
        <label>Match Errors Screen</label>
        <locationX>468</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Match_Errors_Screen_Text</name>
            <fieldText>&lt;p&gt;During the migration process, One or More Animal record(s) with Type and Breed set were unable to be matched with the Breeds records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Run the &lt;strong&gt;&lt;em&gt;Animals - Breeds Migration Not Completed&lt;/em&gt;&lt;/strong&gt; report to see which Animal records do not have the migrated flag set.&lt;/li&gt;&lt;li&gt;Add the required Breeds records&lt;/li&gt;&lt;li&gt;Run the Migration process again&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Migration_Previously_Completed</name>
        <label>Migration Previously Completed</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Migration_Previously_Completed_Text</name>
            <fieldText>&lt;p&gt;It looks like the migration process  has already been marked as completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If this is not the case contact your Systems Administrator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Match_Errors_Screen</name>
        <label>No Match Errors Screen</label>
        <locationX>864</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mark_Migration_as_Complete</targetReference>
        </connector>
        <fields>
            <name>No_Match_Errors_Screen_Text</name>
            <fieldText>&lt;p&gt;All Animal records have been successfully migrated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Remove the old Type and Breed fields from the Animal Page Layouts.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can now mark the Migration process as complete.  Checking the box below means that you will not be able to run this process again, without Admin intervention.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_to_mark_migration_as_complete</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm to mark migration as complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>446</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Migration_Already_Been_Completed</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllActiveBreedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Breed__c</objectType>
    </variables>
    <variables>
        <name>AnimalsToMigrate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>AnimalsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>BreedPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Search_Breeds_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Breed__c</objectType>
    </variables>
    <variables>
        <description>Indicates that not all animal records can be matched to breeds</description>
        <name>MigrationErrors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleAnimalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>TypePicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
