force-app/main/default/flows/Animal_Movement_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_new_Movement_Record_Id</name>
        <label>Get new Movement Record Id</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newMovementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewMovementRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Newly_Created_Movement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Movement_Record_Assignments</name>
        <label>Movement Record Assignments</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewMovementType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Movement_Record</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fmlLocationName</name>
        <dataType>String</dataType>
        <expression>IF(
{!varNewMovementType} = &quot;Housed&quot;, 
{!varNewMovementType} + &quot; - &quot; + {!varNewLocationName},
{!varNewMovementType}
)</expression>
    </formulas>
    <interviewLabel>Animal - Movement SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Movement SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Movement_Record</name>
        <label>Create Movement Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_new_Movement_Record_Id</targetReference>
        </connector>
        <inputReference>varNewMovementRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Newly_Created_Movement_Record</name>
        <label>Get Newly Created Movement Record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Animal_Location_Status_to_Housed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newMovementId</elementReference>
            </value>
        </filters>
        <object>Movement__c</object>
        <outputAssignments>
            <assignToReference>varNewLocationName</assignToReference>
            <field>Location_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNewSiteName</assignToReference>
            <field>Sitename__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNewMovementType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Location_Status_to_Housed</name>
        <label>Update Animal Location Status to Housed</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Location_Status__c</field>
            <value>
                <elementReference>fmlLocationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>varNewSiteName</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Movement_Record_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newMovementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewMovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
    <variables>
        <name>varNewMovementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewSiteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
