force-app/main/default/flows/Animal_Clone_Animal_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Clone_to_Collection</name>
        <label>Add Clone to Collection</label>
        <locationX>837</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>CloneAnimalRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloneAnimalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Clone_Record</name>
        <label>Create Clone Record</label>
        <locationX>837</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Animal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Animal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Animal_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Breed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Secondary_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Date_of_Arrival__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Date_of_Arrival__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Crossbreed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Crossbreed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Coat_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Coat_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Entry_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Entry_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Entry_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Entry_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Microchip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Previous_Current_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Previous_Current_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Neutered_Spayed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Neutered_Spayed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneAnimalRecord.Neutered_Spayed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAnimalRecord.Neutered_Spayed_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Clone_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Counter</name>
        <label>Increase Counter</label>
        <locationX>597</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_Created_all_the_Clones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_we_Created_all_the_Clones</name>
        <label>Have we Created all the Clones?</label>
        <locationX>590</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>Create_Clone_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Clones_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoOfClonesRequired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Clone_Records</targetReference>
            </connector>
            <label>Yes - Clones Created</label>
        </rules>
    </decisions>
    <interviewLabel>Animal - Clone Animal Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Clone Animal Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Clone_Records</name>
        <label>Create Clone Records</label>
        <locationX>885</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>UpdatedCloneRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Animal_Record</name>
        <label>Get Current Animal Record</label>
        <locationX>382</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_we_Created_all_the_Clones</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalID</elementReference>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputReference>CurrentAnimalRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Animal_Name__c</queriedFields>
        <queriedFields>Animal_Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Secondary_Colour__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Date_of_Birth__c</queriedFields>
        <queriedFields>Date_of_Arrival__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Crossbreed__c</queriedFields>
        <queriedFields>Coat_Type__c</queriedFields>
        <queriedFields>Entry_Reason__c</queriedFields>
        <queriedFields>Entry_Comments__c</queriedFields>
        <queriedFields>Microchip__c</queriedFields>
        <queriedFields>Previous_Current_Owner__c</queriedFields>
        <queriedFields>Size__c</queriedFields>
        <queriedFields>Neutered_Spayed__c</queriedFields>
        <queriedFields>Neutered_Spayed_Date_Time__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Ask_for_Number_of_Clones_Screen</name>
        <label>Ask for Number of Clones Screen</label>
        <locationX>406</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Animal_Record</targetReference>
        </connector>
        <fields>
            <name>Ask_for_Number_of_Clones_Title</name>
            <fieldText>&lt;p&gt;&lt;b&gt;How many Clones?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ask_for_Number_of_Clones_Text</name>
            <fieldText>&lt;p&gt;How many additional animal records do you want to create?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoOfClonesRequired</name>
            <dataType>Number</dataType>
            <fieldText>Clones</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>1141</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completion_Screen_Text</name>
            <fieldText>&lt;p&gt;Your clone records have been created.  Please remember to update any remain details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>242</locationX>
        <locationY>648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Text</name>
            <fieldText>&lt;p&gt;There appears to have been an Error.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>280</locationX>
        <locationY>74</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ask_for_Number_of_Clones_Screen</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Title</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Multi-Animal Clone&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;From here you can make multi copies of the current animal record, ideal if you are taking a litter into the shelter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnimalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloneAnimalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>CloneAnimalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentAnimalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>UpdatedCloneRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
