force-app/main/default/flows/Animal_Lost_Found_Animal_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Build_Alert</name>
        <label>Build Alert</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>newAnimalAlertRecord.%%%NAMESPACED_ORG%%%Alert_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalAlertMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalAlertRecord.%%%NAMESPACED_ORG%%%Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalAlertRecord.%%%NAMESPACED_ORG%%%Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalAlertRecord.%%%NAMESPACED_ORG%%%End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>daysToAddToStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Animal_Alert</targetReference>
        </connector>
    </assignments>
    <description>[Animal Shelter] - Creates Alert on Animal set to Lost/Found - Replaced Process Builder</description>
    <environments>Default</environments>
    <formulas>
        <name>daysToAddToStartDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 30</expression>
    </formulas>
    <interviewLabel>Animal - Lost/Found Animal Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Lost/Found Animal Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Animal_Alert</name>
        <label>Create Animal Alert</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>newAnimalAlertRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Lost_Found__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>animalAlertMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Animal has been marked as Lost/Found. Please check/update the relevant agencies</stringValue>
        </value>
    </variables>
    <variables>
        <name>newAnimalAlertRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Animal_Alert__c</objectType>
    </variables>
</Flow>
