force-app/main/default/flows/Animal_Clone_Animal_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_ID</name>
        <label>Generate ID</label>
        <locationX>940</locationX>
        <locationY>350</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Clone_Record</targetReference>
        </connector>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>999999.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>100000.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Animal_to_Collection</name>
        <label>Add Animal to Collection</label>
        <locationX>976</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>clonedAnimalRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cloneAnimalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Id_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Id_to_List</name>
        <label>Add Id to List</label>
        <locationX>778</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>listOfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_created_all_the_Clones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_List_of_ID_s</name>
        <label>Build List of ID&apos;s</label>
        <locationX>972</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>createdRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Capture_IDs_of_Created_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_IDs_of_Created_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Clone_Record</name>
        <label>Create Clone Record</label>
        <locationX>1131</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Animal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Animal_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Animal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Breed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Clone_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Colour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Crossbreed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Crossbreed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Date_of_Arrival__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Current_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Current_Weight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Estimated_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Estimated_Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Entry_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Entry_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Lost_Found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Lost_Found__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Microchip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Previous_Current_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Previous_Current_Owner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Secondary_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Secondary_Colour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Animal_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Counter_by_1</name>
        <label>Increase Counter by 1</label>
        <locationX>758</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>clonesCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter_to_0</name>
        <label>Set Counter to 0</label>
        <locationX>438</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>clonesCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_created_all_the_Clones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_we_created_all_the_Clones</name>
        <label>Have we created all the Clones?</label>
        <locationX>583</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Increase_Counter_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Round Again</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clonesCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_of_Clones</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Records_for_Editing</targetReference>
            </connector>
            <label>Yes All Done</label>
        </rules>
    </decisions>
    <description>Clones an Animal Record a number of times determined by the User, and displays for Editing.</description>
    <formulas>
        <name>tempId</name>
        <dataType>String</dataType>
        <expression>TEXT({!Generate_ID.randomNumber})</expression>
    </formulas>
    <interviewLabel>Animal - Clone Animal Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Clone Animal Record</label>
    <loops>
        <name>Capture_IDs_of_Created_Records</name>
        <label>Capture IDs of Created Records</label>
        <locationX>869</locationX>
        <locationY>588</locationY>
        <collectionReference>updatedAnimalRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_List_of_ID_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completion_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cloned_Records</name>
        <label>Create Cloned Records</label>
        <locationX>732</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Capture_IDs_of_Created_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>updatedAnimalRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the details of the animal record to be cloned</description>
        <name>Get_Animal_To_Be_Cloned</name>
        <label>Get Animal To Be Cloned</label>
        <locationX>176</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Clones</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputReference>animalToBeCloned</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Animal_Name__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Animal_Status__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Clone_ID__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Current_Weight__c</queriedFields>
        <queriedFields>Date_of_Arrival__c</queriedFields>
        <queriedFields>Entry_Reason__c</queriedFields>
        <queriedFields>Estimated_Age__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Lost_Found__c</queriedFields>
        <queriedFields>Microchip__c</queriedFields>
        <queriedFields>Previous_Current_Owner__c</queriedFields>
        <queriedFields>Secondary_Colour__c</queriedFields>
        <queriedFields>Size__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Crossbreed__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>1211</locationX>
        <locationY>586</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_Text</name>
            <fieldText>&lt;p&gt;Cloning process is complete, you have successfully created {!No_of_Clones} records&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Records_for_Editing</name>
        <label>Display Records for Editing</label>
        <locationX>590</locationX>
        <locationY>432</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Cloned_Records</targetReference>
        </connector>
        <fields>
            <name>Display_Records_for_Editing_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;You will need to edit the Cloned records, so they can be created.  Edit by clicking the pencil next to the fields.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnimalDatatable</name>
            <extensionName>c:FSCAnimalCloneDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydataAnimal</name>
                <value>
                    <elementReference>clonedAnimalRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listSelectedIds</name>
                <value>
                    <elementReference>listOfIds</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>updatedAnimalRecords</assignToReference>
                <name>selectedRowsAnimal</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>123</locationX>
        <locationY>546</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Screen_Text</name>
            <fieldText>&lt;p&gt;Sorry, there has been a problem.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Number_of_Clones</name>
        <label>Number of Clones</label>
        <locationX>299</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Counter_to_0</targetReference>
        </connector>
        <fields>
            <name>Number_of_Clones_Text</name>
            <fieldText>&lt;p&gt;You are about to clone the animal record for &lt;b&gt;{!animalToBeCloned.Animal_Name__c} &lt;/b&gt;You will be able to make some changes to the new cloned animal records prior to saving.  How many clone animal records do you wish to make?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_of_Clones</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>No. of Clones</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;The number of clones needs to be between 1 and 10.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
{!No_of_Clones} &gt;= 1 ,
{!No_of_Clones} &lt;= 10
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Clones_Related_Text</name>
            <fieldText>&lt;p&gt;Do these animals have a relationship to the original animal, or a relationship between themselves, i.e. Is this a litter from the Parent animal or siblings with each other?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedAnimals</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes they&apos;re Related</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No they&apos;re Not</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Animal_To_Be_Cloned</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>animalToBeCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>cloneAnimalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>clonedAnimalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>cloneRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clonesCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>createdRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedAnimalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
