force-app/main/default/flows/Animal_Generate_Tasks_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Task_Subject</name>
        <label>Assign Task Subject</label>
        <locationX>417</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>movementRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_List_of_Tasks</name>
        <label>Build List of Tasks</label>
        <locationX>1255</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>updatedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OwnerID_for_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner_ID</name>
        <label>Update Owner ID</label>
        <locationX>1296</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>SingleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_OwnerID_for_Collection.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_OwnerID_for_Collection.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_OwnerID_for_Collection.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_OwnerID_for_Collection.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_OwnerID_for_Collection.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_OwnerID_for_Collection.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_List_of_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Type_of_Task_to_Create</name>
        <label>What Type of Task to Create</label>
        <locationX>674</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Movement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Movement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Movement_Record</targetReference>
            </connector>
            <label>Movement</label>
        </rules>
        <rules>
            <name>Animal_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OwnerID_for_Collection</targetReference>
            </connector>
            <label>Animal Action</label>
        </rules>
    </decisions>
    <formulas>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +2</expression>
    </formulas>
    <formulas>
        <name>taskSubjectFormula</name>
        <dataType>String</dataType>
        <expression>IF(
            {!Movement}, {!Get_Animal_Details.%%%NAMESPACED_ORG%%%Animal_Name__c} + &quot; needs to be moved to &quot; + {!Get_Current_Movement_Record.%%%NAMESPACED_ORG%%%Location_Name__c}, {!Get_Animal_Details.%%%NAMESPACED_ORG%%%Animal_Name__c} + &quot;Action to be Completed&quot;)        </expression>
    </formulas>
    <interviewLabel>Animal - Generate Tasks Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Generate Tasks Subflow</label>
    <loops>
        <name>Update_OwnerID_for_Collection</name>
        <label>Update OwnerID for Collection</label>
        <locationX>929</locationX>
        <locationY>643</locationY>
        <collectionReference>ActionTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Owner_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Multiple_Action_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Multiple_Action_tasks</name>
        <label>Create Multiple Action tasks</label>
        <locationX>942</locationX>
        <locationY>850</locationY>
        <inputReference>updatedTasks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>429</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>taskRelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_Details</name>
        <label>Get Animal Details</label>
        <locationX>681</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Type_of_Task_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>animalRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Movement_Record</name>
        <label>Get Current Movement Record</label>
        <locationX>334</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>movementRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID</name>
        <label>Get Queue ID</label>
        <locationX>681</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Animal_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskQueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>555</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Queue_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>animalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>movementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newMovementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Which Animal Shelter object is this task related to</description>
        <name>taskObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskRelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
