force-app/main/default/flows/Animal_Animal_Location_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>choiceExisting</name>
        <choiceText>Update existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNew</name>
        <choiceText>Create new</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Animal_ID_has_been_passed</name>
        <label>Check if Animal ID has been passed</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Capture_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Animal ID</defaultConnectorLabel>
        <rules>
            <name>No_Animal_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_or_Existing</targetReference>
            </connector>
            <label>No Animal ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Animal</name>
        <label>New or Existing Animal?</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Existing_Animal_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Animal</defaultConnectorLabel>
        <rules>
            <name>Create_New_Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_or_Existing_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceNew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Animal_Details</targetReference>
            </connector>
            <label>Create New Animal</label>
        </rules>
    </decisions>
    <description>[Animal Shelter Starter] - Captures the users current location and assigns that location to a new or existing animal</description>
    <dynamicChoiceSets>
        <name>choiceGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Animal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>existingAnimals</name>
        <dataType>String</dataType>
        <displayField>Animal_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Geolocation__Latitude__s</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Animal_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Animal_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Animal - Animal Location Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Animal Location Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Animal_Record</name>
        <label>Create New Animal Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Capture_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_New_Animal</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal_Name__c</field>
            <value>
                <elementReference>Animal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>TypeAndBreed.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Primary_Colour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Crossbreed__c</field>
            <value>
                <elementReference>Crossbreed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Weight__c</field>
            <value>
                <elementReference>Estimated_Weight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Arrival__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Age__c</field>
            <value>
                <elementReference>Estimated_Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip__c</field>
            <value>
                <elementReference>MicroChip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Colour__c</field>
            <value>
                <elementReference>Secondary_Colour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypeAndBreed.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Animal_with_Location</name>
        <label>Update Animal with Location</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Animal_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Geolocation__Latitude__s</field>
            <value>
                <elementReference>Capture_Geo.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geolocation__Longitude__s</field>
            <value>
                <elementReference>Capture_Geo.longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <screens>
        <name>Capture_Location</name>
        <label>Capture Location</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Animal_with_Location</targetReference>
        </connector>
        <fields>
            <name>Capture_Geo</name>
            <extensionName>c:FSCGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_Text</name>
            <fieldText>&lt;p&gt;DONE: Animal Created/Updated with location&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_New_Animal</name>
        <label>Error Creating New Animal</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Creating_New_Animal_Text</name>
            <fieldText>&lt;p&gt;There has been an Error attempting to create a new Animal Record&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Animal_Record</name>
        <label>Error Updating Animal Record</label>
        <locationX>1018</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Updating_Animal_Record_Text</name>
            <fieldText>&lt;p&gt;There has been an error attempting to update the Animal Record&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Animal_Selection</name>
        <label>Existing Animal Selection</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Location</targetReference>
        </connector>
        <fields>
            <name>SelectAnimal</name>
            <choiceReferences>existingAnimals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SelectAnimal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Animal_ID_has_been_passed</targetReference>
        </connector>
        <fields>
            <name>Initial_Screen_Text</name>
            <fieldText>&lt;p&gt;This process will capture the current location of &lt;b&gt;&lt;i&gt;YOUR&lt;/i&gt;&lt;/b&gt; device/browser.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initial_Screen_Text_Alert</name>
            <fieldText>&lt;p&gt;⚠️&lt;i style=&quot;font-size: 10px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You may be prompted to grant permission to access your location!&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Animal_Details</name>
        <label>New Animal Details</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Animal_Record</targetReference>
        </connector>
        <fields>
            <name>Animal_Name</name>
            <dataType>String</dataType>
            <fieldText>Animal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TypeAndBreed</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Animal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Breed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Breed</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MicroChip</name>
            <dataType>String</dataType>
            <fieldText>MicroChip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>choiceGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Colour</name>
            <dataType>String</dataType>
            <fieldText>Primary Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Secondary_Colour</name>
            <dataType>String</dataType>
            <fieldText>Secondary Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crossbreed</name>
            <dataType>Boolean</dataType>
            <fieldText>Crossbreed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Age</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estimated_Weight</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_or_Existing</name>
        <label>New or Existing</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Existing_Animal</targetReference>
        </connector>
        <fields>
            <name>New_or_Existing_Text</name>
            <fieldText>&lt;p&gt;&lt;i&gt;No Animal ID was specified. Choose to either create a new animal, or update an existing animal.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_or_Existing_Option</name>
            <choiceReferences>choiceNew</choiceReferences>
            <choiceReferences>choiceExisting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New or Existing</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
