force-app/main/default/flows/Animal_Foster_Relationship_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Existing_Foster_Relationship</name>
        <label>Existing Foster Relationship?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_New_Foster_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Existing</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Foster_Relationship_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Existing_Foster_Relationship</targetReference>
            </connector>
            <label>Yes Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Movement_Type_Fostered</name>
        <label>Is Movement Type Fostered</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>movementRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fostered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Foster_Relationship_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] - Subflow - Creates a new Foster Relationship record, and updates existing</description>
    <environments>Default</environments>
    <interviewLabel>Animal - Foster Relationship SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Foster Relationship SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Foster_Relationship</name>
        <label>Create New Foster Relationship</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>movementRecord.Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>movementRecord.Location__r.Foster_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Relationship_RecordType.returnedRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Types__c</field>
            <value>
                <stringValue>Foster</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Foster_Relationship_records</name>
        <label>Get Existing Foster Relationship records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Foster_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>movementRecord.Animal__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foster</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updated_Existing_Foster_Relationship</name>
        <label>Updated Existing Foster Relationship</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_New_Foster_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Foster_Relationship_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Relationship_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Relationship_RecordType</name>
        <label>Get Relationship RecordType</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Is_Movement_Type_Fostered</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Human_Relationship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Animal_Relationship__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>movementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
</Flow>
