force-app/main/default/flows/Animal_Movement_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Task_Subject</name>
        <label>Assign Task Subject</label>
        <locationX>6031</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Movement_Records</name>
        <label>Count Movement Records</label>
        <locationX>584</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>MovementCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MovementRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Movement_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AdoptedMovement</name>
        <choiceText>Animal has been adopted</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conAdopted</elementReference>
        </value>
    </choices>
    <choices>
        <name>BoardingMovement</name>
        <choiceText>Animal is Boarding</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conBoarding</elementReference>
        </value>
    </choices>
    <choices>
        <name>DeceasedMovement</name>
        <choiceText>Mark Animal as deceased and clear location</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conDeceased</elementReference>
        </value>
    </choices>
    <choices>
        <name>FosterMovement</name>
        <choiceText>Move to a Foster</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conFostered</elementReference>
        </value>
    </choices>
    <choices>
        <name>HousedMovement</name>
        <choiceText>House Internally</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conHoused</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferredMovement</name>
        <choiceText>Transferred to another Organisation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conTransferred</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>conAdopted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Adopted</stringValue>
        </value>
    </constants>
    <constants>
        <name>conBoarding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Boarding</stringValue>
        </value>
    </constants>
    <constants>
        <name>conDeceased</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFostered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fostered</stringValue>
        </value>
    </constants>
    <constants>
        <name>conHoused</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Housed</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTransferred</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferred</stringValue>
        </value>
    </constants>
    <constants>
        <name>queueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task_List</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Animal_Deceased_Path</name>
        <label>Animal Deceased Path?</label>
        <locationX>2480</locationX>
        <locationY>1472</locationY>
        <defaultConnector>
            <targetReference>Get_Unit_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Animal_Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnimalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conDeceased</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Deceased_Movement_Record</targetReference>
            </connector>
            <label>Yes - Animal Deceased</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Existing_Movement_records</name>
        <label>Any Existing Movement records?</label>
        <locationX>441</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>Get_Unit_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Movement_RecordsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Movement_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_With_Flow</name>
        <label>Continue With Flow?</label>
        <locationX>1453</locationX>
        <locationY>1719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Movement_Record</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
        <rules>
            <name>No_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>No Finish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Animal_Deceased_with_an_Active_Deceased_Movement_Record</name>
        <label>Is the Animal Deceased with an Active Deceased Movement Record</label>
        <locationX>1453</locationX>
        <locationY>1101</locationY>
        <defaultConnector>
            <targetReference>Animal_Has_Existing_Location_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Animal Alive with Location</defaultConnectorLabel>
        <rules>
            <name>Deceased_with_Non_Deceased_Movement_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnimalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conDeceased</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MovementType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conDeceased</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Animal_Already_Deceased</targetReference>
            </connector>
            <label>Deceased with Non Deceased Movement record</label>
        </rules>
        <rules>
            <name>Deceased_with_Deceased_Movement_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conDeceased</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnimalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conDeceased</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Animal_Already_Deceased_With_Correct_Movement_Record</targetReference>
            </connector>
            <label>Deceased with Deceased Movement record</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Current_Movement</name>
        <label>More than 1 Current Movement?</label>
        <locationX>855</locationX>
        <locationY>776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Movement_Records_Screen</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
        <rules>
            <name>Equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Movement_and_Location_Record_ID</targetReference>
            </connector>
            <label>Equals 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Generate_Tasks</name>
        <label>Need to Generate Tasks?</label>
        <locationX>5525</locationX>
        <locationY>844</locationY>
        <defaultConnector>
            <targetReference>Movement_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tasks</defaultConnectorLabel>
        <rules>
            <name>Yes_Generate_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID</targetReference>
            </connector>
            <label>Yes Generate Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Deceased_Animal</name>
        <label>Update Deceased Animal</label>
        <locationX>1955</locationX>
        <locationY>1307</locationY>
        <defaultConnector>
            <targetReference>Check_Deceased_Animal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Make_Deceased_Animal_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_Correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Movement_Record</targetReference>
            </connector>
            <label>Yes Make Deceased Animal Updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Move</name>
        <label>What Type of Move?</label>
        <locationX>3178</locationX>
        <locationY>982</locationY>
        <defaultConnector>
            <targetReference>Deceased_Selection_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deceased</defaultConnectorLabel>
        <rules>
            <name>Housed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HousedMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Selection_Screen</targetReference>
            </connector>
            <label>Housed</label>
        </rules>
        <rules>
            <name>Transferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TransferredMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organisation_RecordType</targetReference>
            </connector>
            <label>Transferred</label>
        </rules>
        <rules>
            <name>Fostered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FosterMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Foster_RecordType</targetReference>
            </connector>
            <label>Fostered</label>
        </rules>
        <rules>
            <name>Boarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BoardingMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boarder_Selection_Screen</targetReference>
            </connector>
            <label>Boarding</label>
        </rules>
        <rules>
            <name>Adopted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdoptedMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Adoption_Movement_Record</targetReference>
            </connector>
            <label>Adopted</label>
        </rules>
    </decisions>
    <description>Flow to move animals between locations. Creates Movement records and updates various statuses</description>
    <dynamicChoiceSets>
        <name>BoarderLocations</name>
        <dataType>String</dataType>
        <displayField>Block_Unit__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available_for_Boarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitRecordType</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Block_Unit__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FosterLocations</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FosterRecordType</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>FosterId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrganisationLocations</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrganisationRecordType</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>OrganisationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitLocations</name>
        <dataType>String</dataType>
        <displayField>Block_Unit__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Block_Unit__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +2</expression>
    </formulas>
    <formulas>
        <name>taskSubjectFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!Choose_a_Movement}, {!AdoptedMovement}, &quot;Prepare animal for new Owners&quot;, {!BoardingMovement}, &quot;Move animal to Boarding Unit&quot; , {!FosterMovement}, &quot;Move animal to Foster&quot;, {!HousedMovement}, &quot;Move animal to internal location&quot;, {!TransferredMovement}, &quot;Move animal to Organisation&quot;, &quot;None&quot;)</expression>
    </formulas>
    <interviewLabel>Animal - Movement Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Movement Process</label>
    <loops>
        <name>Loop_Through_Movement_Records</name>
        <label>Loop Through Movement Records</label>
        <locationX>580</locationX>
        <locationY>351</locationY>
        <assignNextValueToReference>MovementRecord</assignNextValueToReference>
        <collectionReference>MovementRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Movement_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_than_1_Current_Movement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Adoption_Movement_Record</name>
        <label>Create new Adoption Movement Record</label>
        <locationX>3984</locationX>
        <locationY>1518</locationY>
        <assignRecordIdToReference>newMovementId</assignRecordIdToReference>
        <connector>
            <targetReference>Need_to_Generate_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Adopted, See Adoption Record</stringValue>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Boarder_Movement_Record</name>
        <label>Create new Boarder Movement Record</label>
        <locationX>4120</locationX>
        <locationY>656</locationY>
        <assignRecordIdToReference>newMovementId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Location_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>conBoarding</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Deceased_Movement_Record</name>
        <label>Create new Deceased Movement Record</label>
        <locationX>4289</locationX>
        <locationY>1690</locationY>
        <connector>
            <targetReference>Need_to_Generate_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>conDeceased</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Foster_Movement_Record</name>
        <label>Create new Foster Movement Record</label>
        <locationX>4712</locationX>
        <locationY>1175</locationY>
        <assignRecordIdToReference>newMovementId</assignRecordIdToReference>
        <connector>
            <targetReference>Need_to_Generate_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>FosterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>conFostered</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Housing_Movement_Record</name>
        <label>Create new Housing Movement Record</label>
        <locationX>4069</locationX>
        <locationY>348</locationY>
        <assignRecordIdToReference>newMovementId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Location_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>conHoused</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Organisation_Movement_Record</name>
        <label>Create new Organisation Movement Record</label>
        <locationX>4520</locationX>
        <locationY>937</locationY>
        <assignRecordIdToReference>newMovementId</assignRecordIdToReference>
        <connector>
            <targetReference>Need_to_Generate_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>OrganisationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>conTransferred</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>6445</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Movement_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>newMovementId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_Status</name>
        <label>Get Animal Status</label>
        <locationX>1463</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Animal_Deceased_with_an_Active_Deceased_Movement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputAssignments>
            <assignToReference>AnimalStatus</assignToReference>
            <field>Animal_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Any_Current_Movement_Records</name>
        <label>Get Any Current Movement Records</label>
        <locationX>218</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Existing_Movement_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Movement__c</object>
        <outputReference>MovementRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Location_Record</name>
        <label>Get Current Location Record</label>
        <locationX>1312</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Animal_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingLocationId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>BlockUnitName</assignToReference>
            <field>Block_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocationName</assignToReference>
            <field>Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Movement_and_Location_Record_ID</name>
        <label>Get Current Movement  and Location Record ID</label>
        <locationX>1151</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Location_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Movement__c</object>
        <outputAssignments>
            <assignToReference>MovementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExistingLocationId</assignToReference>
            <field>Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MovementType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Foster_RecordType</name>
        <label>Get Foster RecordType</label>
        <locationX>3917</locationX>
        <locationY>1183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foster_Selection_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foster</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>%%%NAMESPACED_ORG%%%Locations__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FosterRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Organisation_RecordType</name>
        <label>Get Organisation RecordType</label>
        <locationX>3927</locationX>
        <locationY>885</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organisation_Selection_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>%%%NAMESPACED_ORG%%%Locations__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OrganisationRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID</name>
        <label>Get Queue ID</label>
        <locationX>5846</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_RecordType</name>
        <label>Get Unit RecordType</label>
        <locationX>2498</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Type_of_Move</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>%%%NAMESPACED_ORG%%%Locations__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>UnitRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Location_Status</name>
        <label>Reset Location Status</label>
        <locationX>2481</locationX>
        <locationY>1728</locationY>
        <connector>
            <targetReference>Animal_Deceased_Path</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Animal_Deceased_Date_and_Status</name>
        <label>Update Animal Deceased Date and Status</label>
        <locationX>3838</locationX>
        <locationY>1674</locationY>
        <connector>
            <targetReference>Create_new_Deceased_Movement_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Animal_Status__c</field>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deceased_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Movement_Record</name>
        <label>Update Current Movement Record</label>
        <locationX>2250</locationX>
        <locationY>1726</locationY>
        <connector>
            <targetReference>Reset_Location_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovementId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location_Status</name>
        <label>Update Location Status</label>
        <locationX>5197</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Need_to_Generate_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <screens>
        <name>Animal_Already_Deceased</name>
        <label>Animal Already Deceased</label>
        <locationX>1735</locationX>
        <locationY>1305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Deceased_Animal</targetReference>
        </connector>
        <fields>
            <name>Animal_Already_Deceased_Text</name>
            <fieldText>&lt;p&gt;This animal is marked as deceased, but has a current location.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_Correct</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this Correct</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Animal_Already_Deceased_Text_1</name>
            <fieldText>&lt;p&gt;Choose Yes to update the animals movement details as deceased.  Choose No to exit and confirm animals status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Animal_Already_Deceased_With_Correct_Movement_Record</name>
        <label>Animal Already Deceased With Correct Movement Record</label>
        <locationX>1738</locationX>
        <locationY>959</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Animal_Already_Deceased_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;OOPS!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This animal is currently marked as deceased and cannot be moved to another location.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If this is an error, please review the animal record information and update it accordingly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Animal_Has_Existing_Location_Screen</name>
        <label>Animal Has Existing Location Screen</label>
        <locationX>1460</locationX>
        <locationY>1442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_With_Flow</targetReference>
        </connector>
        <fields>
            <name>Animal_Has_Existing_Location_Screen_Text</name>
            <fieldText>&lt;p&gt;Hmm! This animal already has a current location&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!LocationName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Continuing will free up the current location and allow you to assign a new location.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To leave the animal in its current location, exit here&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_wish_to_continue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to continue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Boarder_Selection_Screen</name>
        <label>Boarder Selection Screen</label>
        <locationX>3849</locationX>
        <locationY>656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Boarder_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Boarder_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Select a Unit where the animal will be boarded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Boarder_Selection</name>
            <choiceReferences>BoarderLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Boarder Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_Deceased_Animal</name>
        <label>Check Deceased Animal</label>
        <locationX>1966</locationX>
        <locationY>1546</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Check_Deceased_Animal_Text</name>
            <fieldText>&lt;p&gt;Ok, please review the animals status and movement record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deceased_Selection_Screen</name>
        <label>Deceased Selection Screen</label>
        <locationX>3495</locationX>
        <locationY>1653</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Animal_Deceased_Date_and_Status</targetReference>
        </connector>
        <fields>
            <name>Deceased_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Animal Status and Deceased Date have been updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Movement_Records_Screen</name>
        <label>Error Movement Records Screen</label>
        <locationX>607</locationX>
        <locationY>905</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Movement_Records_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;i&gt;OOPS!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It appears this animal seems to be in multiple locations at once, and has  multiple movement records that are marked as current.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check the movement records for this animal, resolve this issue and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>840</locationX>
        <locationY>2106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oh no! There has been an error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try and use the previous button below to go back a step and try again. If the problem persists please take a note of the fault message below and send it to your Salesforce Administrator or Salesforce Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fault Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen 2</label>
        <locationX>5297</locationX>
        <locationY>2141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text_2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oh no! There has been an error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try and use the previous button below to go back a step and try again. If the problem persists please take a note of the fault message below and send it to your Salesforce Administrator or Salesforce Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fault Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1136</locationX>
        <locationY>1715</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Text</name>
            <fieldText>&lt;p&gt;Click Finish to exit to wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Foster_Selection_Screen</name>
        <label>Foster Selection Screen</label>
        <locationX>4235</locationX>
        <locationY>1176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Foster_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Foster_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Choose a Foster from the selection below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Foster_Selection</name>
            <choiceReferences>FosterLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Foster Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>218</locationX>
        <locationY>306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Any_Current_Movement_Records</targetReference>
        </connector>
        <fields>
            <name>Initial_Text</name>
            <fieldText>&lt;p&gt;Use this wizard to provide an update that the animal is being moved, adopted or has been unfortunately PTS.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_TypeOfMovement_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Type of Movement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select a type from the picklist below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_a_Movement</name>
            <choiceReferences>HousedMovement</choiceReferences>
            <choiceReferences>BoardingMovement</choiceReferences>
            <choiceReferences>FosterMovement</choiceReferences>
            <choiceReferences>TransferredMovement</choiceReferences>
            <choiceReferences>AdoptedMovement</choiceReferences>
            <choiceReferences>DeceasedMovement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Movement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_Deceased_Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Note: If you select to Mark the animal as deceased, then the animal&apos;s status will be updated and today&apos;s date will be used for the deceased date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_a_Movement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DeceasedMovement</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Generate_Tasks_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Generate Salesforce Tasks&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If you would like to generate Salesforce Tasks for this schedule, please toggle the option below to on.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Generate_Tasks</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>Yes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>No</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select to Generate Tasks</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Movement_Complete</name>
        <label>Movement Complete</label>
        <locationX>6035</locationX>
        <locationY>1145</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Movement_Complete_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Records Updated!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for updating the animals location. Please click Finish to complete the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Organisation_Selection_Screen</name>
        <label>Organisation Selection Screen</label>
        <locationX>4224</locationX>
        <locationY>940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Organisation_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Organisation_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Choose an Organisation from the selection below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Organisation_Selection</name>
            <choiceReferences>OrganisationLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Organisation Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unit_Selection_Screen</name>
        <label>Unit Selection Screen</label>
        <locationX>3442</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Housing_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Unit_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Select a Unit where the animal will be housed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unit_Selection</name>
            <choiceReferences>UnitLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>92</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnimalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BlockUnitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FosterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FosterRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MovementCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MovementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
    <variables>
        <name>MovementRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
    <variables>
        <name>MovementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newMovementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrganisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrganisationRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
