force-app/main/default/flows/Animal_Action_Vaccination_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Treatment_Completed_Date_Time</name>
        <label>Assign Treatment Completed Date/Time</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Date_Time_Action_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingVaccineRecords.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Action_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Action_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_selected_Treatment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Future_Treatment_Record</name>
        <label>Build Future Treatment Record</label>
        <locationX>776</locationX>
        <locationY>2210</locationY>
        <assignmentItems>
            <assignToReference>futureTreatmentRecord.Action_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureTreatmentRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureTreatmentRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.returnedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureTreatmentRecord.Treatment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureTreatmentRecord.Date_Time_of_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextVaccineDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>futureTreatmentRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>futureTreatmentDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_Future_Treatment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Build the data for the Medicine Used in the Vaccination</description>
        <name>Build_Medicine_Used_record</name>
        <label>Build Medicine Used record</label>
        <locationX>644</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>vaccinationGiven.Batch_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medicineRecord.Batch_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationGiven.Date_Time_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAnimalActionRecord.Date_Time_Action_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationGiven.Treatment_Used_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAnimalActionRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationGiven.Medicine_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medicineRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationGiven.Qty_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>millilitres</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationGiven.Qty_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dosage_Given</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Medicine_Used_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_New_Medicine_Record</name>
        <label>Build New Medicine Record</label>
        <locationX>908</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>medicineRecord.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medicineRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Medicine_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign data to create new Treatment record</description>
        <name>Build_new_Treatment_Record</name>
        <label>Build new Treatment Record</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Treatment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.returnedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Date_Time_of_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVaccinationDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Date_Time_Action_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVaccinationDateTimeCompleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Action_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Action_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVaccinationDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Treatment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_existing_Animal_Action_records</name>
        <label>Count existing Animal Action records</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>numOfRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_existing_Vaccination_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Animal_Action_records_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Selected_Row</name>
        <label>Count Selected Row</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>numOfSelectedRows</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>existingVaccineRecords.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_a_Row_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the Vaccine Period is greater than 0 then a future treatment record should be created.</description>
        <name>Create_Future_Treatment_Record</name>
        <label>Create Future Treatment Record</label>
        <locationX>644</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Build_Future_Treatment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vaccine Period is Not Null</defaultConnectorLabel>
        <rules>
            <name>Vaccine_Period_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vaccine_Period_Months</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Vaccine Period Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Animal_Action_records_found</name>
        <label>Existing Animal Action records found?</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_s_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numOfRecords</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Vaccination</targetReference>
            </connector>
            <label>Yes Record(s) Found</label>
        </rules>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numOfRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Vaccination</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medicine_Selected</name>
        <label>Medicine Selected</label>
        <locationX>644</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Build_New_Medicine_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Medicine Entered</defaultConnectorLabel>
        <rules>
            <name>Existing_Medicine_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>medicineDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Medicine_Details</targetReference>
            </connector>
            <label>Existing Medicine Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Row_Selected</name>
        <label>Was a Row Selected</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Treatment_Completed_Date_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Row_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numOfSelectedRows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Vaccination</targetReference>
            </connector>
            <label>No Row Selected</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Flow to capture new Vaccinations</description>
    <dynamicChoiceSets>
        <name>medicineLookup</name>
        <dataType>String</dataType>
        <displayField>Medicine_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Medicine__c</object>
        <outputAssignments>
            <assignToReference>medicineRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Medicine_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>convertDatetimeToDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!nextVaccineDateTime})</expression>
    </formulas>
    <formulas>
        <name>futureTreatmentDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Follow up &quot; &amp; TEXT({!Vaccine_Period_Months}) &amp; &quot; Month(s) Vaccination&quot;</expression>
    </formulas>
    <formulas>
        <name>nextVaccineDateTime</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS({!newAnimalActionRecord.Date_Time_Action_Completed__c}, {!Vaccine_Period_Months})</expression>
    </formulas>
    <formulas>
        <description>The proposed amount of vaccine in ml based on the Animals Current Weight</description>
        <name>proposedVaccineAmount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!recordId.Current_Weight__c}), 0, {!recordId.Current_Weight__c}*{!vaccineDosagePerWeight})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Animal Action - Vaccination Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal Action - Vaccination Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Medicine_Used_record</name>
        <label>Create Medicine Used record</label>
        <locationX>644</locationX>
        <locationY>1994</locationY>
        <connector>
            <targetReference>Create_Future_Treatment_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>vaccinationGiven</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Medicine_Record</name>
        <label>Create new Medicine Record</label>
        <locationX>908</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Build_Medicine_Used_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>medicineRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a new Treatment record of category Vaccination</description>
        <name>Create_Treatment_Record</name>
        <label>Create Treatment Record</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Vaccination_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newAnimalActionRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>new_Future_Treatment_Record</name>
        <label>new Future Treatment Record</label>
        <locationX>776</locationX>
        <locationY>2318</locationY>
        <connector>
            <targetReference>Create_Future_Treatment_Task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>futureTreatmentRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Search for any Animal Action - Treatment records, of Category Type = Vaccination and no Completed Date/Time</description>
        <name>Find_existing_Vaccination_records</name>
        <label>Find existing Vaccination records</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_existing_Animal_Action_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType.returnedRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Treatment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </filters>
        <filters>
            <field>Action_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Animal_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Medicine_Details</name>
        <label>Get Selected Medicine Details</label>
        <locationX>380</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Medicine_Used_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>medicineRecord.Id</elementReference>
            </value>
        </filters>
        <object>Medicine__c</object>
        <outputReference>medicineRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Batch_No__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Medicine_Name__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Delivery_Method__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the Treatment record selected in the data table</description>
        <name>Update_selected_Treatment_record</name>
        <label>Update selected Treatment record</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Vaccination_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newAnimalActionRecord</inputReference>
    </recordUpdates>
    <screens>
        <description>Screen to Capture Vaccination details</description>
        <name>Existing_Vaccination</name>
        <label>Existing Vaccination</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Selected_Row</targetReference>
        </connector>
        <fields>
            <name>existingVaccinationAnimalName</name>
            <fieldText>&lt;p&gt;Existing vaccination record(s) for {!recordId.Animal_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>existingVaccineRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Animal_Action__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Find_existing_Vaccination_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Date_Time_of_Action__c&quot;,&quot;guid&quot;:&quot;column-8997&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date/Time of Vaccination Due&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Date/Time of Action&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-31c0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>existingSelectionText</name>
            <fieldText>&lt;p&gt;If no record from the above options are applicable, a new Vaccination record will be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error_Screen</name>
        <label>Flow Error Screen</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowErrorScreenText</name>
            <fieldText>&lt;p&gt;Sorry, there has been an error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to Capture Vaccination details</description>
        <name>New_Vaccination</name>
        <label>New Vaccination</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_new_Treatment_Record</targetReference>
        </connector>
        <fields>
            <name>newVaccinationAnimalName</name>
            <fieldText>&lt;p&gt;New Vaccination record for {!recordId.Animal_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Vaccination_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Vaccination_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newVaccinationDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Vaccination Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Vaccination_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newVaccinationDateTimeCompleted</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Vaccination Date/Time Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>newVaccinationDescription</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Initial Vaccination</stringValue>
            </defaultValue>
            <fieldText>Vaccination Description/Purpose</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to Capture Vaccination details</description>
        <name>Vaccination_Details</name>
        <label>Vaccination Details</label>
        <locationX>644</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Medicine_Selected</targetReference>
        </connector>
        <fields>
            <name>medicineDecision</name>
            <dataType>Boolean</dataType>
            <fieldText>Enter a new Medicine instead of choosing an existing one</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vaccination_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vaccination_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vaccinationMedicineSelection</name>
                    <choiceReferences>medicineLookup</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select existing Medicine</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>medicineDecision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vaccination_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vaccination_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>medicineRecord.Medicine_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>medicineRecord.Delivery_Method__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>medicineRecord.Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vaccination_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>medicineRecord.Batch_No__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>medicineRecord.Manufacturer__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>medicineDecision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>vaccineDetailsHLine_1</name>
            <extensionName>c:flowHLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thickness</name>
                <value>
                    <stringValue>2px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Vaccination_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vaccination_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dosageText</name>
                    <fieldText>&lt;p&gt;Based on the current weight (kg) of {!recordId.Current_Weight__c} for {!recordId.Animal_Name__c}, and the dosage / weight entered here of {!vaccineDosagePerWeight} the recommended dosage is {!proposedVaccineAmount} ml&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the current weight is 0 then no calculation is available.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Accept this dosage or enter a different dosage below&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vaccination_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vaccineDosagePerWeight</name>
                    <dataType>Number</dataType>
                    <fieldText>Vaccination dosage (ml) / animal weight (kg)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Dosage_Given</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>proposedVaccineAmount</elementReference>
                    </defaultValue>
                    <fieldText>Dosage Given</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>vaccineDetailsHLine_2</name>
            <extensionName>c:flowHLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thickness</name>
                <value>
                    <stringValue>2px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Vaccination_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vaccination_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vaccinePeriodText</name>
                    <fieldText>&lt;p&gt;How long does this vaccination protect {!recordId.Animal_Name__c}? Enter the number of months for the next vaccination is due from today.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If no follow up Vaccination is required leave the Vaccine Period field empty&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A future Treatment record and Task will be created for this date/time&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vaccination_Details_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vaccine_Period_Months</name>
                    <dataType>Number</dataType>
                    <fieldText>Vaccine Period (Months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Vaccine_Due_On</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>nextVaccineDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Vaccine Due On</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Future_Treatment_Task</name>
        <label>Create Future Treatment Task</label>
        <locationX>776</locationX>
        <locationY>2426</locationY>
        <flowName>Animal_Generate_Tasks_Subflow</flowName>
        <inputAssignments>
            <name>animalActionRecordId</name>
            <value>
                <elementReference>newAnimalActionRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>animalRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskDueDate</name>
            <value>
                <elementReference>convertDatetimeToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskObjectType</name>
            <value>
                <stringValue>Action</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Gets the ID for the Treatment RecordType on the Animal Action object</description>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Find_existing_Vaccination_records</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Treatment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>Animal_Action__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>futureTreatmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Action__c</objectType>
    </variables>
    <variables>
        <description>Data required to make new Medicine Record</description>
        <name>medicineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medicine__c</objectType>
    </variables>
    <variables>
        <name>newAnimalActionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Action__c</objectType>
    </variables>
    <variables>
        <name>numOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numOfSelectedRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <description>Details of the vaccination being given</description>
        <name>vaccinationGiven</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medicine_Used__c</objectType>
    </variables>
</Flow>
