force-app/main/default/flows/Animal_Block_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Does the Collection Filter have any values</description>
        <name>Filtered_Record_Count</name>
        <label>Filtered Record Count</label>
        <locationX>468</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>allocationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_for_Allocated_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Block_Have_Allocated_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selected_Choice</name>
        <label>Get Selected Choice</label>
        <locationX>886</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Block_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Record_to_Update</name>
        <label>Location Record to Update</label>
        <locationX>1018</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>updatedLocationRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedLocationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Allocation of the Location Record - Equal to the Capacity</description>
        <name>Update_Unit_Allocation</name>
        <label>Update Unit Allocation</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>updatedLocationRecord.Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Units.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedLocationRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedLocationRecord.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Record_to_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Available_Choice</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unavailable_Choice</name>
        <choiceText>Unavailable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unavailable</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_for_Allocated_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Allocated Records</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Allocated_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllRecords</collectionReference>
        <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Allocated_Records.Unit_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Allocated</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Allocated_Records.Location_Capacity__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Single Animal</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Allocated_Records.Location_Capacity__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Multiple Animals</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Allocated_Records.Allocation__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filtered_Record_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Does_Block_Have_Allocated_Units</name>
        <label>Does Block Have Allocated Units</label>
        <locationX>468</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>What_is_the_new_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Allocated_Units</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Location_a_Block_or_Sub_Block</name>
        <label>Is Current Location a Block or Sub Block?</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Block</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Units</targetReference>
            </connector>
            <label>Block</label>
        </rules>
        <rules>
            <name>Sub_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sub_Block</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Units</targetReference>
            </connector>
            <label>Sub Block</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_new_Status</name>
        <label>What is the new Status?</label>
        <locationX>886</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Status_to_Available</targetReference>
            </connector>
            <label>Available</label>
        </rules>
        <rules>
            <name>Status_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unavailable_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Units</targetReference>
            </connector>
            <label>Unavailable</label>
        </rules>
    </decisions>
    <description>DEPRECATED - When Changing the status of a Block the Sub Locations are also updated</description>
    <environments>Default</environments>
    <interviewLabel>Animal - Block Status Change</interviewLabel>
    <label>Animal - Block Status Change</label>
    <loops>
        <name>Loop_Through_Units</name>
        <label>Loop Through Units</label>
        <locationX>930</locationX>
        <locationY>1190</locationY>
        <collectionReference>AllRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Unit_Allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Unit_Status_to_Unavailable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Units</name>
        <label>Get All Units</label>
        <locationX>468</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_Allocated_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_RecordType_Id.returnedRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>AllRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allocation__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
        <queriedFields>Location_Capacity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Block_Status</name>
        <label>Update Block Status</label>
        <locationX>886</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Block_Status__c</field>
            <value>
                <elementReference>SelectedChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Status_to_Available</name>
        <label>Update Unit Status to Available</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Get_Selected_Choice</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_RecordType_Id.returnedRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Status_to_Unavailable</name>
        <label>Update Unit Status to Unavailable</label>
        <locationX>930</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_Selected_Choice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>updatedLocationRecords</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>886</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Records
                Updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All units in
                {!recordId.Name__c} have been updated to {!SelectedChoice}. Click Finish to complete
                the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1194</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Text</name>
            <fieldText>&lt;p&gt;There has been an error in the flow when it attempting to update
                records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click the Previous button
                below to go back and try again. If the problem persists, contact your &lt;span
                style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68,
                68);&quot;&gt;Salesforce administrator with &lt;/span&gt;the fault message
                below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Fault
                Message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Allocated_Units</name>
        <label>Has Allocated Units</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Has_Allocated_Units_Text</name>
            <fieldText>&lt;p&gt;Block/Sub Block
                &lt;strong&gt;&lt;em&gt;{!recordId.Name__c}&lt;/em&gt;&lt;/strong&gt; has at least 1
                unit that is housing an animal, and is allocated.
                &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make arrangements to move the
                animals out of any units in this Block/Sub
                Block.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click
                &lt;strong&gt;Finish&lt;/strong&gt; to Exit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Unit_RecordType_Id</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;To change the status of the current Block or Sub Block and all its
                units, select an option below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_Options</name>
            <choiceReferences>Available_Choice</choiceReferences>
            <choiceReferences>Unavailable_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;This wizard allows you to update the status for all units within a single
            block at the same time. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For example if
            the block needs to be closed for maintenance, you can use this to update the whole block
            to unavailable.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Unit_RecordType_Id</name>
        <label>Get Unit RecordType Id</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Is_Current_Location_a_Block_or_Sub_Block</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allocationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AllRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Allocated_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_MultiAnimal_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>SelectedChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>updatedLocationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
