force-app/main/default/flows/Animal_Movement_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Boarded_Movement_Record</name>
        <label>Boarded Movement Record</label>
        <locationX>4047</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conBoarding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMovementRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Movement_Records</name>
        <label>Count Movement Records</label>
        <locationX>1042</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>MovementCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MovementRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Movement_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Foster_Movement_Record</name>
        <label>Foster Movement Record</label>
        <locationX>4230</locationX>
        <locationY>1338</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conFostered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMovementRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>House_Movement_Record</name>
        <label>House Movement Record</label>
        <locationX>3710</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conHoused</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMovementRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Release_Movement_Record</name>
        <label>Release Movement Record</label>
        <locationX>3419</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conRelease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMovementRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transferred_Movement_Record</name>
        <label>Transferred Movement Record</label>
        <locationX>4244</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conTransferred</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMovementRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>boardingMovement</name>
        <choiceText>Animal is Boarding</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conBoarding</elementReference>
        </value>
    </choices>
    <choices>
        <name>fosterMovement</name>
        <choiceText>Move to a Foster</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conFostered</elementReference>
        </value>
    </choices>
    <choices>
        <name>housedMovement</name>
        <choiceText>Housed in Shelter(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conHoused</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>releaseMovement</name>
        <choiceText>Animal to be Released</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conRelease</elementReference>
        </value>
    </choices>
    <choices>
        <name>transferredMovement</name>
        <choiceText>Transferred to another Organisation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conTransferred</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>conBoarding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Boarding</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFostered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fostered</stringValue>
        </value>
    </constants>
    <constants>
        <name>conHoused</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Housed</stringValue>
        </value>
    </constants>
    <constants>
        <name>conRelease</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTransferred</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferred</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Existing_Movement_records</name>
        <label>Any Existing Movement records?</label>
        <locationX>1036</locationX>
        <locationY>918</locationY>
        <defaultConnector>
            <targetReference>Get_Unit_RecordType_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Movement_RecordsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Movement_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_With_Flow</name>
        <label>Continue With Flow?</label>
        <locationX>2058</locationX>
        <locationY>769</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Current_Movement_Record</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
        <rules>
            <name>No_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>No Finish</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Current_Movement</name>
        <label>More than 1 Current Movement?</label>
        <locationX>1282</locationX>
        <locationY>773</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Movement_Records_Screen</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
        <rules>
            <name>Equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Movement_and_Location_Record_ID</targetReference>
            </connector>
            <label>Equals 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Generate_Tasks</name>
        <label>Need to Generate Tasks?</label>
        <locationX>5089</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Movement_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tasks</defaultConnectorLabel>
        <rules>
            <name>Yes_Generate_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Movement_Tasks</targetReference>
            </connector>
            <label>Yes Generate Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Move</name>
        <label>What Type of Move?</label>
        <locationX>3421</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Housed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>housedMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Selection_Screen</targetReference>
            </connector>
            <label>Housed</label>
        </rules>
        <rules>
            <name>Transferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>transferredMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organisation_RecordType</targetReference>
            </connector>
            <label>Transferred</label>
        </rules>
        <rules>
            <name>Fostered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fosterMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Foster_RecordType</targetReference>
            </connector>
            <label>Fostered</label>
        </rules>
        <rules>
            <name>Boarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>boardingMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boarder_Selection_Screen</targetReference>
            </connector>
            <label>Boarding</label>
        </rules>
        <rules>
            <name>Release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>releaseMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_Movement_Record</targetReference>
            </connector>
            <label>Release</label>
        </rules>
    </decisions>
    <description>Flow to move animals between locations. Creates Movement records and updates various statuses</description>
    <dynamicChoiceSets>
        <name>BoarderLocations</name>
        <dataType>String</dataType>
        <displayField>%%%NAMESPACED_ORG%%%Block_Unit__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Available_for_Boarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_RecordType_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>%%%NAMESPACED_ORG%%%Block_Unit__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FosterLocations</name>
        <dataType>String</dataType>
        <displayField>%%%NAMESPACED_ORG%%%Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Foster_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>%%%NAMESPACED_ORG%%%Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrganisationLocations</name>
        <dataType>String</dataType>
        <displayField>%%%NAMESPACED_ORG%%%Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Organisation_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>%%%NAMESPACED_ORG%%%Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitLocations</name>
        <dataType>String</dataType>
        <displayField>%%%NAMESPACED_ORG%%%Block_Unit__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_RecordType_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>%%%NAMESPACED_ORG%%%Block_Unit__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>DecrementAllocationBy1</name>
        <dataType>Number</dataType>
        <expression>IF(
            ISPICKVAL({!Get_Current_Location_Record.%%%NAMESPACED_ORG%%%Location_Capacity__c}, &quot;Single Animal&quot;) = True || ISPICKVAL({!Get_Current_Location_Record.%%%NAMESPACED_ORG%%%Location_Capacity__c}, &quot;Multiple Animals&quot;) = True, {!Get_Current_Location_Record.%%%NAMESPACED_ORG%%%Allocation__c} - 1, 0)        </expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Animal - Movement Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Movement Process</label>
    <loops>
        <name>Loop_Through_Movement_Records</name>
        <label>Loop Through Movement Records</label>
        <locationX>1043</locationX>
        <locationY>625</locationY>
        <assignNextValueToReference>varMovementRecord</assignNextValueToReference>
        <collectionReference>MovementRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Movement_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_than_1_Current_Movement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets all current movement records based on the animals Id</description>
        <name>Get_All_Movement_Records_by_Animal_ID</name>
        <label>Get All Movement Records by Animal ID</label>
        <locationX>824</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Existing_Movement_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Movement__c</object>
        <outputReference>MovementRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Animals_Details</name>
        <label>Get Animals Details</label>
        <locationX>453</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Location_Record</name>
        <label>Get Current Location Record</label>
        <locationX>2599</locationX>
        <locationY>763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Location_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_and_Location_Record_ID.%%%NAMESPACED_ORG%%%Location__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Movement_and_Location_Record_ID</name>
        <label>Get Current Movement Record</label>
        <locationX>1625</locationX>
        <locationY>769</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Animal_Has_Existing_Location_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Foster_RecordType</name>
        <label>Get Foster RecordType</label>
        <locationX>3427</locationX>
        <locationY>1347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foster_Selection_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foster</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>%%%NAMESPACED_ORG%%%Locations__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organisation_RecordType</name>
        <label>Get Organisation RecordType</label>
        <locationX>3773</locationX>
        <locationY>993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organisation_Selection_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>%%%NAMESPACED_ORG%%%Locations__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_RecordType_ID</name>
        <label>Get Unit RecordType ID</label>
        <locationX>3081</locationX>
        <locationY>982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Type_of_Move</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>%%%NAMESPACED_ORG%%%Locations__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Clears the current flag on current movement record and sets End Date to today</description>
        <name>Clear_Current_Movement_Record</name>
        <label>Clear Current Movement Record</label>
        <locationX>2391</locationX>
        <locationY>763</locationY>
        <connector>
            <targetReference>Get_Current_Location_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_and_Location_Record_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Current__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Location_Status</name>
        <label>Reset Location Status</label>
        <locationX>2870</locationX>
        <locationY>763</locationY>
        <connector>
            <targetReference>Get_Unit_RecordType_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_and_Location_Record_ID.Location__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Allocation__c</field>
            <value>
                <elementReference>DecrementAllocationBy1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Unit_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
    </recordUpdates>
    <screens>
        <name>Animal_Has_Existing_Location_Screen</name>
        <label>Animal Has Existing Location Screen</label>
        <locationX>1868</locationX>
        <locationY>767</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_With_Flow</targetReference>
        </connector>
        <fields>
            <name>Animal_Has_Existing_Location_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Animal_Has_Existing_Location_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Animal_Has_Existing_Location_Screen_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Animals_Details.%%%NAMESPACED_ORG%%%Animal_Name__c}&lt;/strong&gt;  already has a current location&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Current_Movement_and_Location_Record_ID.%%%NAMESPACED_ORG%%%Location_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To leave the animal in its current location, exit here, or continue to assign a new location&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Animal_Has_Existing_Location_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_wish_to_continue</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you wish to continue?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Boarder_Selection_Screen</name>
        <label>Boarder Selection Screen</label>
        <locationX>3674</locationX>
        <locationY>767</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Boarded_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Boarder_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Select a Unit where the animal will be boarded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Boarder_Selection</name>
            <choiceReferences>BoarderLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Boarder Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Movement_Records_Screen</name>
        <label>Error Movement Records Screen</label>
        <locationX>1285</locationX>
        <locationY>491</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Movement_Records_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;i&gt;OOPS!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It appears this animal seems to be in multiple locations at once, and has  multiple movement records that are marked as current.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check the movement records for this animal, resolve this issue and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1404</locationX>
        <locationY>2346</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oh no! There has been an error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try and use the previous button below to go back a step and try again. If the problem persists please take a note of the fault message below and send it to your Salesforce Administrator or Salesforce Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fault Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen 2</label>
        <locationX>5209</locationX>
        <locationY>2096</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text_2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oh no! There has been an error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try and use the previous button below to go back a step and try again. If the problem persists please take a note of the fault message below and send it to your Salesforce Administrator or Salesforce Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fault Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>2069</locationX>
        <locationY>585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Text</name>
            <fieldText>&lt;p&gt;Click Finish to exit to wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Foster_Selection_Screen</name>
        <label>Foster Selection Screen</label>
        <locationX>3742</locationX>
        <locationY>1340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Foster_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Foster_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Choose a Foster from the selection below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Foster_Selection</name>
            <choiceReferences>FosterLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Foster Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>640</locationX>
        <locationY>914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Movement_Records_by_Animal_ID</targetReference>
        </connector>
        <fields>
            <name>Initial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_TypeOfMovement_Info</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Type of Movement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select a type from the picklist below.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Choose_a_Movement</name>
                    <choiceReferences>housedMovement</choiceReferences>
                    <choiceReferences>boardingMovement</choiceReferences>
                    <choiceReferences>fosterMovement</choiceReferences>
                    <choiceReferences>transferredMovement</choiceReferences>
                    <choiceReferences>releaseMovement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose a Movement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_Generate_Tasks_Information</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Generate Salesforce Tasks&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If you would like to generate Salesforce Tasks for this schedule, please toggle the option below to on.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Generate_Tasks</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>Yes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>No</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select to Generate Tasks</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Movement_Complete</name>
        <label>Movement Complete</label>
        <locationX>5218</locationX>
        <locationY>1130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Movement_Complete_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Records Updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The location for {!Get_Animals_Details.%%%NAMESPACED_ORG%%%Animal_Name__c} has now been updated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click Finish to complete the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Organisation_Selection_Screen</name>
        <label>Organisation Selection Screen</label>
        <locationX>3972</locationX>
        <locationY>992</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transferred_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Organisation_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Choose an Organisation from the selection below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Organisation_Selection</name>
            <choiceReferences>OrganisationLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Organisation Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unit_Selection_Screen</name>
        <label>Unit Selection Screen</label>
        <locationX>3500</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>House_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Unit_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Select a Unit where the animal will be housed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unit_Selection</name>
            <choiceReferences>UnitLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>895</locationY>
        <connector>
            <targetReference>Get_Animals_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Movement_Tasks</name>
        <label>Create Movement Tasks</label>
        <locationX>5441</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>Movement_Complete</targetReference>
        </connector>
        <flowName>Animal_Generate_Tasks_Subflow</flowName>
        <inputAssignments>
            <name>animalRecordId</name>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>movementRecordId</name>
            <value>
                <elementReference>CreateMovementRecord.newMovementRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskObjectType</name>
            <value>
                <stringValue>Movement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskQueueName</name>
            <value>
                <stringValue>Animal_Tasks</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateMovementRecord</name>
        <label>CreateMovementRecord</label>
        <locationX>4713</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>Need_to_Generate_Tasks</targetReference>
        </connector>
        <flowName>Animal_Movement_SubFlow</flowName>
        <inputAssignments>
            <name>AnimalId</name>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewMovementType</name>
            <value>
                <elementReference>newMovementType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MovementCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MovementRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Movement__c</objectType>
    </variables>
    <variables>
        <name>newMovementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Movement__c</objectType>
    </variables>
</Flow>
