force-app/main/default/flows/Animal_Create_Reciprocal_Animal_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>[Animal Shelter] Creates a Reciprocal Relationship for an Animal Relationship when a new record is created.</description>
    <interviewLabel>Animal - Create Reciprocal Animal Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Create Reciprocal Animal Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Reciprocal relationship for one which was just created.</description>
        <name>Create_Reciprocal_Relationship</name>
        <label>Create Reciprocal Relationship</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Animal__c</field>
            <value>
                <elementReference>$Record.Related_Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Record_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Related_Animal__c</field>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Origin</name>
        <label>Update Origin</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Create_Reciprocal_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Record_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Record_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Animal_Relationship__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
