force-app/main/default/flows/Animal_Adoption_Update_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>[Animal Shelter] - When Adoption Status = Adopted: Update Contact Flag, Clear
        current and create new Movement record, update Animal status and details</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaAdoptionDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.animalshelters__Date_of_Adoption__c}) ,
            {!$Flow.CurrentDate}, {!$Record.animalshelters__Date_of_Adoption__c})</expression>
    </formulas>
    <formulas>
        <name>formulaCollectedDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.animalshelters__Date_Collected__c}) , {!$Flow.CurrentDate},
            {!$Record.animalshelters__Date_Collected__c})</expression>
    </formulas>
    <interviewLabel>Animal - Adoption Update Automation</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Adoption Update Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new Movement Record, of Type Adopted with the Start Date = to Date
            Collected</description>
        <name>Create_New_Movement_Record</name>
        <label>Create New Movement Record</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Close_Animal_Action_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formulaCollectedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Adopted, See Adoption Record</stringValue>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Current Movement Record for the Animal</description>
        <name>Get_Current_Movement_Record</name>
        <label>Get Current Movement Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clean_Up_Location_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Frees up the Location record where the Animal was housed</description>
        <name>Clean_Up_Location_Record</name>
        <label>Clean Up Location Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Close_Current_Movement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_Record.Location__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Close Outstanding Animal Action Records</description>
        <name>Close_Animal_Action_Records</name>
        <label>Close Animal Action Records</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Animal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Time_Action_Completed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Treatment_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Status__c</field>
            <value>
                <stringValue>Not Given</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>N/A Animal Adopted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_Action_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Action__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the &apos;Current&apos; Movement record with end date and Current = False</description>
        <name>Close_Current_Movement_Record</name>
        <label>Close Current Movement Record</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_New_Movement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the &quot;Is An Adopter&quot; Flag on the associated Contact to indicate
            they are an Adopter</description>
        <name>Set_Adopter_Flag_on_Contact_to_True</name>
        <label>Set Adopter Flag on Contact to True</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Current_Movement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_an_Adopter__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Date of Adoption on Adoption Record</description>
        <name>Update_Adoption_Record</name>
        <label>Update Adoption Record</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Date_Collected__c</field>
            <value>
                <elementReference>formulaCollectedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Adoption__c</field>
            <value>
                <elementReference>formulaAdoptionDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Animal Record</description>
        <name>Update_Animal_Record</name>
        <label>Update Animal Record</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Adoption_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Animal_Status__c</field>
            <value>
                <stringValue>Adopted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Status__c</field>
            <value>
                <stringValue>Adopted - See Adoption Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Current_Owner__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Adopter_Flag_on_Contact_to_True</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Adoption_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adopted</stringValue>
            </value>
        </filters>
        <object>Adoption__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
