force-app/main/default/flows/Animal_Clone_Animal_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Animal_to_Collection</name>
        <label>Add Animal to Collection</label>
        <locationX>878</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>clonedAnimalRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cloneAnimalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_created_all_the_Clones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_List_of_ID_s</name>
        <label>Build List of ID&apos;s</label>
        <locationX>649</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>createdRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Capture_IDs_of_Created_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_IDs_of_Created_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Clone_Record</name>
        <label>Create Clone Record</label>
        <locationX>1081</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Animal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Animal_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Animal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Breed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Colour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Crossbreed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Crossbreed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Date_of_Arrival__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Current_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Current_Weight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Estimated_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Estimated_Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Entry_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Entry_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Lost_Found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Lost_Found__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Microchip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Previous_Current_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Previous_Current_Owner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Secondary_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Secondary_Colour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalToBeCloned.%%%NAMESPACED_ORG%%%Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneAnimalRecord.%%%NAMESPACED_ORG%%%IsCloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Animal_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Collection_to_Reset</name>
        <label>Create Collection to Reset</label>
        <locationX>1085</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>clonedAnimalsCompletedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>clonedAnimalCompletedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Created_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Counter_by_1</name>
        <label>Increase Counter by 1</label>
        <locationX>885</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>clonesCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_IsCloned_Flag</name>
        <label>Reset IsCloned Flag</label>
        <locationX>948</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>clonedAnimalCompletedRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Created_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedAnimalCompletedRecord.%%%NAMESPACED_ORG%%%IsCloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_to_Reset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter_to_0</name>
        <label>Set Counter to 0</label>
        <locationX>439</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>clonesCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_created_all_the_Clones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_we_created_all_the_Clones</name>
        <label>Have we created all the Clones?</label>
        <locationX>584</locationX>
        <locationY>143</locationY>
        <defaultConnector>
            <targetReference>Increase_Counter_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Round Again</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clonesCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_of_Clones</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cloned_Records</targetReference>
            </connector>
            <label>Yes All Done</label>
        </rules>
    </decisions>
    <description>Clones an Animal Record a number of times determined by the User, and displays for Editing.</description>
    <interviewLabel>Animal - Clone Animal Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Clone Animal Record</label>
    <loops>
        <name>Capture_IDs_of_Created_Records</name>
        <label>Capture IDs of Created Records</label>
        <locationX>650</locationX>
        <locationY>521</locationY>
        <collectionReference>clonedAnimalRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_List_of_ID_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Records_for_Editing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Created_Records</name>
        <label>Loop Through Created Records</label>
        <locationX>1011</locationX>
        <locationY>445</locationY>
        <collectionReference>createdRecordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_IsCloned_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_IsCloned_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cloned_Records</name>
        <label>Create Cloned Records</label>
        <locationX>408</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Capture_IDs_of_Created_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>clonedAnimalRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the details of the animal record to be cloned</description>
        <name>Get_Animal_To_Be_Cloned</name>
        <label>Get Animal To Be Cloned</label>
        <locationX>176</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Clones</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
        <outputReference>animalToBeCloned</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Animal_Name__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Animal_Status__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Breed__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Colour__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Current_Weight__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Date_of_Arrival__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Entry_Reason__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Estimated_Age__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Gender__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Lost_Found__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Microchip__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Previous_Current_Owner__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Secondary_Colour__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Size__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Type__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Crossbreed__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%IsCloned__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_IsCloned_Flag</name>
        <label>Update IsCloned Flag</label>
        <locationX>1279</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>clonedAnimalsCompletedRecords</inputReference>
    </recordUpdates>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>1279</locationX>
        <locationY>598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_Text</name>
            <fieldText>&lt;p&gt;Cloning process is complete, you have successfully created {!No_of_Clones} records&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Records_for_Editing</name>
        <label>Display Records for Editing</label>
        <locationX>846</locationX>
        <locationY>517</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Created_Records</targetReference>
        </connector>
        <fields>
            <name>Display_Records_for_Editing_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;You will need to edit the Cloned records, so they can be created.  Edit by clicking the pencil next to the fields.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FSCCloneDatatableScreen</name>
            <extensionName>c:FSCAnimalCloneDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>177</locationX>
        <locationY>519</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Screen_Text</name>
            <fieldText>&lt;p&gt;Sorry, there has been a problem.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Number_of_Clones</name>
        <label>Number of Clones</label>
        <locationX>301</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Counter_to_0</targetReference>
        </connector>
        <fields>
            <name>Number_of_Clones_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Number_of_Clones_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Clones_Text</name>
                    <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;You are about to clone the animal record for &lt;/i&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;{!animalToBeCloned.Animal_Name__c} &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Some data like Type, Breed, etc will be automatically copied to the cloned records, however, you will be able to make some changes to the new cloned animal records prior to saving.  How many clone animal records do you wish to make?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Number_of_Clones_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_of_Clones</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>No. of Clones</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The number of clones needs to be between 1 and 10.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
{!No_of_Clones} &gt;= 1 ,
{!No_of_Clones} &lt;= 10
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Animal_To_Be_Cloned</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>animalToBeCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Animal__c</objectType>
    </variables>
    <variables>
        <name>cloneAnimalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Animal__c</objectType>
    </variables>
    <variables>
        <name>clonedAnimalCompletedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Animal__c</objectType>
    </variables>
    <variables>
        <name>clonedAnimalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Animal__c</objectType>
    </variables>
    <variables>
        <name>clonedAnimalsCompletedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Animal__c</objectType>
    </variables>
    <variables>
        <name>cloneRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clonesCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>createdRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
