force-app/main/default/flows/Animal_Block_Capacity_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Available_Child_Record_Count</name>
        <label>Available Child Record Count</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varAvailableCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varLocationChildRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Child_Records_that_have_Available_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Child_Record_Count</name>
        <label>Total Child Record Count</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varTotalCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varLocationChildRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Child_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Constant of zero</description>
        <name>conZero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Child_Records_that_have_Available_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>At least 1 record found</defaultConnectorLabel>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLocationChildRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Available_Capacity_to_Zero</targetReference>
            </connector>
            <label>No Records</label>
        </rules>
    </decisions>
    <description>Calculates and populates the Block Capacity fields</description>
    <environments>Default</environments>
    <interviewLabel>Animal - Block Capacity Calculations</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Block Capacity Calculations</label>
    <loops>
        <name>Loop_Through_Child_Records</name>
        <label>Loop Through Child Records</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>varLocation</assignNextValueToReference>
        <collectionReference>varLocationChildRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Child_Record_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Capacity_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Child_Records_that_have_Available_Status</name>
        <label>Loop Through Child Records that have Available Status</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignNextValueToReference>varLocation</assignNextValueToReference>
        <collectionReference>varLocationChildRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Available_Child_Record_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Available_Capacity_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_Child_Records_with_Available_Status</name>
        <label>Get Location Child Records with Available Status</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>animalshelters__Locations__c</object>
        <outputReference>varLocationChildRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all the Child records for the current Location</description>
        <name>Get_Locations_Child_Records</name>
        <label>Get Locations Child Records</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Child_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <object>animalshelters__Locations__c</object>
        <outputReference>varLocationChildRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Available_Capacity_to_Zero</name>
        <label>Set Available Capacity to Zero</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Capacity__c</field>
            <value>
                <elementReference>conZero</elementReference>
            </value>
        </inputAssignments>
        <object>animalshelters__Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Available Capacity value on the current Location</description>
        <name>Update_Available_Capacity_Value</name>
        <label>Update Available Capacity Value</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Capacity__c</field>
            <value>
                <elementReference>varAvailableCount</elementReference>
            </value>
        </inputAssignments>
        <object>animalshelters__Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Total Capacity value on the current Location</description>
        <name>Update_Total_Capacity_Value</name>
        <label>Update Total Capacity Value</label>
        <locationX>226</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Get_Location_Child_Records_with_Available_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Capacity__c</field>
            <value>
                <elementReference>varTotalCount</elementReference>
            </value>
        </inputAssignments>
        <object>animalshelters__Locations__c</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Locations_Child_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAvailableCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalshelters__Locations__c</objectType>
    </variables>
    <variables>
        <name>varLocationChildRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>animalshelters__Locations__c</objectType>
    </variables>
    <variables>
        <name>varLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>