force-app/main/default/flows/Animal_Subflow_Clear_Foster_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Was_Movement_a_Foster_Type</name>
        <label>Was Movement a Foster Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>movementRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fostered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Relationship_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Subflow - Clears the Foster Relationship when Animal moves from a Foster</description>
    <environments>Default</environments>
    <interviewLabel>Animal - Subflow - Clear Foster Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Subflow - Clear Foster Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Related_Relationship_record</name>
        <label>Update Related Relationship record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>movementRecord.Animal__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Relationship_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foster</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Movement_a_Foster_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>movementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
</Flow>
