force-app/main/default/flows/Animal_Movement_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Boarded_Movement_Record</name>
        <label>Boarded Movement Record</label>
        <locationX>1832</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conBoarding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Movement_Records_by_Animal_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Movement_Records</name>
        <label>Count Movement Records</label>
        <locationX>1150</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>MovementCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MovementRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Movement_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Foster_Movement_Record</name>
        <label>Foster Movement Record</label>
        <locationX>1568</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conFostered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Movement_Records_by_Animal_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>House_Movement_Record</name>
        <label>House Movement Record</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conHoused</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Movement_Records_by_Animal_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Release_Movement_Record</name>
        <label>Release Movement Record</label>
        <locationX>2096</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conRelease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Movement_Records_by_Animal_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transferred_Movement_Record</name>
        <label>Transferred Movement Record</label>
        <locationX>1304</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newMovementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conTransferred</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Movement_Records_by_Animal_ID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>boardingMovement</name>
        <choiceText>Animal is Boarding</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conBoarding</elementReference>
        </value>
    </choices>
    <choices>
        <name>fosterMovement</name>
        <choiceText>Move to a Foster</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conFostered</elementReference>
        </value>
    </choices>
    <choices>
        <name>housedMovement</name>
        <choiceText>Housed in Shelter(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conHoused</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>releaseMovement</name>
        <choiceText>Animal to be Released</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conRelease</elementReference>
        </value>
    </choices>
    <choices>
        <name>transferredMovement</name>
        <choiceText>Transferred to another Organisation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>conTransferred</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>conBoarding</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Boarding</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFostered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fostered</stringValue>
        </value>
    </constants>
    <constants>
        <name>conHoused</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Housed</stringValue>
        </value>
    </constants>
    <constants>
        <name>conRelease</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Release</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTransferred</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferred</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Existing_Movement_records</name>
        <label>Any Existing Movement records?</label>
        <locationX>1700</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CreateMovementRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Movement_RecordsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Movement_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_With_Flow</name>
        <label>Continue With Flow?</label>
        <locationX>1018</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Current_Movement_Record</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
        <rules>
            <name>No_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No Finish</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the movement date that has been selected defaulted to today or been set at a time in the future?</description>
        <name>Is_Movement_Date_Today_or_in_the_Future</name>
        <label>Is Movement Date Today or in the Future</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Movement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Todays Date</defaultConnectorLabel>
        <rules>
            <name>Future_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Movement_Date</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateMovementRecord</targetReference>
            </connector>
            <label>Future Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Current_Movement</name>
        <label>More than 1 Current Movement?</label>
        <locationX>1062</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Movement_Records_Screen</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
        <rules>
            <name>Equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovementCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Movement_Date_Today_or_in_the_Future</targetReference>
            </connector>
            <label>Equals 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Move</name>
        <label>What Type of Move?</label>
        <locationX>1700</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Housed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>housedMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Selection_Screen</targetReference>
            </connector>
            <label>Housed</label>
        </rules>
        <rules>
            <name>Transferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>transferredMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organisation_Record_Type</targetReference>
            </connector>
            <label>Transferred</label>
        </rules>
        <rules>
            <name>Fostered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fosterMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Foster_Record_Type</targetReference>
            </connector>
            <label>Fostered</label>
        </rules>
        <rules>
            <name>Boarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>boardingMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boarder_Selection_Screen</targetReference>
            </connector>
            <label>Boarding</label>
        </rules>
        <rules>
            <name>Release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Movement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>releaseMovement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_Movement_Record</targetReference>
            </connector>
            <label>Release</label>
        </rules>
    </decisions>
    <description>Flow to move animals between locations. Creates Movement records and updates various statuses</description>
    <dynamicChoiceSets>
        <name>BoarderLocations</name>
        <dataType>String</dataType>
        <displayField>Block_Unit__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available_for_Boarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Block_Unit__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FosterLocations</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrganisationLocations</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitLocations</name>
        <dataType>String</dataType>
        <displayField>Block_Unit__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Block_Unit__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DecrementAllocationBy1</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Current_Location_Record.Allocation__c} &lt;= 0,
        {!Get_Current_Location_Record.Allocation__c},
              IF(ISPICKVAL({!Get_Current_Location_Record.Location_Capacity__c},
                   &quot;Single Animal&quot;) = True || ISPICKVAL({!Get_Current_Location_Record.Location_Capacity__c},
                   &quot;Multiple Animals&quot;) = True,
        {!Get_Current_Location_Record.Allocation__c} - 1, 0))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Animal - Movement Process</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Movement Process</label>
    <loops>
        <name>Loop_Through_Movement_Records</name>
        <label>Loop Through Movement Records</label>
        <locationX>1062</locationX>
        <locationY>1082</locationY>
        <assignNextValueToReference>varMovementRecord</assignNextValueToReference>
        <collectionReference>MovementRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Movement_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_than_1_Current_Movement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets all current movement records based on the animals Id</description>
        <name>Get_All_Movement_Records_by_Animal_ID</name>
        <label>Get All Movement Records by Animal ID</label>
        <locationX>1700</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Existing_Movement_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Movement__c</object>
        <outputReference>MovementRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Location_Record</name>
        <label>Get Current Location Record</label>
        <locationX>490</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Location_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_Record.Location__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Movement_Record</name>
        <label>Get Current Movement Record</label>
        <locationX>1018</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Animal_Has_Existing_Location_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Clears the current flag on current movement record and sets End Date to today</description>
        <name>Clear_Current_Movement_Record</name>
        <label>Clear Current Movement Record</label>
        <locationX>490</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Get_Current_Location_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Location_Status</name>
        <label>Reset Location Status</label>
        <locationX>490</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>CreateMovementRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Movement_Record.Location__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation__c</field>
            <value>
                <elementReference>DecrementAllocationBy1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <screens>
        <name>Animal_Has_Existing_Location_Screen</name>
        <label>Animal Has Existing Location Screen</label>
        <locationX>1018</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_With_Flow</targetReference>
        </connector>
        <fields>
            <name>Animal_Has_Existing_Location_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Animal_Has_Existing_Location_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Animal_Has_Existing_Location_Screen_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!recordId.Animal_Name__c}&lt;/strong&gt; already has a current location&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Current_Movement_Record.Location_Name__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;To leave the animal in its current location, exit here, or continue to assign a new location&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Animal_Has_Existing_Location_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_wish_to_continue</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you wish to continue?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Boarder_Selection_Screen</name>
        <label>Boarder Selection Screen</label>
        <locationX>1832</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Boarded_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Boarder_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Select a Unit where the animal will be boarded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Boarder_Selection</name>
            <choiceReferences>BoarderLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Boarder Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Movement_Records_Screen</name>
        <label>Error Movement Records Screen</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Movement_Records_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;ERROR!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!recordId.Name} appears to have been assigned multiple locations, and has  multiple movement records that are marked as current.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check the movement records for &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Name}&lt;/span&gt;, and resolve this issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>754</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;ERROR!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An error has occurred when attempting to get, create or update records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make a note of the fault message below and contact your Salesforce Administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fault Message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Foster_Selection_Screen</name>
        <label>Foster Selection Screen</label>
        <locationX>1568</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Foster_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Foster_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Choose a Foster from the selection below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Foster_Selection</name>
            <choiceReferences>FosterLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Foster Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>1700</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Type_of_Move</targetReference>
        </connector>
        <fields>
            <name>Initial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_TypeOfMovement_Text</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Type of Movement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select a type from the picklist below.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Choose_a_Movement</name>
                    <choiceReferences>housedMovement</choiceReferences>
                    <choiceReferences>boardingMovement</choiceReferences>
                    <choiceReferences>fosterMovement</choiceReferences>
                    <choiceReferences>transferredMovement</choiceReferences>
                    <choiceReferences>releaseMovement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose a Movement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Screen_MovementDate_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Movement Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If the movement of the animal will take place on a date in the future, please select the date, otherwise the default will be today&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Movement_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Movement Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Tasks_Note_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;NOTE: &lt;/strong&gt;Tasks for the movement record will be created automatically unless disabled in Animal Shelter Settings&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Movement_Complete</name>
        <label>Movement Complete</label>
        <locationX>1700</locationX>
        <locationY>2930</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Movement_Complete_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Records Updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The location for {!recordId.Animal_Name__c} has now been updated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click Finish.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Organisation_Selection_Screen</name>
        <label>Organisation Selection Screen</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transferred_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Organisation_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Choose an Organisation from the selection below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Organisation_Selection</name>
            <choiceReferences>OrganisationLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Organisation Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unit_Selection_Screen</name>
        <label>Unit Selection Screen</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>House_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Unit_Selection_Screen_Text</name>
            <fieldText>&lt;p&gt;Select a Unit where the animal will be housed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unit_Selection</name>
            <choiceReferences>UnitLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unit_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateMovementRecord</name>
        <label>CreateMovementRecord</label>
        <locationX>1700</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Movement_Complete</targetReference>
        </connector>
        <flowName>Animal_Movement_SubFlow</flowName>
        <inputAssignments>
            <name>AnimalId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LocationId</name>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>movementStartDate</name>
            <value>
                <elementReference>Movement_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>movementType</name>
            <value>
                <elementReference>newMovementType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Foster_Record_Type</name>
        <label>Get Foster Record Type</label>
        <locationX>1568</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Foster_Selection_Screen</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Foster</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Organisation_Record_Type</name>
        <label>Get Organisation Record Type</label>
        <locationX>1304</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Organisation_Selection_Screen</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Unit_Record_Type</name>
        <label>Get Unit Record Type</label>
        <locationX>1700</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MovementCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>movementCurrentFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MovementRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
    <variables>
        <name>newMovementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
</Flow>
