force-app/main/default/flows/Animal_Action_Close_Associated_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Task_Status</name>
        <label>Assign Task Status</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Get_Associated_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Associated</targetReference>
        </connector>
    </assignments>
    <description>[Animal Shelter] - On completion of Animal Action the associated Task is marked as complete, and Animal Action fields are updated</description>
    <environments>Default</environments>
    <interviewLabel>Animal Action - Close Associated Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Action - Close Associated Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Task</name>
        <label>Get Associated Task</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Animal_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sync_Animal_Action_Fields</name>
        <label>Sync Animal Action Fields</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Action_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Action_Status__c</field>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Date_Time_Action_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates, and marks as complete the task associated with the Animal Action Record</description>
        <name>Update_Task_Associated</name>
        <label>Update Task Associated</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Sync_Animal_Action_Fields</targetReference>
        </connector>
        <inputReference>Get_Associated_Task</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_Task</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Action_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Action_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Animal_Action__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
