force-app/main/default/flows/Animal_Manual_Adoption_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Adoption_Matches</name>
        <label>Add to Adoption Matches</label>
        <locationX>396</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>adoptionMatchRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adoptionMatchRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Animals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Adoption_Match_Record</name>
        <label>New Adoption Match Record</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>adoptionMatchRecord.Adopter_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_of_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adoptionMatchRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Animals.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Adoption_Matches</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Adopter_Profile</name>
        <label>Adopter Profile?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Animal_Available_for_adoption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Adopter Profile</defaultConnectorLabel>
        <rules>
            <name>No_Adopter_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Adopter_Profile_of_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Adopter Profile</label>
        </rules>
    </decisions>
    <description>[Animal] - Process to manually select animals for possible adoption</description>
    <environments>Default</environments>
    <interviewLabel>Animal - Manual Adoption Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Manual Adoption Selection</label>
    <loops>
        <name>Loop_Through_Selected_Animals</name>
        <label>Loop Through Selected Animals</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <collectionReference>selectedAnimals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Adoption_Match_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Adoption_Match_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adoption_Match_Records</name>
        <label>Create Adoption Match Records</label>
        <locationX>308</locationX>
        <locationY>1094</locationY>
        <inputReference>adoptionMatchRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Adopter_Profile_of_Contact</name>
        <label>Get Adopter Profile of Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adopter_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adopter_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Animal_Available_for_adoption</name>
        <label>Get Animal Available for adoption</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Possible_Adopters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available for Adoption</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Possible_Adopters</name>
        <label>Display Possible Adopters</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Animals</targetReference>
        </connector>
        <fields>
            <name>animalsForAdoption</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Animal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Animals available for adoption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Animal_Available_for_adoption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Animal_Name__c&quot;,&quot;guid&quot;:&quot;column-c646&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Breed_Lookup__c&quot;,&quot;guid&quot;:&quot;column-9004&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Breed&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Age_Years__c&quot;,&quot;guid&quot;:&quot;column-016d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Age (Years)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Gender__c&quot;,&quot;guid&quot;:&quot;column-9600&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Gender&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Colour__c&quot;,&quot;guid&quot;:&quot;column-fa57&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Primary Colour&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAnimals</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Adopter_Profile_of_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>adoptionMatchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
    <variables>
        <name>adoptionMatchRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>selectedAnimals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
