force-app/main/default/flows/Animal_Generate_Tasks_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Queue_as_Owner</name>
        <label>Assign Queue as Owner</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>taskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Adopter_Profile_Task</name>
        <label>Build Adopter Profile Task</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>taskToCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Adopter Profile to review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Adopter_Profile_Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adopterProfileId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_a_User_Defined_Queue_been_configured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Animal_Action_Task</name>
        <label>Build Animal Action Task</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>taskToCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Animal_Action_Record.Date_Time_of_Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Animal_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalActionRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Animal Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Animal_Action_Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_a_User_Defined_Queue_been_configured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Movement_Task</name>
        <label>Build Movement Task</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>taskToCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Movement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>movementRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Animal Movement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Movement_Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_a_User_Defined_Queue_been_configured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Task_Id</name>
        <label>Return Task Id</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>createdTaskRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskToCreate.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Does the Task Queue Name custom setting contain a value?</description>
        <name>Has_a_User_Defined_Queue_been_configured</name>
        <label>Has a User Defined Queue been configured</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Queue Configured</defaultConnectorLabel>
        <rules>
            <name>Queue_Configured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Animal_Shelter_Settings__c.Task_Queue_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID</targetReference>
            </connector>
            <label>Queue Configured</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Task_to_Create</name>
        <label>What Type of Task to Create</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Movement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Movement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Movement_Record</targetReference>
            </connector>
            <label>Movement</label>
        </rules>
        <rules>
            <name>Animal_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Animal_Action_Record</targetReference>
            </connector>
            <label>Animal Action</label>
        </rules>
        <rules>
            <name>Adopter_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdopterProfile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Adopter_Profile_Record</targetReference>
            </connector>
            <label>Adopter Profile</label>
        </rules>
    </decisions>
    <description>[Animal Shelter Starter] - Subflow to generate tasks</description>
    <environments>Default</environments>
    <formulas>
        <name>taskSubjectFormula</name>
        <dataType>String</dataType>
        <expression>IF(
            {!Movement}, {!Get_Animal_Details.Animal_Name__c} + &quot; needs to be moved to &quot; + {!Get_Current_Movement_Record.Location_Name__c}, {!Get_Animal_Action_Record.Action_Type__c} + &quot; action for  &quot; + {!Get_Animal_Details.Animal_Name__c})</expression>
    </formulas>
    <interviewLabel>Animal - Generate Tasks Subflow</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Generate Tasks Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Return_Task_Id</targetReference>
        </connector>
        <inputReference>taskToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Adopter_Profile_Record</name>
        <label>Get Adopter Profile Record</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Adopter_Profile_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>adopterProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adopter_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Animal_Action_Record</name>
        <label>Get Animal Action Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Animal_Action_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>animalActionRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Animal_Details</name>
        <label>Get Animal Details</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Type_of_Task_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>animalRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Movement_Record</name>
        <label>Get Current Movement Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Movement_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>movementRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID</name>
        <label>Get Queue ID</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_as_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Animal_Shelter_Settings__c.Task_Queue_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Animal_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>adopterProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>animalActionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>animalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdTaskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>movementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Which Animal Shelter object is this task related to</description>
        <name>taskObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
