force-app/main/default/flows/Animal_RecordType_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Return_RecordTypeId</name>
        <label>Return RecordTypeId</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>returnedRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Matching_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Matching_RecordTypes</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Required_Record_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Required Record Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Required_Record_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Record_Types</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Required_Record_Type.SobjectType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>sObjectName</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Required_Record_Type.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>developerName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Matching_RecordTypes</targetReference>
        </connector>
    </collectionProcessors>
    <description>[Animal Shelter] Generic Subflow to return the Record Type Id for a given sObject and DeveloperName</description>
    <environments>Default</environments>
    <interviewLabel>Animal - RecordType Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - RecordType Subflow</label>
    <loops>
        <name>Loop_through_Matching_RecordTypes</name>
        <label>Loop through Matching RecordTypes</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Filter_for_Required_Record_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Return_RecordTypeId</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Record Types Table</description>
        <name>Get_All_Record_Types</name>
        <label>Get All Record Types</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_Required_Record_Type</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_for_Required_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>developerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
