force-app/main/default/flows/Animal_Block_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_Selected_Choice</name>
        <label>Get Selected Choice</label>
        <locationX>1521</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Block_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Available_Choice</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unavailable_Choice</name>
        <choiceText>Unavailable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unavailable</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Block_Have_Allocated_Units</name>
        <label>Does Block Have Allocated Units</label>
        <locationX>476</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>What_is_the_new_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Allocated_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllocatedRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Allocated_Units</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_new_Status</name>
        <label>What is the new Status?</label>
        <locationX>744</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Status_to_Available</targetReference>
            </connector>
            <label>Available</label>
        </rules>
        <rules>
            <name>Status_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unavailable_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Status_to_Unavailable</targetReference>
            </connector>
            <label>Unavailable</label>
        </rules>
    </decisions>
    <description>When Changing the status of a Block the Sub Locations are also updated</description>
    <interviewLabel>Animal - Block Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Block Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Units</name>
        <label>Get All Units</label>
        <locationX>174</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Any_Units_marked_as_Allocated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <outputReference>AllRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Any_Units_marked_as_Allocated</name>
        <label>Get Any Units marked as Allocated</label>
        <locationX>483</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Block_Have_Allocated_Units</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <outputReference>AllocatedRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Block_Name</name>
        <label>Get Block Name</label>
        <locationX>173</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Units</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Block_Status</name>
        <label>Update Block Status</label>
        <locationX>1713</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Block_Status__c</field>
            <value>
                <elementReference>SelectedChoice</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Status_to_Available</name>
        <label>Update Unit Status to Available</label>
        <locationX>1066</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Get_Selected_Choice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Unit_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Status_to_Unavailable</name>
        <label>Update Unit Status to Unavailable</label>
        <locationX>1186</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>Get_Selected_Choice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Unit_Status__c</field>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1714</locationX>
        <locationY>787</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Records Updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All units in {!Get_Block_Name.%%%NAMESPACED_ORG%%%Name__c} have been updated to {!SelectedChoice}. Click Finish to complete the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1604</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;i&gt;OOPS!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There has been an error when the wizard attempted to update the status for this block. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try and click the Previous button below to go back and try again, although if the problem persists, send a note of the fault message below to your Salesforce administrator or Salesforce Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Fault Message:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Allocated_Units</name>
        <label>Has Allocated Units</label>
        <locationX>373</locationX>
        <locationY>836</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Has_Allocated_Units_Text</name>
            <fieldText>&lt;p&gt;Block &lt;strong&gt;&lt;em&gt;{!Get_Block_Name.%%%NAMESPACED_ORG%%%Name__c}&lt;/em&gt;&lt;/strong&gt; has at least 1 unit that is housing an animal, and is allocated.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make arrangements to move the animals out of any units in this block.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Finish&lt;/strong&gt; to Exit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>173</locationX>
        <locationY>469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Block_Name</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;To change the status of the current block and all its units, select an option below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_Options</name>
            <choiceReferences>Available_Choice</choiceReferences>
            <choiceReferences>Unavailable_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;This wizard allows you to update the status for all units within a single block at the same time. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For example if the block needs to be closed for maintenance, you can use this to update the whole block to unavailable.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllocatedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Locations__c</objectType>
    </variables>
    <variables>
        <name>AllRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Locations__c</objectType>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
