force-app/main/default/flows/Animal_Animal_Entry_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Additional_Assignment_Data</name>
        <label>Additional Assignment Data</label>
        <locationX>534</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>newAlert.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAnimal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAlert.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns additional and mandatory animal details</description>
        <name>Assign_Additional_Animal_Details</name>
        <label>Assign Additional Animal Details</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>newAnimal.Date_of_Arrival__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimal.Animal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimal.Lost_Found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lostFoundFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Animal_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Animal_Collection</name>
        <label>Clear Animal Collection</label>
        <locationX>666</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>newAnimal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyAnimalCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>start_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DifferentAnimalType</name>
        <choiceText>Yes - Different characteristics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DifferentType</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoAdditional</name>
        <choiceText>No additional Animal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoAdditional</stringValue>
        </value>
    </choices>
    <choices>
        <name>SameAnimalType</name>
        <choiceText>Yes - Same characteristics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SameType</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_Location</name>
        <label>Assign Location?</label>
        <locationX>798</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_Assessment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Choose_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Animal_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Movement_Process_Screen_Flow</targetReference>
            </connector>
            <label>Yes Choose Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Alert_Record</name>
        <label>Create Alert Record?</label>
        <locationX>798</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Create_Additional_Animal_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Alerts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Animal_Create_Alert</targetReference>
            </connector>
            <label>Yes - Create Alert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the User want to create another Animal entry</description>
        <name>Create_another_Animal_entry_record</name>
        <label>Create another Animal entry record?</label>
        <locationX>798</locationX>
        <locationY>2594</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_Animal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SameType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>start_Screen</targetReference>
            </connector>
            <label>Yes - Duplicate</label>
        </rules>
        <rules>
            <name>Yes_Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_Animal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DifferentType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Animal_Collection</targetReference>
            </connector>
            <label>Yes - Unique</label>
        </rules>
        <rules>
            <name>No_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_Animal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoAdditional</stringValue>
                </rightValue>
            </conditions>
            <label>No - Finish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Assessment_Record</name>
        <label>Create Assessment Record?</label>
        <locationX>798</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Create_Alert_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Assessment</targetReference>
            </connector>
            <label>Yes Create Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_a_Contact_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Capture_Contact_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Person_Accounts_enabled</targetReference>
            </connector>
            <label>Yes Create a Contact Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Contact that has been created the Owner of the Animal</description>
        <name>Is_Contact_Owner</name>
        <label>Is Contact Owner?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_Contact_the_Animal_Owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_Record_with_Contact</targetReference>
            </connector>
            <label>Yes Owner</label>
        </rules>
    </decisions>
    <description>[Animal Shelters] - Screen flow providing an Animal Entry wizard.  Allows creation of Animal, Location assignment, Assessment, Contact and Alerts.</description>
    <environments>Default</environments>
    <formulas>
        <name>lostFoundFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    OR(
            ISPICKVAL({!newAnimal.Entry_Reason__c}, &apos;Stray&apos;),
            ISPICKVAL({!newAnimal.Entry_Reason__c}, &apos;Abandoned&apos;))
     , True, False)</expression>
    </formulas>
    <interviewLabel>Animal - Animal Entry Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Animal Entry Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alert</name>
        <label>Create Alert</label>
        <locationX>534</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Create_Additional_Animal_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newAlert</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the new Animal Record</description>
        <name>Create_New_Animal_Record</name>
        <label>Create New Animal Record</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newAnimal</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create New Contact Record</description>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Is_Contact_Owner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Is_Person_Accounts_enabled</name>
        <label>Is Person Accounts enabled?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Details_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IsPersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update animal record with the Contact just created</description>
        <name>Update_Animal_Record_with_Contact</name>
        <label>Update Animal Record with Contact</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Location</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAnimal.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Current_Owner__c</field>
            <value>
                <elementReference>newContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <screens>
        <name>Animal_Create_Alert</name>
        <label>Animal Entry - Create Alert</label>
        <locationX>534</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Assignment_Data</targetReference>
        </connector>
        <fields>
            <name>Animal_Create_Alert_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(1, 118, 211);&quot;&gt;Capture Alert&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Animal_Create_Alert_Line</name>
            <extensionName>animalshelters:flowHLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>newAlert.Alert_Message__c</objectFieldReference>
        </fields>
        <fields>
            <name>Animal_Create_Alert_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Animal_Create_Alert_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAlert.Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Animal_Create_Alert_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAlert.Severity_Level__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Details_Screen</name>
        <label>Capture Contact Details Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
        <fields>
            <name>Contact_Details_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 211); font-size: 18px;&quot;&gt;Contact Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Details_Screen_HLine</name>
            <extensionName>animalshelters:flowHLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newContact.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newContact.AccountId</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Person_Accounts_enabled.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newContact.Birthdate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newContact.MailingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newContact.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newContact.HomePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newContact.MobilePhone</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Details_Screen_Line</name>
            <extensionName>animalshelters:flowHLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Details_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_the_Contact_the_Animal_Owner</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is the Contact the Animal Owner (Tick for Yes)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Additional_Animal_Screen</name>
        <label>Create Additional Animal Screen</label>
        <locationX>798</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_another_Animal_entry_record</targetReference>
        </connector>
        <fields>
            <name>Create_another_Animal</name>
            <choiceReferences>SameAnimalType</choiceReferences>
            <choiceReferences>DifferentAnimalType</choiceReferences>
            <choiceReferences>NoAdditional</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create another Animal</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Text</name>
            <fieldText>&lt;p&gt;There has been an error creating or updating a record:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;{!$User.Username}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>start_Screen</name>
        <label>Start Screen</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Additional_Animal_Details</targetReference>
        </connector>
        <fields>
            <name>start_Screen_Text_Instructions</name>
            <fieldText>&lt;p&gt;Create a new animal for entry into the shelter, and if required select additional records to create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>start_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>start_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assign_Animal_Location</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Assign the animal a Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Create_Assessment</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Assessment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>start_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capture_Contact_Details</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Capture Contact Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Create_Alerts</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Alerts</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>start_Screen_Line</name>
            <extensionName>animalshelters:flowHLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>start_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>start_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Animal_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Breed_Lookup__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Colour__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Secondary_Colour__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Gender__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>start_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Microchip__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Neutered_Spayed__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Neutered_Spayed_Date_Time__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>newAnimal.Neutered_Spayed__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Size__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Estimated_Age__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Current_Weight__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>start_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>start_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAnimal.Entry_Reason__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>start_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call Create new Assessment Screen Flow and pass Record Id of new Animal</description>
        <name>Create_New_Assessment</name>
        <label>Create New Assessment</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Create_Alert_Record</targetReference>
        </connector>
        <flowName>Assessment_Create_new_assessment</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>newAnimal</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Call Movement Process Screen Flow and pass Record Id of new Animal</description>
        <name>Movement_Process_Screen_Flow</name>
        <label>Movement Process Screen Flow</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Create_Assessment_Record</targetReference>
        </connector>
        <flowName>Animal_Movement_Process</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>newAnimal</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EmptyAnimalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>newAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Alert__c</objectType>
    </variables>
    <variables>
        <name>newAnimal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
