force-app/main/default/flows/Animal_Breeds_Migration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Build_List_to_Update</name>
        <label>Build List to Update</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AnimalsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAnimalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_through_Animal_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Animal_and_Breed_IDs</name>
        <label>Get Animal and Breed IDs</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SingleAnimalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cycle_through_Animal_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnimalRecord.Breed_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchBreedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAnimalRecord.SYSTEM_Breed_Migrated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_List_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Flag</name>
        <label>Set Error Flag</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MigrationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_through_Animal_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Breed_Record_Been_Found</name>
        <label>Has Breed Record Been Found?</label>
        <locationX>886</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Animal_and_Breed_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Breed Record Found</defaultConnectorLabel>
        <rules>
            <name>Breed_Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchBreedRecord.Id</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Set_Error_Flag</targetReference>
            </connector>
            <label>Breed Record Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Migration_Already_Been_Completed</name>
        <label>Has Migration Already Been Completed?</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Animals_Records_for_Migration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Migration Not Completed</defaultConnectorLabel>
        <rules>
            <name>Migration_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BreedsMigrationComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Migration_has_already_been_completed</targetReference>
            </connector>
            <label>Migration Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mark_Migration_as_Complete</name>
        <label>Mark Migration as Complete?</label>
        <locationX>864</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Migration Not Complete</defaultConnectorLabel>
        <rules>
            <name>Migration_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_to_mark_migration_as_complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Setting_to_True</targetReference>
            </connector>
            <label>Migration Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_There_Errors_in_Matching</name>
        <label>Were There Errors in Matching</label>
        <locationX>666</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>No_Match_Errors_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Errors Encountered</defaultConnectorLabel>
        <rules>
            <name>Match_Errors_Encountered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MigrationErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Errors_Screen</targetReference>
            </connector>
            <label>Match Errors Encountered</label>
        </rules>
    </decisions>
    <description>Flow used to migrate Animal Type and Breeds from Picklist to Object Lookup</description>
    <environments>Default</environments>
    <formulas>
        <name>BreedsMigrationComplete</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Animal_Shelter_Settings__c.Breeds_Migration_Complete__c}</expression>
    </formulas>
    <interviewLabel>Animal - Breeds Migration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Breeds Migration Flow</label>
    <loops>
        <name>Cycle_through_Animal_Records</name>
        <label>Cycle through Animal Records</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <collectionReference>AnimalsToMigrate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Breed_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Animal_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Signifies that migration is complete</description>
        <name>Update_Custom_Setting_to_True</name>
        <label>Update Custom Setting to True</label>
        <locationX>732</locationX>
        <locationY>1670</locationY>
        <inputAssignments>
            <field>Breeds_Migration_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Animal_Shelter_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets all animal records with Is Migrated flag set to false</description>
        <name>Get_Animals_Records_for_Migration</name>
        <label>Get Animals Records for Migration</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_through_Animal_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SYSTEM_Breed_Migrated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputReference>AnimalsToMigrate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Breed_Lookup__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Look in Breeds object for record that matches the Type and Breed Picklists</description>
        <name>Get_Breed_Record</name>
        <label>Get Breed Record</label>
        <locationX>886</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Breed_Record_Been_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cycle_through_Animal_Records.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Species__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cycle_through_Animal_Records.Breed__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Breed__c</object>
        <outputReference>MatchBreedRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Records</name>
        <label>Update Animal Records</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Were_There_Errors_in_Matching</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Updating_Animal_Records</targetReference>
        </faultConnector>
        <inputReference>AnimalsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Fault_Updating_Animal_Records</name>
        <label>Fault Updating Animal Records</label>
        <locationX>1172</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Updating_Animal_Records_Text</name>
            <fieldText>&lt;p&gt;Oops!  Looks like there has been an issue trying to update the Animal Records.  Please contact your System Admin with the following details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Match_Errors_Screen</name>
        <label>Match Errors Screen</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Match_Errors_Screen_Text</name>
            <fieldText>&lt;p&gt;During the migration process 1 or more Animal record Type and Breeds were unable to be matched with the Breeds data.  Run the following report to see which Animal records do not have the migrated flag set&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Migration_has_already_been_completed</name>
        <label>Migration has already been completed</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MigrationCompleted_Text</name>
            <fieldText>&lt;p&gt;It looks like the migration of data has already been completed.  If this is not the case contact your Systems Administrator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Match_Errors_Screen</name>
        <label>No Match Errors Screen</label>
        <locationX>864</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mark_Migration_as_Complete</targetReference>
        </connector>
        <fields>
            <name>No_Match_Errors_Screen_Text</name>
            <fieldText>&lt;p&gt;All Animal records have been successfully migrated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can now remove the old Type and Breed fields from any Page Layouts.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Marking the Migration as complete means that you will not be able to run this process again!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_to_mark_migration_as_complete</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm to mark migration as complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Migration_Already_Been_Completed</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AnimalsToMigrate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>AnimalsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>BreedPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchBreedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Breed__c</objectType>
    </variables>
    <variables>
        <description>Indicates that not all animal records can be matched to breeds</description>
        <name>MigrationErrors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleAnimalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>TypePicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
