force-app/main/default/flows/Animal_Length_of_Stay_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Total_of_Days</name>
        <label>Count Total of Days</label>
        <locationX>1064</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>varTotalDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DaysCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Movement_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conHoused</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Housed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>499</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Movement_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records Found</defaultConnectorLabel>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMovements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stay_Field_to_Zero</targetReference>
            </connector>
            <label>No Records</label>
        </rules>
    </decisions>
    <description>Calculates the length of stay of the Animal in the Shelter by adding all Housed Movement records</description>
    <formulas>
        <name>DaysCalculation</name>
        <dataType>Number</dataType>
        <expression>IF({!varMovement.%%%NAMESPACED_ORG%%%End_Date__c} = {!varMovement.%%%NAMESPACED_ORG%%%Start_Date__c},1,({!varMovement.%%%NAMESPACED_ORG%%%End_Date__c} - {!varMovement.%%%NAMESPACED_ORG%%%Start_Date__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Animal - Length of Stay Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Length of Stay Calculation</label>
    <loops>
        <name>Loop_Through_Movement_Records</name>
        <label>Loop Through Movement Records</label>
        <locationX>756</locationX>
        <locationY>46</locationY>
        <assignNextValueToReference>varMovement</assignNextValueToReference>
        <collectionReference>varMovements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Total_of_Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Stay_Field_to_Zero_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Housed_Movement_Records</name>
        <label>Get Housed Movement Records</label>
        <locationX>262</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACED_ORG%%%Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conHoused</elementReference>
            </value>
        </filters>
        <object>%%%NAMESPACED_ORG%%%Movement__c</object>
        <outputReference>varMovements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%Start_Date__c</queriedFields>
        <queriedFields>%%%NAMESPACED_ORG%%%End_Date__c</queriedFields>
        <sortField>%%%NAMESPACED_ORG%%%Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_Stay_Field_to_Zero</name>
        <label>Set Stay Field to Zero</label>
        <locationX>504</locationX>
        <locationY>294</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Total_Length_of_Stay_in_Shelter_Days__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stay_Field_to_Zero_0</name>
        <label>Set Stay Field</label>
        <locationX>755</locationX>
        <locationY>299</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Total_Length_of_Stay_in_Shelter_Days__c</field>
            <value>
                <elementReference>varTotalDays</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Housed_Movement_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Movement__c</objectType>
    </variables>
    <variables>
        <name>varMovements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Movement__c</objectType>
    </variables>
    <variables>
        <name>varTotalDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
