force-app/main/default/flows/Animal_Action_Vaccination_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Build_New_Medicine_Record</name>
        <label>Build New Medicine Record</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newMedicineRecord.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newMedicineRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Medicine_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_new_Treatment_Record</name>
        <label>Build new Treatment Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Treatment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.returnedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalRecordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Date_Time_of_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVaccinationDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Date_Time_Action_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVaccinationDateTimeCompleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Action_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAnimalActionRecord.Action_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Treatment_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Medicine_Selected</name>
        <label>Medicine Selected</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Build_New_Medicine_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Medicine entered</defaultConnectorLabel>
        <rules>
            <name>Yes_Medicine_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_a_new_Medicine_instead_of_choosing_an_existing_one</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Medicine_Details</targetReference>
            </connector>
            <label>Yes Medicine Selected</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Flow to capture new Vaccinations</description>
    <dynamicChoiceSets>
        <name>medicineLookup</name>
        <dataType>String</dataType>
        <displayField>Medicine_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Medicine__c</object>
        <outputAssignments>
            <assignToReference>newMedicineRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Medicine_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Animal Action - Vaccination Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Action - Vaccination Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Medicine_Used_Record</name>
        <label>Create Medicine Used Record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Medicine_Used__c</field>
            <value>
                <elementReference>newVaccinationMedicineSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Treatment_Used_In__c</field>
            <value>
                <elementReference>Create_Treatment_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Medicine_Used__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Medicine_Record</name>
        <label>Create new Medicine Record</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newMedicineRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Treatment_Record</name>
        <label>Create Treatment Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Medicine_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newAnimalActionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Selected_Medicine_Details</name>
        <label>Get Selected Medicine Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Medicine_Used_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newMedicineRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Flow_Error_Screen</name>
        <label>Flow Error Screen</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowErrorScreenText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Vaccination</name>
        <label>New Vaccination</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Build_new_Treatment_Record</targetReference>
        </connector>
        <fields>
            <name>newVaccinationAnimalName</name>
            <fieldText>&lt;p&gt;New Vaccination record for {!animalRecordId.Animal_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Vaccination_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Vaccination_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newVaccinationDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Vaccination Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Vaccination_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newVaccinationDateTimeCompleted</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Vaccination Date/Time Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>newVaccinationDescription</name>
            <dataType>String</dataType>
            <fieldText>Vaccination Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_a_new_Medicine_instead_of_choosing_an_existing_one</name>
            <dataType>Boolean</dataType>
            <fieldText>Enter a new Medicine instead of choosing an existing one</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Vaccination_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Vaccination_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newVaccinationMedicineSelection</name>
                    <choiceReferences>medicineLookup</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>newVaccinationMedicineSelection</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enter_a_new_Medicine_instead_of_choosing_an_existing_one</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Vaccination_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Vaccination_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newMedicineRecord.Medicine_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newMedicineRecord.Delivery_Method__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Vaccination_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newMedicineRecord.Batch_No__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newMedicineRecord.Manufacturer__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enter_a_new_Medicine_instead_of_choosing_an_existing_one</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newMedicineRecord.Comments__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>New_Vaccination</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Treatment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>Animal_Action__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>animalRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>newAnimalActionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Action__c</objectType>
    </variables>
    <variables>
        <description>Data required to make new Medicine Record</description>
        <name>newMedicineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medicine__c</objectType>
    </variables>
    <variables>
        <name>newMedicineRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
