force-app/main/default/flows/Animal_Animal_Release_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Animal_Data</name>
        <label>Update Animal Data</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varAnimalToBeReleased.Animal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAnimalToBeReleased.Location_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Animal_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Movement_Data</name>
        <label>Update Movement Data</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varMovementRecord.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMovementRecord.Release_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaptureCurrentLocation.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMovementRecord.Release_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaptureCurrentLocation.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMovementRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Animal Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMovementRecord.Display_on_Map__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_to_display_location_on_the_Map</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Movement_Record</targetReference>
        </connector>
    </assignments>
    <description>Release an Animal and capture location</description>
    <dynamicChoiceSets>
        <name>choiceAnimalsToBeReleased</name>
        <dataType>String</dataType>
        <displayField>Animal_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </filters>
        <filters>
            <field>Animal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </filters>
        <filters>
            <field>Location_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release</stringValue>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Animal_Status__c</assignToReference>
            <field>Animal_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Location_Status__c</assignToReference>
            <field>Location_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Animal_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Animal_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Animal - Animal Release Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Animal Release Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Movement_Record</name>
        <label>Get Movement Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Movement_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalToBeReleased.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release</stringValue>
            </value>
        </filters>
        <object>Movement__c</object>
        <outputReference>varMovementRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Display_on_Map__c</queriedFields>
        <queriedFields>Release_Location__Latitude__s</queriedFields>
        <queriedFields>Release_Location__Longitude__s</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Record</name>
        <label>Update Animal Record</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Error_Updating_Animal</targetReference>
        </faultConnector>
        <inputReference>varAnimalToBeReleased</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Movement_Record</name>
        <label>Update Movement Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Animal_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Movement</targetReference>
        </faultConnector>
        <inputReference>varMovementRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_Location</name>
        <label>Capture Location</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Movement_Data</targetReference>
        </connector>
        <fields>
            <name>CaptureCurrentLocation</name>
            <extensionName>c:FSCGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_an_Animal</name>
        <label>Choose an Animal</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Choose_an_animal_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This process will allow you to select an animal for release, and capture &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;your&lt;/i&gt;&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; current location which is set as the animals release location.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_an_Animal_to_Release</name>
            <choiceReferences>choiceAnimalsToBeReleased</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an Animal to Release</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_to_display_location_on_the_Map</name>
            <dataType>Boolean</dataType>
            <fieldText>Check to display location on the Map</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Movement_Record</name>
        <label>Error Getting Movement Record</label>
        <locationX>968</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Getting_Movement_Record_Text</name>
            <fieldText>&lt;p&gt;There has been an error&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Animal</name>
        <label>Error Updating Animal</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Updating_Animal_Text</name>
            <fieldText>&lt;p&gt;There has been an error &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Movement</name>
        <label>Error Updating Movement</label>
        <locationX>704</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Updating_Movement_Text</name>
            <fieldText>&lt;p&gt;There has been an error &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_an_Animal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAnimalToBeReleased</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>varMovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
</Flow>
