force-app/main/default/flows/Animal_Movement_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FlowErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error occurred in Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Future_Date_Assignments</name>
        <label>Future Date Assignments</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Movement_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAnimalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Movement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Movement_Record_Assignments</name>
        <label>Movement Record Assignments</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>movementStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>movementType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_Movement_Date_in_the_Future</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Variable</name>
        <label>Set Output Variable</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>newMovementRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Movement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Movement_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Todays_Date_Assignments</name>
        <label>Todays Date Assignments</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.Movement_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAnimalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Movement_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Generate_Movement_Task</name>
        <label>Generate Movement Task?</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.animalshelters__Animal_Shelter_Settings__c.animalshelters__Enable_Movement_Tasks__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Movement_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Movement_Date_in_the_Future</name>
        <label>Is the Movement Date in the Future?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Todays_Date_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Future_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>movementStartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_Date_Assignments</targetReference>
            </connector>
            <label>Yes Future Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Animal_Location_Fields</name>
        <label>Update Animal Location Fields</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateAnimalLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_Location_Status</targetReference>
            </connector>
            <label>Yes - Update</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Subflow to create Movement Records</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlLocationName</name>
        <dataType>String</dataType>
        <expression>IF(
{!movementType} = &quot;Housed&quot;, 
{!movementType} + &quot; - &quot; + {!Get_Newly_Created_Movement_Record.Location_Name__c},
{!movementType}
)</expression>
    </formulas>
    <interviewLabel>Animal - Movement SubFlow</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Movement SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Movement_Record</name>
        <label>Create Movement Record</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Movement_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputReference>varNewMovementRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Newly_Created_Movement_Record</name>
        <label>Get Newly Created Movement Record</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Animal_Location_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewMovementRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Location_Status</name>
        <label>Update Animal Location Status</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Location_Status__c</field>
            <value>
                <elementReference>fmlLocationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>Get_Newly_Created_Movement_Record.Sitename__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Movement_Record_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Movement_Task</name>
        <label>Create Movement Task</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <flowName>Animal_Generate_Tasks_Subflow</flowName>
        <inputAssignments>
            <name>animalRecordId</name>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>movementRecordId</name>
            <value>
                <elementReference>newMovementRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskDueDate</name>
            <value>
                <elementReference>movementStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskObjectType</name>
            <value>
                <stringValue>Movement</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>FlowErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There has been an error in Flow Animal - Movement SubFlow&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;Run by User: {!$User.Username}&lt;/p&gt;&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;&lt;/pre&gt;</text>
    </textTemplates>
    <variables>
        <name>AnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>movementStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>movementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newMovementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateAnimalLocation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewMovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
</Flow>
