force-app/main/default/flows/Animal_Animal_Location_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_w3w_field_for_current_record</name>
        <label>Update w3w field for current record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recordId.%%%NAMESPACED_ORG%%%what3words__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_the_what3words_field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if there is a value in the what3words field</description>
        <name>Check_if_what3word_is_populated</name>
        <label>Check if what3word is populated</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Capture_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>what3word is null</defaultConnectorLabel>
        <rules>
            <name>what3words_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.%%%NAMESPACED_ORG%%%what3words__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>w3w_Confirmation_Screen</targetReference>
            </connector>
            <label>what3words is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overwrite_w3w_Field</name>
        <label>Overwrite w3w Field?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>No_Changes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Don&apos;t Overwrite</defaultConnectorLabel>
        <rules>
            <name>Yes_Overwrite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Overwrite_w3w.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_w3w_field_for_current_record</targetReference>
            </connector>
            <label>Yes - Overwrite</label>
        </rules>
    </decisions>
    <description>[Animal Shelter Starter] - Captures the users current location and assigns that location to the selected animal</description>
    <environments>Default</environments>
    <interviewLabel>Animal - Animal Location Flow</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Animal Location Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Removes the value from the what3words field for the selected animal</description>
        <name>Clear_the_what3words_field</name>
        <label>Clear the what3words field</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Capture_Location</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Animal_with_Location</name>
        <label>Update Animal with Location</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Geolocation__Latitude__s</field>
            <value>
                <elementReference>Capture_Geo.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Geolocation__Longitude__s</field>
            <value>
                <elementReference>Capture_Geo.longitude</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
    </recordUpdates>
    <screens>
        <name>Capture_Location</name>
        <label>Capture Location</label>
        <locationX>578</locationX>
        <locationY>986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Animal_with_Location</targetReference>
        </connector>
        <fields>
            <name>help_text_locationscreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Getting Location&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;We are getting your current location details from your Browser/Device, and will  save them against the animal.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 34, 20);&quot;&gt;⚠️&lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 34, 20); font-size: 10px;&quot;&gt;You may be prompted to grant permission to access your location!&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Animal Name: {!recordId.%%%NAMESPACED_ORG%%%Animal_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Capture_Geo</name>
            <extensionName>c:FSCGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>578</locationX>
        <locationY>1226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Location Update Complete!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!recordId.%%%NAMESPACED_ORG%%%Animal_Name__c} has been updated with the new location.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1018</locationX>
        <locationY>1226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Text</name>
            <fieldText>&lt;p&gt;There has been an error, please contact your System Administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Changes_Screen</name>
        <label>No Changes Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Changes_Screen_Text</name>
            <fieldText>&lt;p&gt;No changes have been made!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>w3w_Confirmation_Screen</name>
        <label>w3w Confirmation Screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Overwrite_w3w_Field</targetReference>
        </connector>
        <fields>
            <name>w3w_Confirmation_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;what3words exists&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;There is an entry in the what3words field for {!recordId.%%%NAMESPACED_ORG%%%Animal_Name__c}, which indicates you already have a location.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overwrite_w3w</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you wish to overwrite the location retrieved from what3words?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_what3word_is_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Animal__c</objectType>
    </variables>
</Flow>
