force-app/main/default/flows/Animal_Action_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1204</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnimalActionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Tasks_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Initial</name>
        <label>Add to Collection</label>
        <locationX>722</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnimalActionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tasks_to_Collection</name>
        <label>Assign Tasks to Collection</label>
        <locationX>1595</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnimalActionTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrease_Time_Slots_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Collection</name>
        <label>Assign to Task Collection</label>
        <locationX>941</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnimalActionTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Additional_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>452</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>NumberOfTimeFrames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Every_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeFrames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Schedule_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Initial_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Next_Action_Date</name>
        <label>Calculate Next Action Date</label>
        <locationX>878</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateCalculationFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Action_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Time_Slots_Number</name>
        <label>Decrease Time Slots Number</label>
        <locationX>1449</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>NumberOfTimeFrames</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Additional_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Action_Record</name>
        <label>Generate Action Record</label>
        <locationX>1062</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Date_Time_of_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalActionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Treatment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Condition_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalActionRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Initial_Action</name>
        <label>Generate Initial Action</label>
        <locationX>577</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Date_Time_of_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Treatment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Condition_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalActionRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Initial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Initial_Task</name>
        <label>Generate Initial Task</label>
        <locationX>721</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenerateTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Task_in_Loop</name>
        <label>Generate Task in Loop</label>
        <locationX>1440</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>AnimalActionTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalActionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenerateTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnimalActionTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tasks_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Day_Choice</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exercise</name>
        <choiceText>Exercise Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exercise</stringValue>
        </value>
    </choices>
    <choices>
        <name>Month_Choice</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nutrition</name>
        <choiceText>Nutrition/Diet Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nutrition</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment</name>
        <choiceText>Treatment Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Treatment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Choice</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Years_Choice</name>
        <choiceText>Yearly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Calculate_Additional_Action</name>
        <label>Calculate Additional Action?</label>
        <locationX>933</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Calculate_Next_Action_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfTimeFrames</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Action_Records</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Tasks</name>
        <label>Create Tasks?</label>
        <locationX>1392</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks_and_Treatment_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tasks_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generate_Tasks</name>
        <label>Generate Tasks?</label>
        <locationX>714</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Calculate_Additional_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks_and_Treatment_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Initial_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generate_Tasks_Loop</name>
        <label>Generate Tasks?</label>
        <locationX>1364</locationX>
        <locationY>724</locationY>
        <defaultConnector>
            <targetReference>Decrease_Time_Slots_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MoreTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks_and_Treatment_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Task_in_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Treatment_Action</name>
        <label>Is this a Treatment Action?</label>
        <locationX>235</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Treatment_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Treatment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Treatment_Info</targetReference>
            </connector>
            <label>Yes Treatment Selected</label>
        </rules>
    </decisions>
    <description>Provides ability to create Schedules for the Animal Actions object</description>
    <dynamicChoiceSets>
        <name>Treatment_Types</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Treatment_Type__c</picklistField>
        <picklistObject>Treatment__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DateCalculationFormula</name>
        <dataType>DateTime</dataType>
        <expression>IF({!TimeFrames} = &quot;Daily&quot;, 
    {!From_Date} + {!NumberOfTimeFrames},
        IF({!TimeFrames} = &quot;Weekly&quot;,
            {!From_Date} + ({!NumberOfTimeFrames} * 7),
                IF({!TimeFrames} = &quot;Monthly&quot;,
                    ADDMONTHS ({!From_Date}, {!NumberOfTimeFrames}),
                        IF(
                          AND(
                            MONTH( DATEVALUE({!From_Date}) ) = 2,
                            DAY(DATEVALUE( {!From_Date} )) = 29,
                            NOT( 
                              OR( 
                                MOD( YEAR( DATEVALUE({!From_Date}) ), 400 ) = 0, 
                                AND( 
                                  MOD( YEAR( DATEVALUE({!From_Date} )), 4 ) = 0,
                                  MOD( YEAR(DATEVALUE( {!From_Date} )), 100 ) != 0
                                )
                              )
                            ) 
                          ),
                          DATETIMEVALUE(DATE( YEAR( DATEVALUE({!From_Date}) ) + {!NumberOfTimeFrames}, 3, 1) + 080000),
                          DATETIMEVALUE(DATE( YEAR( DATEVALUE({!From_Date}) ) + {!NumberOfTimeFrames}, MONTH( DATEVALUE({!From_Date} )), DAY( DATEVALUE({!From_Date} )) ) + 080000)
                        )
                )
    )
)</expression>
    </formulas>
    <formulas>
        <name>GenerateTaskSubject</name>
        <dataType>String</dataType>
        <expression>{!Schedule_Picklist} + &quot; &quot; + {!Action_Selection}</expression>
    </formulas>
    <interviewLabel>Animal - Action Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Action Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Tasks_Records</name>
        <label>Create Tasks</label>
        <locationX>1799</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>AnimalActionTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Generate_Action_Records</name>
        <label>Generate Action Records</label>
        <locationX>1400</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>AnimalActionRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Animal_Action_RecordType_ID</name>
        <label>Get Animal Action RecordType ID</label>
        <locationX>160</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_Treatment_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Action_Selection</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Animal_Action__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AnimalActionRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1786</locationX>
        <locationY>1010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error Encountered&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1640</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Screen_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;{!Action_Selection} Records Generated! &lt;b&gt;Click FINISH to save the records.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Details</name>
        <label>Schedule Details</label>
        <locationX>160</locationX>
        <locationY>241</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Animal_Action_RecordType_ID</targetReference>
        </connector>
        <fields>
            <name>Schedule_Header_Text</name>
            <fieldText>&lt;p&gt;Calculate and add scheduled actions for this animal by completing the form below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Schedule&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>From_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When is the first date and time of the action?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Date of first treatment&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Schedule_Picklist</name>
            <choiceReferences>Day_Choice</choiceReferences>
            <choiceReferences>Week_Choice</choiceReferences>
            <choiceReferences>Month_Choice</choiceReferences>
            <choiceReferences>Years_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Day_Choice</defaultSelectedChoiceReference>
            <fieldText>How often will this action need to be completed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Every_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>For how long?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Once you have set the recurrence (e.g. to Daily), how many days will the schedule run for (e.g. 6 would be 6 days)? &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Action_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Action Type&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Selection</name>
            <choiceReferences>Treatment</choiceReferences>
            <choiceReferences>Exercise</choiceReferences>
            <choiceReferences>Nutrition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the type of action for the animal:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Action_Description</name>
            <fieldText>Provide a description for this action:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Provide specifics for this action, so that other people know what to do in order to complete this action for the animal.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Generate_Tasks_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Would you also like to generate tasks within Salesforce?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Generate_Tasks_and_Treatment_Records</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes, generate Tasks as well</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Treatment_Info</name>
        <label>Treatment Info</label>
        <locationX>375</locationX>
        <locationY>192</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Treatment_Header_Text</name>
            <fieldText>&lt;p&gt;As you have selected a Treatment Action we just need a couple of additional bits of information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Treatment_Adtl_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Additional Treatment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Treatment_Type_0</name>
            <choiceReferences>Treatment_Types</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Treatment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_Header_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Related Condition&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_Condition</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Animal_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Condition__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Condition</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Related_Condition_Selected</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>34</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Schedule_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnimalActionDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnimalActionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Action__c</objectType>
    </variables>
    <variables>
        <name>AnimalActionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Action__c</objectType>
    </variables>
    <variables>
        <name>AnimalActionRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnimalActionTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>AnimalActionTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NumberOfTimeFrames</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Related_Condition_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeFrames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
