force-app/main/default/flows/Animal_Treatment_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1245</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>TreatmentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TreatmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Tasks_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Initial</name>
        <label>Add to Collection</label>
        <locationX>748</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>TreatmentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TreatmentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tasks_to_Collection</name>
        <label>Assign Tasks to Collection</label>
        <locationX>1595</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TreatmentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrease_Time_Slots_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Collection</name>
        <label>Assign to Task Collection</label>
        <locationX>958</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TreatmentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Additional_Treatment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>441</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>NumberOfTimeFrames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Every_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeFrames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Schedule_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Initial_Treatment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calc_Next_Treatment_Date</name>
        <label>Calculate Next Treatment Date</label>
        <locationX>891</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>TreatmentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateCalculationFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Treatment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Time_Slots_Number</name>
        <label>Decrease Time Slots Number</label>
        <locationX>1449</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>NumberOfTimeFrames</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Additional_Treatment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Initial_Task</name>
        <label>Generate Initial Task</label>
        <locationX>829</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>TreatmentTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenerateTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Initial_Treatment</name>
        <label>Generate Initial Treatment</label>
        <locationX>603</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Date_Time_of_Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Treatment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Condition_Selected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Initial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Task_in_Loop</name>
        <label>Generate Task in Loop</label>
        <locationX>1440</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>TreatmentTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TreatmentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenerateTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tasks_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Treatment_Record</name>
        <label>Generate Treatment Record</label>
        <locationX>1062</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Date_Time_of_Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TreatmentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Treatment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreatmentRecord.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Condition_Selected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Day_Choice</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Month_Choice</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Choice</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Years_Choice</name>
        <choiceText>Yearly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Calculate_Additional_Treatment</name>
        <label>Calculate Additional Treatment?</label>
        <locationX>883</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Calc_Next_Treatment_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfTimeFrames</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Treatment_Records</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Tasks</name>
        <label>Create Tasks?</label>
        <locationX>1392</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks_and_Treatment_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tasks_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generate_Tasks</name>
        <label>Generate Tasks?</label>
        <locationX>716</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Calculate_Additional_Treatment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks_and_Treatment_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Initial_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generate_Tasks_Loop</name>
        <label>Generate Tasks?</label>
        <locationX>1364</locationX>
        <locationY>724</locationY>
        <defaultConnector>
            <targetReference>Decrease_Time_Slots_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MoreTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Tasks_and_Treatment_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Task_in_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Treatment_Types</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Treatment_Type__c</picklistField>
        <picklistObject>Treatment__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DateCalculationFormula</name>
        <dataType>DateTime</dataType>
        <expression>IF({!TimeFrames} = &quot;Daily&quot;, 
    {!From_Date} + {!NumberOfTimeFrames},
        IF({!TimeFrames} = &quot;Weekly&quot;,
            {!From_Date} + ({!NumberOfTimeFrames} * 7),
                IF({!TimeFrames} = &quot;Monthly&quot;,
                    ADDMONTHS ({!From_Date}, {!NumberOfTimeFrames}),
                        IF(
                          AND(
                            MONTH( DATEVALUE({!From_Date}) ) = 2,
                            DAY(DATEVALUE( {!From_Date} )) = 29,
                            NOT( 
                              OR( 
                                MOD( YEAR( DATEVALUE({!From_Date}) ), 400 ) = 0, 
                                AND( 
                                  MOD( YEAR( DATEVALUE({!From_Date} )), 4 ) = 0,
                                  MOD( YEAR(DATEVALUE( {!From_Date} )), 100 ) != 0
                                )
                              )
                            ) 
                          ),
                          DATETIMEVALUE(DATE( YEAR( DATEVALUE({!From_Date}) ) + {!NumberOfTimeFrames}, 3, 1) + 080000),
                          DATETIMEVALUE(DATE( YEAR( DATEVALUE({!From_Date}) ) + {!NumberOfTimeFrames}, MONTH( DATEVALUE({!From_Date} )), DAY( DATEVALUE({!From_Date} )) ) + 080000)
                        )
                )
    )
)</expression>
    </formulas>
    <formulas>
        <name>GenerateTaskSubject</name>
        <dataType>String</dataType>
        <expression>{!Schedule_Picklist} + &quot; &quot; + {!Treatment_Type}</expression>
    </formulas>
    <interviewLabel>Animal - Treatment Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Treatment Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Tasks_Records</name>
        <label>Create Tasks</label>
        <locationX>1799</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>TaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Generate_Treatment_Records</name>
        <label>Generate Treatment Records</label>
        <locationX>1400</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>TreatmentRecords</inputReference>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1648</locationX>
        <locationY>547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error Encountered&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1640</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Screen_text</name>
            <fieldText>&lt;p&gt;Treatment Records Generated! Click FINISH to save the records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Details</name>
        <label>Schedule Details</label>
        <locationX>277</locationX>
        <locationY>361</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Treatement_Header</name>
            <fieldText>&lt;p&gt;Calculate scheduled treatment dates by completing the form below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Schedule&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Schedule_Picklist</name>
            <choiceReferences>Day_Choice</choiceReferences>
            <choiceReferences>Week_Choice</choiceReferences>
            <choiceReferences>Month_Choice</choiceReferences>
            <choiceReferences>Years_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Day_Choice</defaultSelectedChoiceReference>
            <fieldText>Time Frame...</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>From_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>From...</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Date of first treatment&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Every_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>For...</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Total number of treatments&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Treatment_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Treatment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Treatment_Type</name>
            <choiceReferences>Treatment_Types</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Treatment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Treatment_Description</name>
            <fieldText>Treatment Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Condition_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Related Condition&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_Condition</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Treatment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Condition__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Condition</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Related_Condition_Selected</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Generate_Tasks_and_Treatment_Records</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Generate Tasks and Treatment Records</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>68</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Schedule_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NumberOfTimeFrames</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Related_Condition_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TimeFrames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TreatmentDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TreatmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Treatment__c</objectType>
    </variables>
    <variables>
        <name>TreatmentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Treatment__c</objectType>
    </variables>
    <variables>
        <name>TreatmentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
