force-app/main/default/flows/Animal_Adoption_Manual_matching_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Build_Adoption_Match_record</name>
        <label>Build Adoption Match record</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newAdoptionMatchRecord.Adopter_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionMatchRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAdoptionMatchRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Adoption_Match_Record_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Adoption_Match_Record_Set</name>
        <label>Build Adoption Match Record Set</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newAdoptionMatchRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAdoptionMatchRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_they_any_selected_records</name>
        <label>Are they any selected records?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Process Selected Records</defaultConnectorLabel>
        <rules>
            <name>No_Selected_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PossibleAdopters.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Selected Records</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] - Screen flow to allow a user to manually match an animal to a adopter profile.  Initiated from an Animal record</description>
    <dynamicChoiceSets>
        <name>animalRequirementsPicklist</name>
        <dataType>String</dataType>
        <displayField>Rehoming_Requirements__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>Animal__c</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>animalDifferentSpeciesConversion</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!recordId.Rehoming_Requirements__c},&apos;No Animals of different species&apos;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>animalNoChildrenConversion</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!recordId.Rehoming_Requirements__c}, &quot;No Children&quot;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>animalSafeGardenConversion</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!recordId.Rehoming_Requirements__c}, &quot;Secure Garden&quot;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>animalSameSpeciesConversion</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!recordId.Rehoming_Requirements__c},&apos;No Animals of same species&apos;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>animalSpecialCareConversion</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(INCLUDES({!recordId.Rehoming_Requirements__c},&apos;Dietary&apos;),INCLUDES({!recordId.Rehoming_Requirements__c},&apos;Medical&apos;),INCLUDES({!recordId.Rehoming_Requirements__c},&apos;Experienced Owner&apos;),INCLUDES({!recordId.Rehoming_Requirements__c}, &apos;Specialist Equipment&apos;)), TRUE, FALSE )</expression>
    </formulas>
    <interviewLabel>Animal - Adoption Manual matching Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Adoption Match Manual Process</label>
    <loops>
        <name>Loop_Through_Selected_Records</name>
        <label>Loop Through Selected Records</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <collectionReference>PossibleAdopters.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Adoption_Match_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Adoption_Match_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adoption_Match_Records</name>
        <label>Create Adoption Match Records</label>
        <locationX>352</locationX>
        <locationY>866</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newAdoptionMatchRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all adopter profiles that are active and match the animal type</description>
        <name>Get_Adopter_Profiles</name>
        <label>Get Adopter Profiles</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Possible_Adopters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Profile_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.TypeFromBreeds__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Adopter_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Possible_Adopters</name>
        <label>Display Possible Adopters</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_they_any_selected_records</targetReference>
        </connector>
        <fields>
            <name>Animal_Characteristics</name>
            <fieldText>Animal Characteristics</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Animal_Characteristics_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Animal_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.TypeFromBreeds__c</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Species</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Species__c</elementReference>
                    </defaultValue>
                    <fieldText>Species</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Animal_Characteristics_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Age_Category</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Age_Category__c</elementReference>
                    </defaultValue>
                    <fieldText>Age Category</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Size__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.Gender__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Animal_Characteristics_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Safe_Garden</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>animalSafeGardenConversion</elementReference>
                    </defaultValue>
                    <fieldText>Safe Garden</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_Children</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>animalNoChildrenConversion</elementReference>
                    </defaultValue>
                    <fieldText>No Children</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Special_Care_Required</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>animalSpecialCareConversion</elementReference>
                    </defaultValue>
                    <fieldText>Special Care Required</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_animal_of_same_species</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>animalSameSpeciesConversion</elementReference>
                    </defaultValue>
                    <fieldText>No animal of same species</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_animal_of_different_species</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>animalDifferentSpeciesConversion</elementReference>
                    </defaultValue>
                    <fieldText>No animal of different species</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>PossibleAdopters</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Adopter_Profile__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of Possible Adopters</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Adopter_Profiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;animalshelters__Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-b9c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;animalshelters__Gender__c&quot;,&quot;guid&quot;:&quot;column-dec6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Gender&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;animalshelters__Preferred_Animal_Size__c&quot;,&quot;guid&quot;:&quot;column-7e1b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Preferred Animal Size&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;animalshelters__Preferred_Maturity_Level__c&quot;,&quot;guid&quot;:&quot;column-5562&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Preferred Maturity Level&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;animalshelters__Special_Care_Adoption_Considered__c&quot;,&quot;guid&quot;:&quot;column-3b07&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Special Care Adoption Considered?&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;animalshelters__Small_Children__c&quot;,&quot;guid&quot;:&quot;column-0861&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Small Children?&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;animalshelters__Reason_for_wanting_to_Adopt__c&quot;,&quot;guid&quot;:&quot;column-e8cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Reason for wanting to Adopt&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d6ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Adopter Profile Ref&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Store selected matches</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>616</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreenText</name>
            <fieldText>&lt;p&gt;There has been a error created Adoption Match records. Please contact your Systems Administrator with the following information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Adopter_Profiles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newAdoptionMatchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
    <variables>
        <name>newAdoptionMatchRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adoption_Match__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
