force-app/main/default/flows/Animal_Movement_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FlowErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error occurred in Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Movement_Record_Assignments</name>
        <label>Movement Record Assignments</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.%%%NAMESPACED_ORG%%%Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.%%%NAMESPACED_ORG%%%Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.%%%NAMESPACED_ORG%%%Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.%%%NAMESPACED_ORG%%%Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewMovementType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewMovementRecord.%%%NAMESPACED_ORG%%%Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Movement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Variable</name>
        <label>Set Output Variable</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>newMovementRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewMovementRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>fmlLocationName</name>
        <dataType>String</dataType>
        <expression>IF(
{!varNewMovementType} = &quot;Housed&quot;, 
{!varNewMovementType} + &quot; - &quot; + {!Get_Newly_Created_Movement_Record.%%%NAMESPACED_ORG%%%Location_Name__c},
{!varNewMovementType}
)</expression>
    </formulas>
    <formulas>
        <name>IncrementAllocationBy1</name>
        <dataType>Number</dataType>
        <expression>IF(
            ISPICKVAL({!Get_Location_Record.%%%NAMESPACED_ORG%%%Location_Capacity__c}, &quot;Single Animal&quot;) = True || ISPICKVAL({!Get_Location_Record.%%%NAMESPACED_ORG%%%Location_Capacity__c}, &quot;Multiple Animals&quot;) = True, {!Get_Location_Record.%%%NAMESPACED_ORG%%%Allocation__c} + 1, 0)        </expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Animal - Movement SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Movement SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Movement_Record</name>
        <label>Create Movement Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Movement_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputReference>varNewMovementRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Location_Record</name>
        <label>Get Location Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Location_Allocation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Movement_Record</name>
        <label>Get Newly Created Movement Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Animal_Location_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewMovementRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Location_Status</name>
        <label>Update Animal Location Status</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Location_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Location_Status__c</field>
            <value>
                <elementReference>fmlLocationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Site__c</field>
            <value>
                <elementReference>Get_Newly_Created_Movement_Record.%%%NAMESPACED_ORG%%%Sitename__c</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location_Allocation</name>
        <label>Update Location Allocation</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Allocation__c</field>
            <value>
                <elementReference>IncrementAllocationBy1</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Locations__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Movement_Record_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FlowErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There has been an error in Flow Animal - Movement SubFlow&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;Run by User: {!$User.Username}&lt;/p&gt;&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;&lt;/pre&gt;</text>
    </textTemplates>
    <variables>
        <name>AnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newMovementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewMovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>%%%NAMESPACED_ORG%%%Movement__c</objectType>
    </variables>
    <variables>
        <name>varNewMovementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
