force-app/main/default/flows/Animal_Create_Reciprocal_Animal_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>[Animal Shelter] Creates a Reciprocal Relationship for an Animal Relationship when a new record is created.</description>
    <environments>Default</environments>
    <interviewLabel>Animal - Create Reciprocal Animal Relationship</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Create Reciprocal Animal Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Reciprocal relationship for one which was just created.</description>
        <name>Create_Reciprocal_Relationship</name>
        <label>Create Reciprocal Relationship</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>$Record.Related_Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Animal_Relationship_Record_Type_ID.returnedRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Animal__c</field>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Types__c</field>
            <value>
                <elementReference>$Record.Relationship_Types__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Origin</name>
        <label>Update Origin</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Reciprocal_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Record_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Animal_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Animal_Relationship_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Animal Relationship</stringValue>
            </value>
        </filters>
        <object>Animal_Relationship__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Animal_Relationship_Record_Type_ID</name>
        <label>Get Animal Relationship Record Type ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Origin</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Animal_Relationship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Animal_Relationship__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
