force-app/main/default/flows/Animal_Length_of_Stay_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Count_Total_of_Days</name>
        <label>Count Total of Days</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varTotalDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DaysCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Movement_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conHoused</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Housed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Movement_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records Found</defaultConnectorLabel>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Housed_Movement_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stay_Field_to_Zero</targetReference>
            </connector>
            <label>No Records</label>
        </rules>
    </decisions>
    <description>Calculates the length of stay of the Animal in the Shelter by adding all Housed Movement records</description>
    <environments>Default</environments>
    <formulas>
        <name>DaysCalculation</name>
        <dataType>Number</dataType>
        <expression>IF({!varMovement.End_Date__c} = {!varMovement.Start_Date__c},1,({!varMovement.End_Date__c} - {!varMovement.Start_Date__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Animal - Length of Stay Calculation</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Length of Stay Calculation</label>
    <loops>
        <name>Loop_Through_Movement_Records</name>
        <label>Loop Through Movement Records</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>varMovement</assignNextValueToReference>
        <collectionReference>Get_Housed_Movement_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Total_of_Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Stay_Field_to_Zero_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Housed_Movement_Records</name>
        <label>Get Housed Movement Records</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conHoused</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movement__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Stay_Field_to_Zero</name>
        <label>Set Stay Field to Zero</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Length_of_Stay_in_Shelter_Days__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Stay_Field_to_Zero_0</name>
        <label>Set Stay Field</label>
        <locationX>402</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Length_of_Stay_in_Shelter_Days__c</field>
            <value>
                <elementReference>varTotalDays</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Housed_Movement_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varAnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
    <variables>
        <name>varTotalDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
