force-app/main/default/flows/Animal_Animal_Release_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Animal_Data</name>
        <label>Update Animal Data</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAnimalToBeReleased.Animal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAnimalToBeReleased.Location_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Animal_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Movement_Data</name>
        <label>Update Movement Data</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varMovementRecord.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMovementRecord.Release_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaptureCurrentLocation.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMovementRecord.Release_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaptureCurrentLocation.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMovementRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Animal Released</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Movement_Record</targetReference>
        </connector>
    </assignments>
    <description>Release an Animal and capture location</description>
    <dynamicChoiceSets>
        <name>choiceAnimalsToBeReleased</name>
        <dataType>String</dataType>
        <displayField>Animal_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deceased</stringValue>
            </value>
        </filters>
        <filters>
            <field>Animal_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </filters>
        <filters>
            <field>Location_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release</stringValue>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Animal_Status__c</assignToReference>
            <field>Animal_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Location_Status__c</assignToReference>
            <field>Location_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnimalToBeReleased.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Animal_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Animal_Name__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Animal - Animal Release Flow</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Animal Release Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Movement_Record</name>
        <label>Get Movement Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Movement_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAnimalToBeReleased.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release</stringValue>
            </value>
        </filters>
        <object>Movement__c</object>
        <outputReference>varMovementRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Release_Location__Latitude__s</queriedFields>
        <queriedFields>Release_Location__Longitude__s</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Record</name>
        <label>Update Animal Record</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Flow_Completion_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Animal</targetReference>
        </faultConnector>
        <inputReference>varAnimalToBeReleased</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Movement_Record</name>
        <label>Update Movement Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Animal_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Movement</targetReference>
        </faultConnector>
        <inputReference>varMovementRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_Location</name>
        <label>Capture Location</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Movement_Data</targetReference>
        </connector>
        <fields>
            <name>CaptureCurrentLocation</name>
            <extensionName>animalshelters:FSCGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_an_Animal</name>
        <label>Choose an Animal</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Movement_Record</targetReference>
        </connector>
        <fields>
            <name>Choose_an_animal_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Select an animal that is marked ready for release.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The current location of &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;YOUR&lt;/i&gt;&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; browser/device will be captured.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_an_Animal_to_Release</name>
            <choiceReferences>choiceAnimalsToBeReleased</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an Animal to Release</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choose_an_animal_Text_Alert</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;⚠️&lt;/span&gt;&lt;i style=&quot;font-size: 10px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You may be prompted to grant permission to access your location!&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Movement_Record</name>
        <label>Error Getting Movement Record</label>
        <locationX>968</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Getting_Movement_Record_Text</name>
            <fieldText>&lt;p&gt;There has been an error getting the Movement records&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Animal</name>
        <label>Error Updating Animal</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Updating_Animal_Text</name>
            <fieldText>&lt;p&gt;There has been an error updating the Animal record&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Movement</name>
        <label>Error Updating Movement</label>
        <locationX>704</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Updating_Movement_Text</name>
            <fieldText>&lt;p&gt;There has been an error updating the Movement record&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Completion_Screen</name>
        <label>Flow Completion Screen</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Completion_Screen_Text</name>
            <fieldText>&lt;p&gt;DONE: Animal/Movement records updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_an_Animal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAnimalToBeReleased</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>varMovementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movement__c</objectType>
    </variables>
</Flow>
