force-app/main/default/flows/Animal_Animal_Location_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>choiceExisting</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Exit_Flow</name>
        <label>Exit Flow</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Process_Exited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Exit Flow</defaultConnectorLabel>
        <rules>
            <name>Continue_With_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContinueWithFlow.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Current_Location</targetReference>
            </connector>
            <label>Continue With Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Animal</name>
        <label>New or Existing Animal?</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Animal_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Animal</defaultConnectorLabel>
        <rules>
            <name>Existing_Animal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_or_Existing_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceExisting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Animal_Selection</targetReference>
            </connector>
            <label>Existing Animal</label>
        </rules>
    </decisions>
    <description>[Animal Shelter Starter] - Captures the users current location and assigns that location to a new or existing animal</description>
    <dynamicChoiceSets>
        <name>choiceGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Animal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>existingAnimals</name>
        <dataType>String</dataType>
        <displayField>Animal_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Geolocation__Latitude__s</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Animal__c</object>
        <outputAssignments>
            <assignToReference>existingAnimalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Animal_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Animal_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Animal - Animal Location Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - Animal Location Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Animal_with_Location</name>
        <label>Create New Animal with Location</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Animal_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Animal_Name__c</field>
            <value>
                <elementReference>Animal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breed__c</field>
            <value>
                <elementReference>TypeAndBreed.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour__c</field>
            <value>
                <elementReference>Primary_Colour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Crossbreed__c</field>
            <value>
                <elementReference>Crossbreed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Arrival__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_on_Map__c</field>
            <value>
                <elementReference>Display_No_Map</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geolocation__Latitude__s</field>
            <value>
                <elementReference>CaptureLocation.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geolocation__Longitude__s</field>
            <value>
                <elementReference>CaptureLocation.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Microchip__c</field>
            <value>
                <elementReference>MicroChip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Colour__c</field>
            <value>
                <elementReference>Secondary_Colour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypeAndBreed.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Existing_Animal_with_Location</name>
        <label>Update Existing Animal with Location</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Animal_Update_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingAnimalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Display_on_Map__c</field>
            <value>
                <elementReference>Display_No_Map</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geolocation__Latitude__s</field>
            <value>
                <elementReference>CaptureLocation.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geolocation__Longitude__s</field>
            <value>
                <elementReference>CaptureLocation.longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <screens>
        <name>Animal_Create_Error</name>
        <label>Animal Create Error</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Animal_Create_Error_Text</name>
            <fieldText>&lt;p&gt;There has been an error&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Animal_Details</name>
        <label>Animal Details</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Animal_with_Location</targetReference>
        </connector>
        <fields>
            <name>Animal_Name</name>
            <dataType>String</dataType>
            <fieldText>Animal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TypeAndBreed</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Animal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Breed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Breed</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MicroChip</name>
            <dataType>String</dataType>
            <fieldText>MicroChip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>choiceGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Colour</name>
            <dataType>String</dataType>
            <fieldText>Primary Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Secondary_Colour</name>
            <dataType>String</dataType>
            <fieldText>Secondary Colour</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Crossbreed</name>
            <dataType>Boolean</dataType>
            <fieldText>Crossbreed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Animal_Update_Error</name>
        <label>Animal Update Error</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Animal_Update_Error_Text</name>
            <fieldText>&lt;p&gt;There has been an error&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Current_Location</name>
        <label>Capture Current Location</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Existing</targetReference>
        </connector>
        <fields>
            <name>CaptureLocation</name>
            <extensionName>c:FSCGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Animal_Selection</name>
        <label>Existing Animal Selection</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Existing_Animal_with_Location</targetReference>
        </connector>
        <fields>
            <name>SelectAnimal</name>
            <choiceReferences>existingAnimals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SelectAnimal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Exit_Flow</targetReference>
        </connector>
        <fields>
            <name>Initial_Screen_Text</name>
            <fieldText>&lt;p&gt;This process will capture &lt;b&gt;&lt;i&gt;YOUR&lt;/i&gt;&lt;/b&gt; current location, and assign it to an animal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContinueWithFlow</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you wish to continue?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_No_Map_Text</name>
            <fieldText>&lt;p&gt;Note: You can only display up to 100 animals on a map at once&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContinueWithFlow.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_No_Map</name>
            <dataType>Boolean</dataType>
            <fieldText>Display No Map?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ContinueWithFlow.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_or_Existing</name>
        <label>New or Existing</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Existing_Animal</targetReference>
        </connector>
        <fields>
            <name>New_or_Existing_Text</name>
            <fieldText>&lt;p&gt;Do you wish to create a new animal with location, or set the location of an existing animal?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For a new animal we will capture some basic details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_or_Existing_Option</name>
            <choiceReferences>choiceNew</choiceReferences>
            <choiceReferences>choiceExisting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New or Existing</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Exited</name>
        <label>Process Exited</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Process_Exited_Text</name>
            <fieldText>&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>existingAnimalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
