force-app/main/default/flows/Animal_New_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assign additional values for New Relationship record</description>
        <name>Assign_additional_values</name>
        <label>Assign additional values</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newRelationship.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRelationship.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>animalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRelationship.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_for_Animal_Relationship.returnedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_a_row_been_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Selected_Row_Record</name>
        <label>Copy Selected Row Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>selectedRow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalRelationshipsDatatable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sets_current_relationship_status_to_archived</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sets_current_relationship_status_to_archived</name>
        <label>Sets current relationship status to archived</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>selectedRow.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Relationship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides whether a Row has been selected for Update</description>
        <name>Has_a_row_been_selected</name>
        <label>Has a row been selected?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_New_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Row Selected</defaultConnectorLabel>
        <rules>
            <name>Row_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnimalRelationshipsDatatable.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Selected_Row_Record</targetReference>
            </connector>
            <label>Row Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Animal - New Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal - New Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Relationship</name>
        <label>Create New Relationship</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <inputReference>newRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all current relationships with Contacts for the Animal</description>
        <name>Get_Current_Relationships_for_Animal</name>
        <label>Get Current Relationships for Animal</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Animal_Relationships_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>animalRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_for_Animal_Relationship.returnedRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Animal_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Relationship</name>
        <label>Update Current Relationship</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_New_Relationship</targetReference>
        </connector>
        <inputReference>selectedRow</inputReference>
    </recordUpdates>
    <screens>
        <name>Animal_Relationships_Screen</name>
        <label>Animal Relationships Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_additional_values</targetReference>
        </connector>
        <fields>
            <name>Animal_Relationships_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Animal_Relationships_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Animal_Relationships_Screen_Text</name>
                    <fieldText>&lt;p&gt;Select a existing relationship to update, and choose the Contact and relationship.&lt;/p&gt;&lt;p&gt;Or create a new relationship&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Animal_Relationships_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Animal_Relationships_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AnimalRelationshipsDatatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Animal_Relationship__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Current_Relationships_for_Animal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;animalshelters__Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-0029&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;animalshelters__Relationship_Types__c&quot;,&quot;guid&quot;:&quot;column-6c43&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Relationship Types&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Animal Relationships</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>newRelationship.Contact__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>newRelationship.Relationship_Types__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_for_Animal_Relationship</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Gets the RecordType ID for the Animal_Relationship RecordType on the Relationships object</description>
        <name>Get_Record_Type_for_Animal_Relationship</name>
        <label>Get Record Type for Animal Relationship</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Current_Relationships_for_Animal</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Contact_Relationship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Animal_Relationship__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>animalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>newRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Relationship__c</objectType>
    </variables>
    <variables>
        <name>selectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Relationship__c</objectType>
    </variables>
</Flow>
