force-app/main/default/flows/Animal_Block_Capacity_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Unit_record_Counts</name>
        <label>Unit record Counts</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>totalUnitCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>location.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalUnitAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>location.Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Unit_Records</targetReference>
        </connector>
    </assignments>
    <description>Calculates and populates the Block Capacity fields</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the available capacity in the Block</description>
        <name>blockAvailableCapacity</name>
        <dataType>Number</dataType>
        <expression>{!totalUnitCapacity} - {!totalUnitAllocation}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Animal - Block Capacity Calculations</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Block Capacity Calculations</label>
    <loops>
        <name>Loop_Through_Unit_Records</name>
        <label>Loop Through Unit Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>location</assignNextValueToReference>
        <collectionReference>locationUnitRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unit_record_Counts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Block_Capacity_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the Unit records for the retrieved Block Location</description>
        <name>Get_All_Unit_Records_for_Block</name>
        <label>Get All Unit Records for Block</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Unit_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Record_from_Unit.Id</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>locationUnitRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Location_Capacity__c</queriedFields>
        <queriedFields>Allocation__c</queriedFields>
        <queriedFields>Availability__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Parent record (Block) from Unit record passed</description>
        <name>Get_Parent_Record_from_Unit</name>
        <label>Get Parent Record from Unit</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Unit_Records_for_Block</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locRecord.Parent_Block__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Total and Available Capacity on the Block record</description>
        <name>Update_Block_Capacity_Fields</name>
        <label>Update Block Capacity Fields</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locRecord.Parent_Block__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Capacity__c</field>
            <value>
                <elementReference>blockAvailableCapacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Capacity__c</field>
            <value>
                <elementReference>totalUnitCapacity</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Record_from_Unit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>locationUnitRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>locRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <description>The number of animals allocated to the Unit</description>
        <name>totalUnitAllocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The capacity set on the Unit record</description>
        <name>totalUnitCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
