force-app/main/default/flows/Animal_Action_Create_Task_for_new_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>If the Animal Action record is created as completed, then the task is marked as completed</description>
        <name>Has_Action_Been_Completed</name>
        <label>Has Action Been Completed?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACED_ORG%%%Action_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.%%%NAMESPACED_ORG%%%Action_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Given</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Animal_Action_Record_Fields</targetReference>
            </connector>
            <label>Action Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Animal Action - Create Task for new Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Action - Create Task for new Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Animal_Action_Record_Fields</name>
        <label>Update Animal Action Record Fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Created_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Action_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Action_Status__c</field>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Date_Time_Action_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Created_Task</name>
        <label>Update Created Task</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdTaskRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Action_Task</targetReference>
        </connector>
        <filterFormula>{!$Setup.%%%NAMESPACED_ORG%%%Animal_Shelter_Settings__c.%%%NAMESPACED_ORG%%%Enable_Animal_Action_Tasks__c}=TRUE</filterFormula>
        <object>%%%NAMESPACED_ORG%%%Animal_Action__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Action_Task</name>
        <label>Create Action Task</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Has_Action_Been_Completed</targetReference>
        </connector>
        <flowName>Animal_Generate_Tasks_Subflow</flowName>
        <inputAssignments>
            <name>animalActionRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>animalRecordId</name>
            <value>
                <elementReference>$Record.%%%NAMESPACED_ORG%%%Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskObjectType</name>
            <value>
                <stringValue>Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>taskQueueName</name>
            <value>
                <stringValue>Animal_Tasks</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdTaskRecordId</assignToReference>
            <name>createdTaskRecordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>createdTaskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
