force-app/main/default/flows/Assessment_Create_new_assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Assessment_Record</name>
        <label>Assign Assessment Record</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Assessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Assessment_Start_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Time_and_Categories</name>
        <label>Assign Date/Time and Categories</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>newAssessmentRecord.Assessment_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assessment_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assessmentCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentRecord.Assessment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assessmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssessmentRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Assessment_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_conditionRecord</name>
        <label>Clear conditionRecord</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>conditionRecord.Condition_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conditionRecord.Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Capture_Condition_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Condition_Records</name>
        <label>Create Condition Records</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>conditionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conditionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_All_Condition_Records_been_Generated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Condition_Counter</name>
        <label>Increment Condition Counter</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>conditionCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_conditionRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Condition_Record_Values</name>
        <label>Update Condition Record Values</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>conditionRecord.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conditionRecord.Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAssessmentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conditionRecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assessment_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Condition_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Capture_Health_Information</name>
        <label>Capture Health Information?</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Date_Time_and_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Behaviours Only</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>assessmentCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assessmentCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_Screen_Health</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Toggle set to True, then create condition(s)</description>
        <name>Create_Condition</name>
        <label>Create Condition</label>
        <locationX>512</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>No Conditions</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Conditions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Condition_Screen</targetReference>
            </connector>
            <label>Yes - Create Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_All_Condition_Records_been_Generated</name>
        <label>Have All Condition Records been Generated?</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Create_Condition_New_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes All Done</defaultConnectorLabel>
        <rules>
            <name>No_More_to_Do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conditionCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Conditions_to_create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Condition_Counter</targetReference>
            </connector>
            <label>No More to Do</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Flow to create new assessment record, and optionally conditions</description>
    <dynamicChoiceSets>
        <name>assessmentCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>assessmentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Assessment_Type__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Assessment - Create new assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Assessment - Create new assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Condition_New_Records</name>
        <label>Create Condition New Records</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>conditionRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Assessment_record</name>
        <label>Create new Assessment record</label>
        <locationX>512</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Create_Condition_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>newAssessmentRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Assessment</name>
        <label>Get Last Assessment</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Assessment_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assessment_Screen_Health</name>
        <label>Assessment Screen - Health</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assessment_Screen_Limbs_Disease</targetReference>
        </connector>
        <fields>
            <name>Health_Information</name>
            <fieldText>Health Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Health_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Mouth_Airway__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Appetite__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Coughing__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Fur_Condition__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Skin_Condition__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Sight_Eyes__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Health_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Breathing__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Hydration_Level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Faceas__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Spine_Condition__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Hearing_Ears__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Movement_Condition__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Has_ability_to_curl__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assessment_Screen_Limbs_Disease</name>
        <label>Assessment Screen - Limbs &amp; Disease</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Date_Time_and_Categories</targetReference>
        </connector>
        <fields>
            <name>Limb_Information</name>
            <fieldText>Limb Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Limb_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Left_Front_Limb__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Left_Hind_Limb__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Wings__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Limb_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Right_Front_Limb__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Right_Hind_Limb__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Parasite_Disease_Information</name>
            <fieldText>Parasite &amp; Disease Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Parasite_Disease_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Lungworm__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Flys__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Ringworm__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Parasite_Disease_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Fleas__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Mange__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Ticks__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssessmentScreen1</name>
        <label>Assessment Screen - General &amp; Behaviours</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Health_Information</targetReference>
        </connector>
        <fields>
            <name>AssessmentScreen1Text</name>
            <fieldText>&lt;p&gt;You will be presented with the results of the last assessment for {!recordId.Animal_Name__c}, so that you can review&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; and update to reflect the current situation.&lt;/span&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastAssessmentDetailsText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Type:&lt;/strong&gt;  {!Get_Last_Assessment.Assessment_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Category:&lt;/strong&gt; {!Get_Last_Assessment.Category__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date/Time:&lt;/strong&gt; {!Get_Last_Assessment.Assessment_Date_Time__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>General_Assessment_Comments</name>
            <fieldText>General Assessment Comments</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>General_Assessment_Comments_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.General_Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Behavioural_Information</name>
            <fieldText>Behavioural Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Behavioural_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAssessmentRecord.Behaviour_s__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Condition_Screen</name>
        <label>Capture Condition Screen</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Condition_Record_Values</targetReference>
        </connector>
        <fields>
            <name>Capture_Condition_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Condition {!conditionCounter} of {!Number_of_Conditions_to_create}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the Short Description (Subject), and Condition Description (Detail)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>conditionRecord.Short_Description__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>conditionRecord.Condition_Description__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Condition_Screen</name>
        <label>Create Condition Screen</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Condition</targetReference>
        </connector>
        <fields>
            <name>Create_Condition_Screen_Text</name>
            <fieldText>&lt;p&gt;Now the Assessment record has been created for {!recordId.Animal_Name__c}, do you want to create any Conditions that are related to the Animal and may need treatment?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Conditions</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Conditions?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Number_of_Conditions_to_create</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Conditions to create?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Conditions.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreenText</name>
            <fieldText>&lt;p&gt;There appears to have been a problem with this process.  Please contact the Systems Administrator with the following information:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Flow Fault Message: &lt;/span&gt; {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Assessment_Start_Screen</name>
        <label>New Assessment Start Screen</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssessmentScreen1</targetReference>
        </connector>
        <fields>
            <name>New_Assessment_Start_Screen_Text</name>
            <fieldText>&lt;p&gt;This wizard will create a new assessment record for {!recordId.Animal_Name__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Are you creating an assessment on health, behaviours or both?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Assessment_Start_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Assessment_Start_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assessment_Category</name>
                    <choiceReferences>assessmentCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assessment Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>newAssessmentScreenDateTimeText</name>
                    <fieldText>&lt;p&gt;Select a Date and Time the assessment occurred, the default will be now.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Assessment_Start_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assessment_Type</name>
                    <choiceReferences>assessmentType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assessment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Assessment_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Assessment Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Assessment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>conditionCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>conditionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>conditionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
    <variables>
        <name>newAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
