force-app/main/default/flows/Assessment_Update_Behaviours_on_Animal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>[Animal Shelter] this flow updates the Behaviours on the Animal record to those set on the Assessment record associated with the Animal</description>
    <environments>Default</environments>
    <interviewLabel>Assessment - Update Behaviours on Animal {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Assessment - Update Behaviours on Animal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Animal record that is relayed to the assessment</description>
        <name>Get_Animal_Record</name>
        <label>Get Animal Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Animal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Animal__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Record</name>
        <label>Update Animal Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Animal_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Behaviours__c</field>
            <value>
                <elementReference>$Record.Behaviour_s__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Animal_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.animalshelters__Animal_Shelter_Settings__c.animalshelters__Disable_Behaviour_Update__c}= FALSE</filterFormula>
        <object>Assessment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
