force-app/main/default/flows/Condition_Generate_Alert_from_Condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>This flow allows an end user to create an Animal Alert from a condition record.</description>
    <interviewLabel>Condition - Generate Alert from Condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Condition - Generate Alert from Condition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAlert</name>
        <label>CreateAlert</label>
        <locationX>1255</locationX>
        <locationY>248</locationY>
        <assignRecordIdToReference>AlertID</assignRecordIdToReference>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Alert_Message__c</field>
            <value>
                <elementReference>Alert_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Animal__c</field>
            <value>
                <elementReference>GetConditionDetails.%%%NAMESPACED_ORG%%%Animal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%End_Date_Time__c</field>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Start_Date_Time__c</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal_Alert__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetConditionDetails</name>
        <label>GetConditionDetails</label>
        <locationX>601</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CheckDetails</name>
        <label>CheckDetails</label>
        <locationX>909</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateAlert</targetReference>
        </connector>
        <fields>
            <name>Screen_AlertDesc_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Create a new Alert&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Use the form below to create a new animal alert for the following condition:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!GetConditionDetails.%%%NAMESPACED_ORG%%%Condition_Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Alert_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetConditionDetails.%%%NAMESPACED_ORG%%%Condition_Description__c</elementReference>
            </defaultValue>
            <fieldText>Alert Description</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Update this description (if needed) to define the alert message which other users will see.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>GetConditionDetails.%%%NAMESPACED_ORG%%%Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When should this alert be shown from?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>GetConditionDetails.%%%NAMESPACED_ORG%%%End_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>End Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When should we stop showing the alert? Note that you can leave this blank and it will show the alert on the animal record until an end date is added on the record.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>907</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreenText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oh no! There has been an error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try and use the previous button below to go back a step and try again. If the problem persists please take a note of the fault message below and send it to your Salesforce Administrator or Salesforce Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fault Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetConditionDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlertID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
