force-app/main/default/flows/Condition_Generate_Alert_from_Condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>This flow allows an end user to create an Animal Alert from a condition record.</description>
    <interviewLabel>Condition - Generate Alert from Condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Condition - Generate Alert from Condition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAlert</name>
        <label>CreateAlert</label>
        <locationX>507</locationX>
        <locationY>407</locationY>
        <assignRecordIdToReference>AlertID</assignRecordIdToReference>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alert_Message__c</field>
            <value>
                <elementReference>Alert_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>GetConditionDetails.Animal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Alert__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetConditionDetails</name>
        <label>GetConditionDetails</label>
        <locationX>205</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CheckDetails</name>
        <label>CheckDetails</label>
        <locationX>346</locationX>
        <locationY>282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateAlert</targetReference>
        </connector>
        <fields>
            <name>Alert_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetConditionDetails.Condition_Description__c</elementReference>
            </defaultValue>
            <fieldText>Alert Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>GetConditionDetails.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>GetConditionDetails.End_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>End Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>680</locationX>
        <locationY>161</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreenText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(211, 12, 12);&quot;&gt;ERROR&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There has been an error while we are getting or updating data. Please check the details on the previous screen and if the problem continues, contact your Salesforce administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message Detail: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetConditionDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlertID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
