force-app/main/default/flows/Condition_Generate_Alert_from_Condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>[Animal Shelter] This flow allows an end user to create an Animal Alert from a condition record.</description>
    <environments>Default</environments>
    <interviewLabel>Condition - Generate Alert from Condition</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Condition - Generate Alert from Condition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAlert</name>
        <label>CreateAlert</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>AlertID</assignRecordIdToReference>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alert_Message__c</field>
            <value>
                <elementReference>Alert_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Animal__c</field>
            <value>
                <elementReference>recordId.Animal__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Alert__c</object>
    </recordCreates>
    <screens>
        <name>CheckDetails</name>
        <label>CheckDetails</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateAlert</targetReference>
        </connector>
        <fields>
            <name>Screen_AlertDesc_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Create a new Alert&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Use the form below to create a new alert for {!recordId.Animal__r.Animal_Name__c} for the following condition:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!recordId.Condition_Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Alert_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Condition_Description__c</elementReference>
            </defaultValue>
            <fieldText>Alert Description</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Update this description (if needed) to define the alert message which other users will see.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CheckDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CheckDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>recordId.Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;When should this alert be shown from?&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CheckDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>recordId.End_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;When should we stop showing the alert? Note that you can leave this blank and it will show the alert on the animal record until an end date is added on the record.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreenText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oh no! There has been an error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Try and use the previous button below to go back a step and try again. If the problem persists please take a note of the fault message below and send it to your Salesforce Administrator or Salesforce Support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Fault Message:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlertID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Condition__c</objectType>
    </variables>
</Flow>
