force-app/main/default/flows/Demo_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Demo Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Animal_Records</name>
        <label>Get Animal Records</label>
        <locationX>167</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShowRecords</targetReference>
        </connector>
        <object>Animal__c</object>
        <outputReference>inputAnimalRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Animal_Name__c</queriedFields>
        <queriedFields>Breed__c</queriedFields>
        <queriedFields>Colour__c</queriedFields>
        <queriedFields>Current_Weight__c</queriedFields>
        <queriedFields>Estimated_Age__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Microchip__c</queriedFields>
        <queriedFields>Secondary_Colour__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animals</name>
        <label>Update Animals</label>
        <locationX>944</locationX>
        <locationY>329</locationY>
        <inputReference>outputAnimalRecords</inputReference>
    </recordUpdates>
    <screens>
        <name>ShowRecords</name>
        <label>ShowRecords</label>
        <locationX>582</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Animals</targetReference>
        </connector>
        <fields>
            <name>Show</name>
            <extensionName>c:FSCAnimalCloneDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydataAnimal</name>
                <value>
                    <elementReference>inputAnimalRecords</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outputAnimalRecords</assignToReference>
                <name>selectedRowsAnimal</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Animal_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputAnimalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
    <variables>
        <name>outputAnimalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal__c</objectType>
    </variables>
</Flow>
