force-app/main/default/flows/Location_Change_Status_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Units</name>
        <label>Add Units</label>
        <locationX>1986</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Units</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SubBlockUnits.UnitsFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SubBlocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_All_Units</name>
        <label>Combine All Units</label>
        <locationX>1898</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Units</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>blockUnits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Combined_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Count_No_of_Allocated_Units</name>
        <label>Copy 1 of Count No of Allocated Units</label>
        <locationX>1766</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>allocationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_Filter_for_Units_with_an_Allocation</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Count_No_of_Allocated_Units</name>
        <label>Count No of Allocated Units</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>allocationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_for_Units_with_an_Allocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Block_Have_Allocated_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selected_Choice</name>
        <label>Get Selected Choice</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Block_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unit_as_Available</name>
        <label>Set Unit as Available</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unit_as_Unavailable</name>
        <label>Set Unit as Unavailable</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Available_Choice</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unavailable_Choice</name>
        <choiceText>Unavailable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unavailable</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Copy_1_of_Filter_for_Units_with_an_Allocation</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 1 of Filter for Units with an Allocation</label>
        <locationX>1766</locationX>
        <locationY>1814</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Units_with_an_Allocation</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Units</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Units_with_an_Allocation.Allocation__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Count_No_of_Allocated_Units</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_Units_with_an_Allocation</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Units with an Allocation</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Units_with_an_Allocation</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Sub_Block_Units.UnitsFound</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Units_with_an_Allocation.Allocation__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Units_with_an_Allocation.Unit_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Allocated</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_No_of_Allocated_Units</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_There_Active_Movement_Records</name>
        <label>Are There Active Movement Records?</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Unit_Available_or_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_Movement_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Movement_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Has_Allocation</targetReference>
            </connector>
            <label>Yes Active Movement Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_SubBlock_Units</name>
        <label>Are There SubBlock Units</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Temp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SubBlock Units</defaultConnectorLabel>
        <rules>
            <name>No_SubBlock_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sub_Block_Units.UnitsFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No SubBlock Units</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_SubBlocks</name>
        <label>Are there SubBlocks?</label>
        <locationX>1766</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_SubBlocks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_SubBlocks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subBlocks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Filter_for_Units_with_an_Allocation</targetReference>
            </connector>
            <label>No - SubBlocks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Block_Have_Allocated_Units</name>
        <label>Does Block Have Allocated Units</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Change_SubBlock_Units_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Allocated_Units</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the Unit be set as Available or Unavailable?</description>
        <name>Unit_Available_or_Unavailable</name>
        <label>Unit Available or Unavailable?</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Unit_as_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unit_as_Available</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Locations_RecordType</name>
        <label>What is the Locations RecordType</label>
        <locationX>1337</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Location_RecordType_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Movement_Records</targetReference>
            </connector>
            <label>Unit</label>
        </rules>
        <rules>
            <name>Sub_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sub_Block_Units</targetReference>
            </connector>
            <label>Sub Block</label>
        </rules>
        <rules>
            <name>Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SubBlock_RecordType_Id</targetReference>
            </connector>
            <label>Block</label>
        </rules>
        <rules>
            <name>Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site</stringValue>
                </rightValue>
            </conditions>
            <label>Site</label>
        </rules>
    </decisions>
    <description>Flow to change the Status of a Unit, Sub Block or Block to make the associated Units Available or Unavailable</description>
    <dynamicChoiceSets>
        <name>Reason_Unavailable_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unavailability_Reason__c</picklistField>
        <picklistObject>Locations__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>resetUnavailableReason</name>
        <dataType>String</dataType>
        <expression>IF({!Status_Options} = &apos;Available&apos;, &apos; &apos;, {!Reason_Unavailable})</expression>
    </formulas>
    <interviewLabel>Location - Change Status Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Location - Change Status Flow</label>
    <loops>
        <name>Loop_Through_SubBlocks</name>
        <label>Loop Through SubBlocks</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <collectionReference>subBlocks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_SubBlockUnits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Combine_All_Units</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Movement_Records</name>
        <label>Get Movement Records</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Active_Movement_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubBlocks_related_to_Block</name>
        <label>Get SubBlocks related to Block</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SubBlocks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SubBlock_RecordType_Id.returnedRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>subBlocks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allocation__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Unavailability_Reason__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Units_Related_to_Block</name>
        <label>Get Units Related to Block</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Units_Related_to_Block</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_Id_for_Unit.returnedRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>blockUnits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allocation__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Unavailability_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Block_Status</name>
        <label>Update Block Status</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Block_Status__c</field>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unavailability_Reason__c</field>
            <value>
                <elementReference>resetUnavailableReason</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <inputReference>Unit_Assignment</inputReference>
    </recordUpdates>
    <screens>
        <name>Combined_Units</name>
        <label>Combined Units</label>
        <locationX>1898</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Filter_for_Units_with_an_Allocation</targetReference>
        </connector>
        <fields>
            <name>Combined_UnitsText</name>
            <fieldText>&lt;p&gt;{!Units}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Records Updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All units in {!recordId.Name__c} have been updated to {!SelectedChoice}. Click Finish to complete the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_SubBlocks</name>
        <label>Get SubBlocks</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Units_Related_to_Block</targetReference>
        </connector>
        <fields>
            <name>Get_SubBlocksText</name>
            <fieldText>&lt;p&gt;{!subBlocks}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Allocated_Units</name>
        <label>Has Allocated Units</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Has_Allocated_Units_Text</name>
            <fieldText>&lt;p&gt;Block/Sub Block &lt;strong&gt;&lt;em&gt;{!recordId.Name__c}&lt;/em&gt;&lt;/strong&gt; has at least 1 unit that is housing an animal, and is allocated.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make arrangements to move the animals out of any units in this Block/Sub Block.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Finish&lt;/strong&gt; to Exit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>1337</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType_Id_for_Unit</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;To change the status of the current Location and any child Locations, select an option below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Options</name>
                    <choiceReferences>Available_Choice</choiceReferences>
                    <choiceReferences>Unavailable_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status Options</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_Unavailable</name>
                    <choiceReferences>Reason_Unavailable_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason Unavailable</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Status_Options</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Unavailable_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;This wizard allows you to update the status for all units within a single block at the same time. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For example if the block needs to be closed for maintenance, you can use this to update the whole block to unavailable.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_RecordType_Error</name>
        <label>Location RecordType Error</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Location_RecordType_Error_Text</name>
            <fieldText>&lt;p&gt;ERROR! - The Location {!recordId.Name__c} has no Record Type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Temp</name>
        <label>Temp</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_for_Units_with_an_Allocation</targetReference>
        </connector>
        <fields>
            <name>TestText</name>
            <fieldText>&lt;p&gt;{!Get_Sub_Block_Units.UnitsFound}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unit_Has_Allocation</name>
        <label>Unit Has Allocation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unit_Has_Allocation_Text</name>
            <fieldText>&lt;p&gt;Unit &lt;strong&gt;&lt;em&gt;{!recordId.Name__c}&lt;/em&gt;&lt;/strong&gt; has an allocation.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make arrangements to move the animal(s) out of the the unit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Finish&lt;/strong&gt; to Exit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Units_Related_to_Block</name>
        <label>Units Related to Block</label>
        <locationX>1766</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_SubBlocks</targetReference>
        </connector>
        <fields>
            <name>UnitsRelatedToBlockText</name>
            <fieldText>&lt;p&gt;{!blockUnits}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1211</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Change_SubBlock_Units_Status</name>
        <label>Change SubBlock Units Status</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Selected_Choice</targetReference>
        </connector>
        <flowName>Location_Change_Unit_Status_SubFlow</flowName>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newUnavailabilityReason</name>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unitsForStatusChange</name>
            <value>
                <elementReference>Get_Sub_Block_Units.UnitsFound</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_RecordType_Id_for_Unit</name>
        <label>Get RecordType Id for Unit</label>
        <locationX>1337</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>What_is_the_Locations_RecordType</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Sub_Block_Units</name>
        <label>Get Sub Block Units</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Are_There_SubBlock_Units</targetReference>
        </connector>
        <flowName>Location_Get_Units_Subflow</flowName>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_SubBlock_RecordType_Id</name>
        <label>Get SubBlock RecordType Id</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_SubBlocks_related_to_Block</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>SubBlock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_SubBlockUnits</name>
        <label>Get SubBlockUnits</label>
        <locationX>1986</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Add_Units</targetReference>
        </connector>
        <flowName>Location_Get_Units_Subflow</flowName>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Loop_Through_SubBlocks</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allocationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AllRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>blockUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Allocated_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_MultiAnimal_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Units_with_an_Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Units_for_Allocated_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>SelectedChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subBlocks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>Unit_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>Units</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>updatedLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>updatedLocationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
