force-app/main/default/flows/Location_Get_Units_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>[Animal Shelter] Gets any Units associated to their Parent Record</description>
    <environments>Default</environments>
    <interviewLabel>Location - Get Units Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location - Get Units Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Any Units for the Record</description>
        <name>Get_Units_for_Location</name>
        <label>Get Units for Location</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitRTId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>UnitsFound</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allocation__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Unavailability_Reason__c</queriedFields>
        <queriedFields>Unit_Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Units_Record_Type_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Units_Record_Type_ID</name>
        <label>Get Units Record Type ID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Units_for_Location</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UnitRTId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>The Location Record to get Units for</description>
        <name>locationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>UnitRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitsFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
