force-app/main/default/flows/Location_Change_Status_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Block_Units_to_Collection</name>
        <label>Assign Block Units to Collection</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Units</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Units_Related_to_Block.childRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>localLocation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Block_Units_Status_and_Check_for_Allocated_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Unavailability_Reason</name>
        <label>Reset Unavailability Reason</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>localLocation.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Block_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unavailability_Details</name>
        <label>Set Unavailability Details</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>localLocation.Block_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>localLocation.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Block_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Available_Choice</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unavailable_Choice</name>
        <choiceText>Unavailable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unavailable</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Did_Block_Have_Allocated_Units_or_Ignore_Allocations</name>
        <label>Did Block Have Allocated Units or Ignore Allocations</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Unavailability_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Block Hasn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Yes_Block_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocatedUnits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ignore_Allocated_Units</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Allocated_Units</targetReference>
            </connector>
            <label>Yes Block Has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Set_Unavailable</name>
        <label>Location Set Unavailable</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Reset_Unavailability_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unavailable_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_Block_Have_Allocated_Units_or_Ignore_Allocations</targetReference>
            </connector>
            <label>Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Locations_RecordType</name>
        <label>What is the Locations RecordType</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Location_RecordType_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Units_Related_to_Block</targetReference>
            </connector>
            <label>Block</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] - Flow to change the Status of a Unit, Sub Block or Block to make the associated Units Available or Unavailable</description>
    <dynamicChoiceSets>
        <name>Reason_Unavailable_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unavailability_Reason__c</picklistField>
        <picklistObject>Locations__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Location - Change Status Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Location - Change Status Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Block_Status</name>
        <label>Update Block Status</label>
        <locationX>380</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <inputReference>localLocation</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>380</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Locations Updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All units in {!recordId.Name__c} have been updated to {!Status_Options}. Click Finish to complete the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Allocated_Units</name>
        <label>Has Allocated Units</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Has_Allocated_Units_Text</name>
            <fieldText>&lt;p&gt;Block/Sub Block &lt;strong&gt;&lt;em&gt;{!recordId.Name__c}&lt;/em&gt;&lt;/strong&gt; has at least 1 unit that is housing an animal, and is allocated.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make arrangements to move the animals out of any units in this Block/Sub Block.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Finish&lt;/strong&gt; to Exit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType_Id_for_Unit</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;To change the status of the current Location and any child Locations, select an option below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Options</name>
                    <choiceReferences>Available_Choice</choiceReferences>
                    <choiceReferences>Unavailable_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status Options</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_Unavailable</name>
                    <choiceReferences>Reason_Unavailable_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason Unavailable</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Status_Options</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Unavailable_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InitialScreenIgnoreAllocatedWarning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 69, 69);&quot;&gt;WARNING!&lt;/strong&gt;&lt;strong&gt; - &lt;/strong&gt;Setting the Ignore Allocated Units checkbox will update the status of the Units that may house animals&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Ignore_Allocated_Units</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Ignore Allocated Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Update Status Regardless of Unit Occupancy&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;This wizard allows you to update the status for all units within a single block at the same time. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For example if the block needs to be closed for maintenance, you can use this to update the whole block to unavailable.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_RecordType_Error</name>
        <label>Location RecordType Error</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Location_RecordType_Error_Text</name>
            <fieldText>&lt;p&gt;ERROR! - The Location {!recordId.Name__c} must be a Block&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Change_Block_Units_Status_and_Check_for_Allocated_Units</name>
        <label>Change Block Units Status and Check for Allocated Units</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Location_Set_Unavailable</targetReference>
        </connector>
        <flowName>Location_Change_Unit_Status_SubFlow</flowName>
        <inputAssignments>
            <name>ignoreAllocatedUnits</name>
            <value>
                <elementReference>Ignore_Allocated_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newUnavailabilityReason</name>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unitsForStatusChange</name>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>allocatedUnits</assignToReference>
            <name>unitsHaveAllocation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_RecordType_Id_for_Unit</name>
        <label>Get RecordType Id for Unit</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>What_is_the_Locations_RecordType</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Units_Related_to_Block</name>
        <label>Get Units Related to Block</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Block_Units_to_Collection</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allocatedUnits</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>localLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>Units</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
