force-app/main/default/flows/Location_Calculations_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Addition_of_Values</name>
        <label>Addition of Values</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>capacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Child_Location.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Child_Location.Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Child_Location</targetReference>
        </connector>
    </assignments>
    <description>[Animal Shelter] SubFlow to Calculate Availability and Capacity</description>
    <environments>Default</environments>
    <formulas>
        <name>availabilityFormula</name>
        <dataType>Number</dataType>
        <expression>{!capacity} - {!allocation}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Location - Calculations SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location - Calculations SubFlow</label>
    <loops>
        <name>For_Each_Child_Location</name>
        <label>For Each Child Location</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Child_Locations_for_Location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Addition_of_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Location_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Locations_for_Location</name>
        <label>Get Child Locations for Location</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Child_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Block__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Location_Record</name>
        <label>Update Location Record</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Capacity__c</field>
            <value>
                <elementReference>availabilityFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Capacity__c</field>
            <value>
                <elementReference>capacity</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Locations_for_Location</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>allocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>capacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>locationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
