force-app/main/default/flows/Location_Change_Unit_Status_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Build_Units_to_Set_to_Available</name>
        <label>Build Units to Set to Available</label>
        <locationX>468</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>updatedUnits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_No_of_Allocated_Units</name>
        <label>Count No of Allocated Units</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>allocationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Units_for_Allocated_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_any_of_the_Units_allocated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allocated_Units_Flag_to_True</name>
        <label>Set Allocated Units Flag to True</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>unitsHaveAllocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Allocation_to_0</name>
        <label>Set Allocation to 0</label>
        <locationX>336</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>updatedUnit.Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAllocationAvailable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUnit.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUnit.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Units_to_Set_to_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allocation_to_Unavailable</name>
        <label>Set Allocation to Unavailable</label>
        <locationX>600</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>updatedUnit.Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAllocationUnavailable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUnit.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newUnavailabilityReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedUnit.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Units_to_Set_to_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_Allocated_Units_to_False</name>
        <label>Set Flag Allocated Units to False</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>unitsHaveAllocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_Allocated_Units_to_False_to_Ignore</name>
        <label>Set Flag Allocated Units to False to Ignore</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>unitsHaveAllocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Units</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Units_for_Allocated_Units</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Units for Allocated Units</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Units_for_Allocated_Units</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>unitsForStatusChange</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Units_for_Allocated_Units.Allocation__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Units_for_Allocated_Units.Unit_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Allocated</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_No_of_Allocated_Units</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_any_of_the_Units_allocated</name>
        <label>Are any of the Units allocated?</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Flag_Allocated_Units_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Allocated Units</defaultConnectorLabel>
        <rules>
            <name>Yes_Allocated_Units_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Allocated_Units_Flag_to_True</targetReference>
            </connector>
            <label>Yes - Allocated Units &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Ignore_Allocated_Units_Flag_Set</name>
        <label>Is the Ignore Allocated Units Flag Set</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Filter_Units_for_Allocated_Units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Honor Allocations</defaultConnectorLabel>
        <rules>
            <name>Yes_Ignore_Allocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ignoreAllocatedUnits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_Allocated_Units_to_False_to_Ignore</targetReference>
            </connector>
            <label>Yes - Ignore Allocations</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_new_Status</name>
        <label>What is the new Status?</label>
        <locationX>468</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Set_Allocation_to_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set to Unavailable</defaultConnectorLabel>
        <rules>
            <name>Set_to_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Allocation_to_0</targetReference>
            </connector>
            <label>Set to Available</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] - Subflow to change the status of units.  Inputs: Unit record collection, Ignore Allocated Units Flag, Outputs: Allocated Units</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaAllocationAvailable</name>
        <dataType>Number</dataType>
        <expression>IF({!ignoreAllocatedUnits} = TRUE, {!Loop_Through_All_Units.Allocation__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaAllocationUnavailable</name>
        <dataType>Number</dataType>
        <expression>IF({!ignoreAllocatedUnits} = TRUE, {!Loop_Through_All_Units.Allocation__c}, {!Loop_Through_All_Units.Capacity__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Location - Change Unit Status SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location - Change Unit Status SubFlow</label>
    <loops>
        <name>Loop_Through_All_Units</name>
        <label>Loop Through All Units</label>
        <locationX>248</locationX>
        <locationY>950</locationY>
        <collectionReference>unitsForStatusChange</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_the_new_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Units_to_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_All_Units_to_Available</name>
        <label>Update All Units to Available</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <inputReference>updatedUnits</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_Ignore_Allocated_Units_Flag_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allocationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Units_for_Allocated_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <description>If True allocated units will be ignored and the status will still be set</description>
        <name>ignoreAllocatedUnits</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newUnavailabilityReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitsForStatusChange</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>unitsHaveAllocation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>updatedUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
