force-app/main/default/flows/Location_Change_Status_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_SubBlock_to_Variable</name>
        <label>Add SubBlock to Variable</label>
        <locationX>2096</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>subBlocks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SubBlock_for_Block_in_Site.childRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SubBlock_for_Each_Block</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sublocks</name>
        <label>Add Sublocks</label>
        <locationX>1612</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>subBlocks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SubBlock_for_Block.childRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Block_Record_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Unit_for_Each_Block_SubBlock</name>
        <label>Add Unit for Each Block &amp; SubBlock</label>
        <locationX>2096</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Units</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Units_for_Each_Block_in_Site.childRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Blocks_SubBlocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Units</name>
        <label>Add Units</label>
        <locationX>1700</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Units</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Units_for_Each_SubBlock.childRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SubBlocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Block_Updates</name>
        <label>Build Block Updates</label>
        <locationX>1700</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>subBlock_Blocks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subBlock_Block</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Block_Record_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Block_Updates_Site</name>
        <label>Build Block Updates (Site)</label>
        <locationX>2228</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>subBlock_Blocks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subBlock_Block</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Site_Blocks_SubBlocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_All_Blocks_and_SubBlocks_for_Site</name>
        <label>Combine All Blocks and SubBlocks for Site</label>
        <locationX>2008</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>subBlocks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Blocks_Related_to_Site.childRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Blocks_SubBlocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_All_Units</name>
        <label>Combine All Units</label>
        <locationX>1612</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Units</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Units_Related_to_Block.childRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Block_Units_Status_and_Check_for_Allocated_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Block_SubBlock_records</name>
        <label>Combine Block/SubBlock records</label>
        <locationX>1612</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>subBlocks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Sublocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selected_Choice</name>
        <label>Get Selected Choice</label>
        <locationX>1084</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Block_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Block_details</name>
        <label>Set Block details</label>
        <locationX>1700</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>subBlock_Block.Block_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subBlock_Block.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resetUnavailableReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subBlock_Block.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Block_Record_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Block_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Block_details_Site</name>
        <label>Set Block details (Site)</label>
        <locationX>2228</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>subBlock_Block.Block_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subBlock_Block.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resetUnavailableReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subBlock_Block.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Site_Blocks_SubBlocks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Block_Updates_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unit_as_Available</name>
        <label>Set Unit as Available</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaUnitAvailableAllocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unit_as_Unavailable</name>
        <label>Set Unit as Unavailable</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaUnitUnavailableAllocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Unit_Assignment.Unavailability_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Available_Choice</name>
        <choiceText>Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unavailable_Choice</name>
        <choiceText>Unavailable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unavailable</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_There_SubBlock_Units</name>
        <label>Are There SubBlock Units</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Change_SubBlock_Units_Status_and_Check_for_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SubBlock Units</defaultConnectorLabel>
        <rules>
            <name>No_SubBlock_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SubBlock_Units.childRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No SubBlock Units</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_SubBlocks</name>
        <label>Are there SubBlocks?</label>
        <locationX>1480</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_SubBlocks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_SubBlocks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SubBlock_for_Block.childRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Block_Units_Status_and_Check_for_Allocated_Units</targetReference>
            </connector>
            <label>No - SubBlocks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Block_Have_Allocated_Units</name>
        <label>Did Block Have Allocated Units</label>
        <locationX>1480</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Combine_Block_SubBlock_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Block hasn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Yes_Block_has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocatedUnits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Allocated_Units</targetReference>
            </connector>
            <label>Yes - Block has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_SubBlock_Have_Allocated_Units</name>
        <label>Did SubBlock Have Allocated Units</label>
        <locationX>996</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - SubBlock hasn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Yes_SubBlock_has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocatedUnits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Allocated_Units</targetReference>
            </connector>
            <label>Yes - SubBlock has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Unit_have_an_Allocation</name>
        <label>Does Unit have an Allocation?</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Unit_Available_or_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Allocations</defaultConnectorLabel>
        <rules>
            <name>Yes_Unit_has_Allocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Allocation__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Has_Allocation</targetReference>
            </connector>
            <label>Yes - Unit has Allocations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Ignore_Allocated_Units_Flag_Set</name>
        <label>Is the Ignore Allocated Units Flag Set?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Does_Unit_have_an_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Honour Allocations</defaultConnectorLabel>
        <rules>
            <name>Yes_Ignore_Allocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ignore_Allocated_Units</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Available_or_Unavailable</targetReference>
            </connector>
            <label>Yes - Ignore Allocations</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the Unit be set as Available or Unavailable?</description>
        <name>Unit_Available_or_Unavailable</name>
        <label>Unit Available or Unavailable?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Set_Unit_as_Unavailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Available_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unit_as_Available</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_there_any_Allocated_Units</name>
        <label>Were there any Allocated Units?</label>
        <locationX>2008</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_Site_Blocks_SubBlocks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Allocated Units</defaultConnectorLabel>
        <rules>
            <name>Yes_Allocated_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allocatedUnits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Allocated_Units</targetReference>
            </connector>
            <label>Yes - Allocated Units</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Locations_RecordType</name>
        <label>What is the Locations RecordType</label>
        <locationX>1293</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Location_RecordType_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Ignore_Allocated_Units_Flag_Set</targetReference>
            </connector>
            <label>Unit</label>
        </rules>
        <rules>
            <name>Sub_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SubBlock_Units</targetReference>
            </connector>
            <label>Sub Block</label>
        </rules>
        <rules>
            <name>Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SubBlock_for_Block</targetReference>
            </connector>
            <label>Block</label>
        </rules>
        <rules>
            <name>Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Blocks_Related_to_Site</targetReference>
            </connector>
            <label>Site</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] - Flow to change the Status of a Unit, Sub Block or Block to make the associated Units Available or Unavailable</description>
    <dynamicChoiceSets>
        <name>Reason_Unavailable_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unavailability_Reason__c</picklistField>
        <picklistObject>Locations__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaUnitAvailableAllocation</name>
        <dataType>Number</dataType>
        <expression>IF({!Ignore_Allocated_Units} = TRUE, {!recordId.Allocation__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaUnitUnavailableAllocation</name>
        <dataType>Number</dataType>
        <expression>IF({!Ignore_Allocated_Units} = TRUE, {!recordId.Allocation__c}, {!recordId.Capacity__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>resetUnavailableReason</name>
        <dataType>String</dataType>
        <expression>IF({!Status_Options} = &apos;Available&apos;, &apos; &apos;, {!Reason_Unavailable})</expression>
    </formulas>
    <interviewLabel>Location - Change Status Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Location - Change Status Flow</label>
    <loops>
        <name>Get_SubBlock_for_Each_Block</name>
        <label>Get SubBlock for Each Block</label>
        <locationX>2008</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Blocks_Related_to_Site.childRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_SubBlock_for_Block_in_Site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Combine_All_Blocks_and_SubBlocks_for_Site</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All_Blocks_SubBlocks</name>
        <label>Loop Through All Blocks &amp; SubBlocks</label>
        <locationX>2008</locationX>
        <locationY>1082</locationY>
        <collectionReference>subBlocks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Units_for_Each_Block_in_Site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Units_Status_for_All_Site_Units</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_Site_Blocks_SubBlocks</name>
        <label>Loop Through all Site Blocks &amp; SubBlocks</label>
        <locationX>2140</locationX>
        <locationY>1706</locationY>
        <collectionReference>subBlocks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Block_details_Site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Block_Status_Site</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_SubBlocks</name>
        <label>Loop Through SubBlocks</label>
        <locationX>1612</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_SubBlock_for_Block.childRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Units_for_Each_SubBlock</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Combine_All_Units</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Block_Record_Details</name>
        <label>Set Block Record Details</label>
        <locationX>1612</locationX>
        <locationY>1814</locationY>
        <collectionReference>subBlocks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Block_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Block_Status_Block</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Block_Status</name>
        <label>Update Block Status</label>
        <locationX>1084</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Block_Status__c</field>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unavailability_Reason__c</field>
            <value>
                <elementReference>resetUnavailableReason</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Block_Status_Block</name>
        <label>Update Block Status - (Block)</label>
        <locationX>1612</locationX>
        <locationY>2222</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Completed</targetReference>
        </connector>
        <inputReference>subBlock_Blocks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Block_Status_Site</name>
        <label>Update Block Status - (Site)</label>
        <locationX>2140</locationX>
        <locationY>2114</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Completed</targetReference>
        </connector>
        <inputReference>subBlock_Blocks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <inputReference>Unit_Assignment</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1084</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Locations Updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All units in {!recordId.Name__c} have been updated to {!SelectedChoice}. Click Finish to complete the wizard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Allocated_Units</name>
        <label>Has Allocated Units</label>
        <locationX>1293</locationX>
        <locationY>2564</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Has_Allocated_Units_Text</name>
            <fieldText>&lt;p&gt;Block/Sub Block &lt;strong&gt;&lt;em&gt;{!recordId.Name__c}&lt;/em&gt;&lt;/strong&gt; has at least 1 unit that is housing an animal, and is allocated.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make arrangements to move the animals out of any units in this Block/Sub Block.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Finish&lt;/strong&gt; to Exit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>1293</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordType_Id_for_Unit</targetReference>
        </connector>
        <fields>
            <name>Start_Screen_Text</name>
            <fieldText>&lt;p&gt;To change the status of the current Location and any child Locations, select an option below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Options</name>
                    <choiceReferences>Available_Choice</choiceReferences>
                    <choiceReferences>Unavailable_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status Options</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_Unavailable</name>
                    <choiceReferences>Reason_Unavailable_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason Unavailable</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Status_Options</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Unavailable_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ignore_Allocated_Units</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Ignore Allocated Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Status_Options</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Unavailable_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InitialScreenIgnoreAllocatedWarning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 69, 69);&quot;&gt;WARNING!&lt;/strong&gt;&lt;strong&gt; - &lt;/strong&gt;Setting the above checkbox will update the status of the Units that may house animals&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ignore_Allocated_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;This wizard allows you to update the status for all units within a single block at the same time. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For example if the block needs to be closed for maintenance, you can use this to update the whole block to unavailable.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_RecordType_Error</name>
        <label>Location RecordType Error</label>
        <locationX>2404</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Location_RecordType_Error_Text</name>
            <fieldText>&lt;p&gt;ERROR! - The Location {!recordId.Name__c} has no Record Type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unit_Has_Allocation</name>
        <label>Unit Has Allocation</label>
        <locationX>204</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unit_Has_Allocation_Text</name>
            <fieldText>&lt;p&gt;Unit &lt;strong&gt;&lt;em&gt;{!recordId.Name__c}&lt;/em&gt;&lt;/strong&gt; has an allocation.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make arrangements to move the animal(s) out of the the unit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Finish&lt;/strong&gt; to Exit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1167</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Change_Block_Units_Status_and_Check_for_Allocated_Units</name>
        <label>Change Block Units Status and Check for Allocated Units</label>
        <locationX>1480</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Did_Block_Have_Allocated_Units</targetReference>
        </connector>
        <flowName>Location_Change_Unit_Status_SubFlow</flowName>
        <inputAssignments>
            <name>ignoreAllocatedUnits</name>
            <value>
                <elementReference>Ignore_Allocated_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newUnavailabilityReason</name>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unitsForStatusChange</name>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>allocatedUnits</assignToReference>
            <name>unitsHaveAllocation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Change_SubBlock_Units_Status_and_Check_for_Allocations</name>
        <label>Change SubBlock Units Status and Check for Allocations</label>
        <locationX>996</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Did_SubBlock_Have_Allocated_Units</targetReference>
        </connector>
        <flowName>Location_Change_Unit_Status_SubFlow</flowName>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newUnavailabilityReason</name>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unitsForStatusChange</name>
            <value>
                <elementReference>Get_SubBlock_Units.childRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ignoreAllocatedUnits</name>
            <value>
                <elementReference>Ignore_Allocated_Units</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>allocatedUnits</assignToReference>
            <name>unitsHaveAllocation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Change_Units_Status_for_All_Site_Units</name>
        <label>Change Units Status for All Site Units</label>
        <locationX>2008</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Were_there_any_Allocated_Units</targetReference>
        </connector>
        <flowName>Location_Change_Unit_Status_SubFlow</flowName>
        <inputAssignments>
            <name>ignoreAllocatedUnits</name>
            <value>
                <elementReference>Ignore_Allocated_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>Status_Options</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newUnavailabilityReason</name>
            <value>
                <elementReference>Reason_Unavailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unitsForStatusChange</name>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>allocatedUnits</assignToReference>
            <name>unitsHaveAllocation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Blocks_Related_to_Site</name>
        <label>Get Blocks Related to Site</label>
        <locationX>2008</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_SubBlock_for_Each_Block</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>Block</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_RecordType_Id_for_Unit</name>
        <label>Get RecordType Id for Unit</label>
        <locationX>1293</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>What_is_the_Locations_RecordType</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_SubBlock_for_Block</name>
        <label>Get SubBlock for Block</label>
        <locationX>1480</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Units_Related_to_Block</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>SubBlock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_SubBlock_for_Block_in_Site</name>
        <label>Get SubBlock for Block in Site</label>
        <locationX>2096</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Add_SubBlock_to_Variable</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>SubBlock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Get_SubBlock_for_Each_Block</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_SubBlock_Units</name>
        <label>Get SubBlock Units</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Are_There_SubBlock_Units</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Units_for_Each_Block_in_Site</name>
        <label>Get Units for Each Block in Site</label>
        <locationX>2096</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Add_Unit_for_Each_Block_SubBlock</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Loop_Through_All_Blocks_SubBlocks</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Units_for_Each_SubBlock</name>
        <label>Get Units for Each SubBlock</label>
        <locationX>1700</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Add_Units</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Loop_Through_SubBlocks</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Units_Related_to_Block</name>
        <label>Get Units Related to Block</label>
        <locationX>1480</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Are_there_SubBlocks</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allocatedUnits</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Allocated_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_MultiAnimal_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Units_with_an_Allocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Units_for_Allocated_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>SelectedChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subBlock_Block</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>subBlock_Blocks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>subBlocks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>Unit_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>Units</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
