force-app/main/default/flows/Location_Capacity_and_Availability_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Get_Block_Figures</name>
        <label>Get Block Figures</label>
        <locationX>460</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>totalCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Block_Processing.capacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Block_Processing.allocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Blocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Sublock_Figures</name>
        <label>Get Sublock Figures</label>
        <locationX>440</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>totalCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubBlock_Processing.capacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubBlock_Processing.allocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SubBlocks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Block_Have_SubBlock</name>
        <label>Does Block Have SubBlock?</label>
        <locationX>460</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Block_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_SubBlock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SubBlock_for_Each_Block.childRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_SubBlocks</targetReference>
            </connector>
            <label>Yes Has SubBlock</label>
        </rules>
    </decisions>
    <description>[Animal Shelter] Location Capacity Calculations</description>
    <environments>Default</environments>
    <formulas>
        <name>totalAvailabilityFormula</name>
        <dataType>Number</dataType>
        <expression>{!totalCapacity} - {!totalAllocation}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Location - Capacity and Availability Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Location - Capacity and Availability Calculations</label>
    <loops>
        <name>Loop_Through_Blocks</name>
        <label>Loop Through Blocks</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Blocks_Related_to_Site.childRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_SubBlock_for_Each_Block</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Site_Figures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_SubBlocks</name>
        <label>Loop Through SubBlocks</label>
        <locationX>352</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_SubBlock_for_Each_Block.childRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SubBlock_Processing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Block_Processing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Id of the Site using the Sitename Formula Field</description>
        <name>Get_Id_of_the_Site_Location_Record</name>
        <label>Get Id of the Site Location Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Blocks_Related_to_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_ID_of_the_Site.locationSiteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Site_Figures</name>
        <label>Update Site Figures</label>
        <locationX>176</locationX>
        <locationY>1763</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Id_of_the_Site_Location_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Capacity__c</field>
            <value>
                <elementReference>totalAvailabilityFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Capacity__c</field>
            <value>
                <elementReference>totalCapacity</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_ID_of_the_Site</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name}=&apos;Unit&apos;</filterFormula>
        <object>Locations__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Block_Processing</name>
        <label>Block Processing</label>
        <locationX>460</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_Block_Figures</targetReference>
        </connector>
        <flowName>Location_Calculations_SubFlow</flowName>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Loop_Through_Blocks</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Blocks_Related_to_Site</name>
        <label>Get Blocks Related to Site</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_Through_Blocks</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>Block</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Get_Id_of_the_Site_Location_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_SubBlock_for_Each_Block</name>
        <label>Get SubBlock for Each Block</label>
        <locationX>460</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Does_Block_Have_SubBlock</targetReference>
        </connector>
        <flowName>Location_Get_Location_Child_Records_Subflow</flowName>
        <inputAssignments>
            <name>childRecordTypeName</name>
            <value>
                <stringValue>SubBlock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Loop_Through_Blocks</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_the_ID_of_the_Site</name>
        <label>Get the ID of the Site</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Id_of_the_Site_Location_Record</targetReference>
        </connector>
        <flowName>Location_Get_Site_Id_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SubBlock_Processing</name>
        <label>SubBlock Processing</label>
        <locationX>440</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Get_Sublock_Figures</targetReference>
        </connector>
        <flowName>Location_Calculations_SubFlow</flowName>
        <inputAssignments>
            <name>locationRecord</name>
            <value>
                <elementReference>Loop_Through_SubBlocks</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>totalAllocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
