force-app/main/default/flows/Location_Capacity_Availability_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Capacity_and_Availability</name>
        <label>Add Capacity and Availability</label>
        <locationX>440</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>unitCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Units.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitAvailability</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Units.Availability__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_numbers_to_Site_Variables</name>
        <label>Add numbers to Site Variables</label>
        <locationX>352</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>siteCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>blockCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siteAvailability</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>blockAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Block_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Unit_figures_to_Block_Variables</name>
        <label>Add Unit figures to Block Variables</label>
        <locationX>352</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>blockCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>unitCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockAvailability</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>unitAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Unit_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Block_record_with_Totals</name>
        <label>Build Block record with Totals</label>
        <locationX>352</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>recordToWrite.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Blocks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToWrite.Total_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blockCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToWrite.Available_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blockAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_numbers_to_Site_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Individual_records_into_Collection</name>
        <label>Combine Individual records into Collection</label>
        <locationX>352</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>recordsToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordToWrite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Blocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Block_Variables</name>
        <label>Reset Block Variables</label>
        <locationX>352</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>blockAvailability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Combine_Individual_records_into_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Unit_Variables</name>
        <label>Reset Unit Variables</label>
        <locationX>352</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>unitAvailability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Block_record_with_Totals</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Collection_for_Units</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Collection for Units</label>
        <locationX>352</locationX>
        <locationY>863</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Units</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>allUnitsInSite</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Units.Parent_Block__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Blocks.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Units</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Location - Capacity &amp; Availability Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location - Capacity &amp; Availability Calculations</label>
    <loops>
        <name>Loop_Through_Blocks</name>
        <label>Loop Through Blocks</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>allBlocksInSite</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Collection_for_Units</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Block_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Units</name>
        <label>Loop Through Units</label>
        <locationX>352</locationX>
        <locationY>971</locationY>
        <collectionReference>Filter_Collection_for_Units</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Capacity_and_Availability</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Unit_figures_to_Block_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Blocks_and_SubBlocks_under_the_Site</name>
        <label>Get All Blocks and SubBlocks under the Site</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Blocks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site_Record_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>unitRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>siteRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>allBlocksInSite</outputReference>
        <queriedFields>Available_Capacity__c</queriedFields>
        <queriedFields>Total_Capacity__c</queriedFields>
        <queriedFields>Parent_Location_Id__c</queriedFields>
        <queriedFields>Site_Record_Id__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Parent_Block__c</queriedFields>
        <queriedFields>Availability__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Units_Where_Site_ID_Matches</name>
        <label>Get All Units Where Site ID Matches</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Blocks_and_SubBlocks_under_the_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site_Record_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>allUnitsInSite</outputReference>
        <queriedFields>Allocation__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Parent_Location_Id__c</queriedFields>
        <queriedFields>Site_Record_Id__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Parent_Block__c</queriedFields>
        <queriedFields>Availability__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Block_Totals</name>
        <label>Update all Block Totals</label>
        <locationX>176</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Update_the_Site_Totals</targetReference>
        </connector>
        <inputReference>recordsToWrite</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Site with the Total Capacity and Availability</description>
        <name>Update_the_Site_Totals</name>
        <label>Update the Site Totals</label>
        <locationX>176</locationX>
        <locationY>2111</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site_Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Capacity__c</field>
            <value>
                <elementReference>siteAvailability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Capacity__c</field>
            <value>
                <elementReference>siteCapacity</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <sourceTemplate>Location_Capacity_and_Availability_Calculations</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unit_RecordType_Id</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name}=&apos;Unit&apos;</filterFormula>
        <object>Locations__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Site_RecordType_Id</name>
        <label>Get Site RecordType Id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_All_Units_Where_Site_ID_Matches</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>siteRecordTypeId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Unit_RecordType_Id</name>
        <label>Get Unit RecordType Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Site_RecordType_Id</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>unitRecordTypeId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>allBlocksInSite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>allUnitsInSite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <description>The Availability of the Block, the Capacity - the Allocation</description>
        <name>blockAvailability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The Capacity of the Block, the sum of the Unit&apos;s Capacity</description>
        <name>blockCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordsToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>siteAvailability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>siteCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>siteRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitAvailability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>unitCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>unitRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
