force-app/main/default/flows/Location_Get_Site_Id_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Site_Block_Site</name>
        <label>Site = Block - Site</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>locationSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Parent_Block__r.Parent_Block__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Site_Parent</name>
        <label>Site = Parent</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>locationSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Parent_Block__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Site_Parent_Parent</name>
        <label>Site = Parent - Parent</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>locationSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Parent_Block__r.Parent_Block__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Site_Parent_Parent_Parent</name>
        <label>Site = Parent - Parent - Parent</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>locationSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Parent_Block__r.Parent_Block__r.Parent_Block__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Site_Site</name>
        <label>Site = Site</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>locationSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Parent_Block_or_SubBlock</name>
        <label>Is Parent Block or SubBlock</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Site_Block_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent = Block</defaultConnectorLabel>
        <rules>
            <name>Parent_SubBlock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Parent_Block__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Parent_Parent_Parent</targetReference>
            </connector>
            <label>Parent = SubBlock</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Record_Type</name>
        <label>What is the Record Type?</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Site_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site</defaultConnectorLabel>
        <rules>
            <name>Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Parent_Block_or_SubBlock</targetReference>
            </connector>
            <label>Unit</label>
        </rules>
        <rules>
            <name>Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Parent</targetReference>
            </connector>
            <label>Block</label>
        </rules>
        <rules>
            <name>SubBlock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Parent_Parent</targetReference>
            </connector>
            <label>SubBlock</label>
        </rules>
    </decisions>
    <description>[Animal Shelter]  Subflow to determine the Site Id for a given Location</description>
    <environments>Default</environments>
    <interviewLabel>Location - Get Site Id Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Location - Get Site Id Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>locationSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
