force-app/main/default/flows/Task_Update_Future_Movement_Record_on_Task_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>[Animal Shelter] - When a Movement Task is completed the Movement Record is Updated</description>
    <environments>Default</environments>
    <formulas>
        <name>locationNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Movement__r.Type__c} = &quot;Housed&quot;,
       {!$Record.Movement__r.Type__c} + &quot; - &quot; + {!$Record.Movement__r.Location_Name__c},
               {!$Record.Movement__r.Type__c}
)</expression>
    </formulas>
    <interviewLabel>Task - Update Future Movement Record on Task Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Update Future Movement Record on Task Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Animals_Current_Movement_Record</name>
        <label>Get Animals Current Movement Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Movement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Location_Field</name>
        <label>Update Animal Location Field</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Location_Status__c</field>
            <value>
                <elementReference>locationNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>$Record.Movement__r.Sitename__c</elementReference>
            </value>
        </inputAssignments>
        <object>Animal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Movement_Record</name>
        <label>Update Current Movement Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Task_Associated_Movement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Animals_Current_Movement_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Movement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Associated_Movement_Record</name>
        <label>Update Task Associated Movement Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Animal_Location_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Movement_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Movement__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Animals_Current_Movement_Record</targetReference>
        </connector>
        <filterFormula>AND(
ISPICKVAL({!$Record.Type}, &quot;Animal Movement&quot;),
ISPICKVAL({!$Record.Status}, &quot;Completed&quot;),
ISPICKVAL({!$Record.Movement__r.Movement_Status__c}, &quot;Pending&quot;))</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
