force-app/main/default/flows/Task_Close_associated_Animal_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>[Animal Shelter] - When a Task is marked as complete the associated Animal Action Record is marked as completed</description>
    <environments>Default</environments>
    <interviewLabel>Task - Close associated Animal Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Close associated Animal Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the associated Animal Action record based on Task WhoId</description>
        <name>Get_Associated_Animal_Action_Record</name>
        <label>Get Associated Animal Action Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Animal_Action_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.%%%NAMESPACED_ORG%%%Animal_Action__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACED_ORG%%%Animal_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Animal Action record associated with the task. Animal Action record is marked as complete</description>
        <name>Update_Animal_Action_record</name>
        <label>Update Animal Action record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Animal_Action_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Action_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Action_Status__c</field>
            <value>
                <stringValue>Given</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Comments__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACED_ORG%%%Date_Time_Action_Completed__c</field>
            <value>
                <elementReference>$Record.CompletedDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACED_ORG%%%Animal_Action__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_Animal_Action_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
