force-app/main/default/flows/Test_Screen_Calculations_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Build_All_Recotrds</name>
        <label>Build All Recotrds</label>
        <locationX>352</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>recordsToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordToWrite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Units_for_Block</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Records_to_Write</name>
        <label>Build Records to Write</label>
        <locationX>352</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recordToWrite.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Blocks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToWrite.Total_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blockCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToWrite.Available_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blockAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rtw</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clear_total</name>
        <label>clear total</label>
        <locationX>352</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>blockAvailability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_All_Recotrds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>440</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>unitCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Units.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitAvailability</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Units.Availability__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_cap</name>
        <label>reset cap</label>
        <locationX>352</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>unitAvailability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>unitCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Records_to_Write</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Site_Calculations</name>
        <label>Site Calculations</label>
        <locationX>352</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>siteCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>blockCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siteAvailability</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>blockAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>clear_total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Totals</name>
        <label>Totals</label>
        <locationX>352</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>blockCapacity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>unitCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockAvailability</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>unitAvailability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sad</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Units</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Units</label>
        <locationX>352</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Units</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>allUnits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Units.Parent_Block__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Blocks.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Current_Block</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>blockAvailabilityFormula</name>
        <dataType>Number</dataType>
        <expression>{!unitCapacity} - {!unitAvailability}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>totalAvailabilityFormula</name>
        <dataType>Number</dataType>
        <expression>{!blockCapacity} - {!blockAvailability}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Test Screen Calculations flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Screen Calculations flow</label>
    <loops>
        <name>Loop_Through_Blocks</name>
        <label>Loop Through Blocks</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <collectionReference>allBlocks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_All_Blocks_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Blocks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Units</name>
        <label>Loop through Units</label>
        <locationX>352</locationX>
        <locationY>1322</locationY>
        <collectionReference>Filter_for_Units</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dfg</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Units_Where_Site_ID_Matches</name>
        <label>Get All Units Where Site ID Matches</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Units_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Site_Record_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>allUnits</outputReference>
        <queriedFields>Allocation__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>Parent_Location_Id__c</queriedFields>
        <queriedFields>Site_Record_Id__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Parent_Block__c</queriedFields>
        <queriedFields>Availability__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Units_under_Site</name>
        <label>Get Non Units under Site</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_All_Units_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Site_Record_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>unitRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>siteRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Locations__c</object>
        <outputReference>allBlocks</outputReference>
        <queriedFields>Available_Capacity__c</queriedFields>
        <queriedFields>Total_Capacity__c</queriedFields>
        <queriedFields>Parent_Location_Id__c</queriedFields>
        <queriedFields>Site_Record_Id__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Parent_Block__c</queriedFields>
        <queriedFields>Availability__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Blocks</name>
        <label>Update Blocks</label>
        <locationX>176</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Update_Site</targetReference>
        </connector>
        <inputReference>recordsToWrite</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site</name>
        <label>Update Site</label>
        <locationX>176</locationX>
        <locationY>2894</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Site_Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Capacity__c</field>
            <value>
                <elementReference>siteAvailability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Capacity__c</field>
            <value>
                <elementReference>siteCapacity</elementReference>
            </value>
        </inputAssignments>
        <object>Locations__c</object>
    </recordUpdates>
    <screens>
        <name>All_Units_Screen</name>
        <label>All Units Screen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Non_Units_under_Site</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Screen_1_txt</name>
            <fieldText>&lt;p&gt;All Units&lt;/p&gt;&lt;p&gt;{!allUnits}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_All_Blocks_Screen</name>
        <label>Current Block</label>
        <locationX>352</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_for_Units</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_3_of_Screen_1_txt</name>
            <fieldText>&lt;p&gt;Current Block&lt;/p&gt;&lt;p&gt;{!Loop_Through_Blocks.Name__c}&lt;/p&gt;&lt;p&gt;{!Loop_Through_Blocks}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_All_Units_Screen</name>
        <label>All Blocks Screen</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Blocks</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_3_of_Screen_1_txt</name>
            <fieldText>&lt;p&gt;All Blocks&lt;/p&gt;&lt;p&gt;{!allBlocks}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Current_Block</name>
        <label>Units for Block</label>
        <locationX>352</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Units</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_3_of_Screen_1_txt</name>
            <fieldText>&lt;p&gt;Current Units&lt;/p&gt;&lt;p&gt;{!Filter_for_Units}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Units_for_Block</name>
        <label>Copy 1 of Units for Block</label>
        <locationX>352</locationX>
        <locationY>2594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Blocks</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_3_of_Screen_1_txt</name>
            <fieldText>&lt;p&gt;Records to Write&lt;/p&gt;&lt;p&gt;{!recordsToWrite}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>dfg</name>
        <label>dfg</label>
        <locationX>352</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Totals</targetReference>
        </connector>
        <fields>
            <name>sdfg</name>
            <fieldText>&lt;p&gt;Unit Capacity: {!unitCapacity}&lt;/p&gt;&lt;p&gt;Unit Allocation: {!unitAvailability}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>rtw</name>
        <label>rtw</label>
        <locationX>352</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Site_Calculations</targetReference>
        </connector>
        <fields>
            <name>rtwText</name>
            <fieldText>&lt;p&gt;Record To Write ID: {!recordToWrite.Id}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Record To Write Available Capacity:&lt;/span&gt;{!recordToWrite.Available_Capacity__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Record To Write Total Capacity:&lt;/span&gt;{!recordToWrite.Total_Capacity__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sad</name>
        <label>sad</label>
        <locationX>352</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>reset_cap</targetReference>
        </connector>
        <fields>
            <name>sadf</name>
            <fieldText>&lt;p&gt;Block Capacity: {!blockCapacity}&lt;/p&gt;&lt;p&gt;Block Availability: {!blockAvailability}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Units_Where_Site_ID_Matches</targetReference>
        </connector>
        <fields>
            <name>Screen_1_txt</name>
            <fieldText>&lt;p&gt;Incoming Record Id: {!recordId.Id}&lt;/p&gt;&lt;p&gt;Incoming Record Type: {!recordId.RecordType.Name}&lt;/p&gt;&lt;p&gt;Incoming Location Name: {!recordId.Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Incoming Parent Record Id: {!recordId.Parent_Location_Id__c}&lt;/p&gt;&lt;p&gt;Incoming Site Record Id: {!recordId.Site_Record_Id__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Location_Capacity_and_Availability_Calculations</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unit_RecordType_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Site_RecordType_Id</name>
        <label>Get Site RecordType Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>siteRecordTypeId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Unit_RecordType_Id</name>
        <label>Get Unit RecordType Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Site_RecordType_Id</targetReference>
        </connector>
        <flowName>Animal_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>developerName</name>
            <value>
                <stringValue>Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectName</name>
            <value>
                <stringValue>animalshelters__Locations__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>unitRecordTypeId</assignToReference>
            <name>returnedRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>allBlocks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>allUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <description>The Availability of the Block, the Capacity - the Allocation</description>
        <name>blockAvailability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The Capacity of the Block, the sum of the Unit&apos;s Capacity</description>
        <name>blockCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordsToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>recordToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>siteAvailability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>siteCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>siteRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitAvailability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>unitCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>unitRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
