packaged/flows/Animal_Exercise_Action_Completion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>AnimalActionExerciseRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Action_Lookup_Name__c</displayField>
        <filters>
            <field>Animal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalActionRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Animal_Action__c</object>
        <outputAssignments>
            <assignToReference>AnimalActionStartDateTime</assignToReference>
            <field>Date_Time_of_Action__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AnimalActionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Date_Time_of_Action__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AnimalActionGivenByRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>CalculateEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!AnimalActionStartDateTime} + ({!Exercise_Duration}/24)</expression>
    </formulas>
    <interviewLabel>Animal Exercise Action Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Animal - Exercise Action Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Animal_Action_Exercise_RecordTypeID</name>
        <label>Get Animal Action Exercise RecordTypeID</label>
        <locationX>68</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exercise_Details_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exercise</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>animalshelter__Animal_Action__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AnimalActionRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Animal_Action_Exercise_Record</name>
        <label>Update Animal Action Exercise Record</label>
        <locationX>576</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AnimalActionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Exercise_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_Action_Completed__c</field>
            <value>
                <elementReference>CalculateEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exercise_Duration__c</field>
            <value>
                <elementReference>Exercise_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Given_By__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <object>Animal_Action__c</object>
    </recordUpdates>
    <screens>
        <name>End_Screen</name>
        <label>End_Screen</label>
        <locationX>786</locationX>
        <locationY>541</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End_Screen_Text</name>
            <fieldText>&lt;p&gt;Exercise has been logged&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>61</locationX>
        <locationY>838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error Encountered&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exercise_Details_Screen</name>
        <label>Exercise Details Screen</label>
        <locationX>262</locationX>
        <locationY>533</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Animal_Action_Exercise_Record</targetReference>
        </connector>
        <fields>
            <name>Exercise_Details_Text</name>
            <fieldText>&lt;p&gt;Enter the details of the completed Exercise&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exercise_Details_Header0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Exercise Action&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exercise_Action_Choice</name>
            <choiceReferences>AnimalActionExerciseRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exercise Action Choice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Exercise_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Exercise Duration (Hours)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Total number of treatments&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Exercise_Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exercise_Header_GivenBy</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Given By&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Given_By_Picklist</name>
            <choiceReferences>AnimalActionGivenByRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Given By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>68</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Get_Animal_Action_Exercise_RecordTypeID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnimalActionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnimalActionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Action__c</objectType>
    </variables>
    <variables>
        <name>AnimalActionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Animal_Action__c</objectType>
    </variables>
    <variables>
        <name>AnimalActionRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AnimalActionStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
